<p-blockUI [blocked]="bloquearPag" [baseZIndex]="1001">
    <img src="assets\img\ZZ5H.gif" style="width: 5%">
</p-blockUI>

<p-confirmDialog #c key="confirm">
    <p-footer>
        <button pButton type="button" icon="fa fa-check" label="Si" class="ui-button-rounded ui-button-danger"
            (click)="c.accept()"></button>
        <button pButton type="button" icon="fa fa-close" label="No" class="ui-button-rounded"
            (click)="c.reject()"></button>
    </p-footer>
</p-confirmDialog>
<nb-card fixed>
    <nb-card-header>
        <div class="row">
            <div class="col-sm-4">
                <h4 class="titulonuevo">Perfil de Usuario</h4>
            </div>
            <br>
            <br>
            <br>
            <div class="col-sm-2" style="background-color: transparent;"></div>
            <div class="col-sm-6" style="background-color: transparent;" aria-orientation="horizontal">
                <button pButton icon="fa fa-search" type="button" title="Buscar" label="Buscar"
                    class="p-button-secondary" (click)="coreBuscar()"></button>
                <button pButton icon="fa fa-file" type="button" title="Nuevo" label="Nuevo" class="p-button-secondary"
                    (click)="coreNuevo()"></button>
                <p-splitButton label="Exportar" icon="fa fa-file-pdf" (onClick)="exportExcel()"
                    styleClass="p-button-text p-button-secondary" [model]="ltsExportar"></p-splitButton>
            </div>
        </div>
    </nb-card-header>
    <nb-card-body>
        <p-fieldset legend="Información Consulta" (keyup.enter)="coreBuscar()">
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="inputLastName" class="label">Perfil</label>
                        <input pInputText type="text" placeholder=""
                            style="width:100%; height: 30px; text-transform: uppercase;" [(ngModel)]="filtro.perfil" />
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="inputLastName" class="label">Estado</label>
                        <!-- <p-dropdown [style]="{'width':'100%','text-transform': 'uppercase'}" appendTo="body" [options]="lstVaEstado" [(ngModel)]="filtro.estado"
                            placeholder="Seleccionar Estado"></p-dropdown> -->
                        <p-dropdown [(ngModel)]="filtro.estado" [options]="lstVaEstado"
                            [style]="{'width':'100%','text-transform': 'uppercase'}" placeholder="Seleccionar Estado" >
                        </p-dropdown>
                    </div>
                </div>
            </div>
        </p-fieldset>

        <br>

        <p-fieldset legend="Detalle">
            <p-table #dt [rows]="15" [paginator]="true" [rowHover]="true" dataKey="num" [value]="lstPerfil"
                [responsive]="true" [sortOrder]="1" sortField="num"
                currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
                [rowsPerPageOptions]="[15,30,50]" [showCurrentPageReport]="true" [scrollable]="true"
                scrollHeight="300px">
                <ng-template pTemplate="header">
                    <tr>
                        <th class="tablaHeaderCheckBox">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th class="tablaHeaderAccion3 label" ALIGN="center">Acciones</th>
                        <th pSortableColumn="num" class="label" ALIGN="center" style="width: 3rem;  ">Nro <p-sortIcon
                                field="num"> </p-sortIcon>
                        </th>
                        <th pSortableColumn="perfil" class="label" ALIGN="center" style="width: 10rem;  ">
                            Perfil<p-sortIcon field="perfil"></p-sortIcon>
                        </th>
                        <th pSortableColumn="estado" class="label" ALIGN="center" style="width: 5rem;  ">
                            Estado<p-sortIcon field="estado"></p-sortIcon>
                        </th>


                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData>
                    <tr>
                        <td class="tablaColumnaCheckBox">
                            <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                        </td>
                        <td class="tablaColumnaAccion3">
                            <span class="p-column-title">Acción</span>
                            <table>
                                <tr>
                                    <th>
                                        <button pButton pRipple type="button" icon="fad fa-pencil-alt"
                                            class="p-button-rounded p-button-text" title="Editar"
                                            (click)="coreEditar(rowData)"></button>
                                    </th>
                                    <th>
                                        <button pButton pRipple type="button" icon="fad fa-search"
                                            (click)="coreVer(rowData)" class="p-button-rounded p-button-text"
                                            title="Ver"></button>
                                    </th>
                                    <th>
                                        <button pButton pRipple type="button" icon="fad fa-minus-circle"
                                            *ngIf="rowData.Estado == 'A' ||rowData.desestado == 'A'" (click)="coreinactivar(rowData)"
                                            class="p-button-rounded p-button-text" title="Inactivar"></button>
                                    </th>
                                </tr>
                            </table>
                        </td>
                        <td class="tablaColumnaCodigoChico text-center" style="width: 3rem;">
                            <span class="p-column-title">Nro</span>
                            {{rowData.num}}
                        </td>

                        <td class="tablaColumnaCodigoChico" ALIGN="center" style="width: 10rem;">
                            <span class="p-column-title">Perfil</span>
                            <span>{{rowData.perfil|uppercase}}</span>
                        </td>
                        <td class="tablaColumnaCodigoChico" ALIGN="center" style="width: 5rem;">
                            <span class="p-column-title">Estado</span>
                            <span>{{rowData.estado|uppercase}}</span>
                        </td>

                    </tr>
                </ng-template>
            </p-table>
        </p-fieldset>
    </nb-card-body>
</nb-card>
<ngx-perfil-usuario-mantenimiento (obtenerSecuencia)="obtenerSecuencia()"></ngx-perfil-usuario-mantenimiento>
<p-confirmDialog [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '30vw'}"></p-confirmDialog>
<p-toast key="bc"  [baseZIndex]="1003"></p-toast>