<p-blockUI [blocked]="bloquearPag" [baseZIndex]="10000">
  <img src="assets\img\ZZ5H.gif" style="width: 5%">
</p-blockUI>
<p-confirmDialog #c key="refinanciar" [visible]="visible" [baseZIndex]="10000">
  <p-footer>
    <button pButton type="button" icon="fa fa-check" label="Si, Guardar" class="ui-button-rounded ui-button-danger"
      (click)="c.accept()"></button>
    <button pButton type="button" icon="fa fa-close" label="No, Cancelar" class="ui-button-rounded"
      (click)="c.reject()"></button>
  </p-footer>
</p-confirmDialog>

<p-dialog [(visible)]="dialog" [draggable]="false" [modal]="true" [resizable]="false" [breakpoints]="{'950px': '75vw'}"
  [style]="{width: '850px'}" [header]="titulo" [position]="position" [maximizable]="true" [baseZIndex]="10000">

    <ng-template pTemplate="content">
        <br>
        <p-fieldset legend="Datos">
            <div class="container">
            <div class="row">
                <!-- Código Muestra -->
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="idmuestra" class="label">Código Muestra</label>
                        <div class="p-inputgroup">
                            <input pInputText type="text" id="idmuestra" [(ngModel)]="dto.IdMuestra" 
                                style="width:100%; background-color: #FFFACD;" />
                        </div>
                    </div>
                </div>

                <!-- Nombre -->
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="nombre" class="label">Nombre</label>
                        <div class="p-inputgroup">
                            <input pInputText type="text" id="nombre" [(ngModel)]="dto.Nombre" 
                                style="width:100%; background-color: #FFFACD;" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- Tapa -->
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="tapa" class="label">Tapa</label>
                        <div class="p-inputgroup">
                            <input pInputText type="text" id="tapa" [(ngModel)]="dto.Observacion" 
                                style="width:100%; background-color: #FFFACD;" />
                        </div>
                    </div>
                </div>

                <!-- Cantidad de Impresión -->
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="cantidadImpresion" class="label">Cantidad Impresión</label>
                        <div class="p-inputgroup">
                            <input pInputText type="number" id="cantidadImpresion" [(ngModel)]="dto.Cantidad" 
                                style="width:100%; background-color: #FFFACD;" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- Punto de Impresión -->
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="puntoImpresion" class="label">Punto de Impresión</label>
                        <div class="p-inputgroup">
                            <input pInputText type="text" id="puntoImpresion" [(ngModel)]="dto.PuntoImpresion" 
                                style="width:100%; background-color: #FFFACD;" />
                        </div>
                    </div>
                </div>

                <!-- Estado -->
                <div class="col-sm-4">
                    <div class="form-group">
                    <label for="inputLastName" class="label">Estado</label>
                    <p-dropdown [options]="lstEstado" [(ngModel)]="filtro.Estado" [(ngModel)]="dto.Estado" 
                        [disabled]="puedeEditar" 
                        [placeholder]="'Seleccione un estado'" 
                        [style]="{'width':'100%','text-transform': 'uppercase'}"></p-dropdown>
                  </div>
                </div>
            </div>
            </div>
        </p-fieldset>
        <br>
        <p-fieldset legend="Auditoria">
            <ngx-auditoria [creacionUsuario]="usuario" [creacionFecha]="fechaCreacion"
                [modificacionFecha]="fechaModificacion"></ngx-auditoria>
        </p-fieldset>
    </ng-template>

    <ng-template pTemplate="footer">
    <p-button label="Guardar" icon="pi pi-save" styleClass="p-button-primary" [disabled]="puedeEditar" type="submit"
      (click)="coreGuardar()"></p-button>
  </ng-template>
</p-dialog>
<p-toast></p-toast>
<p-toast [showTransformOptions]="'translateY(90%)'" [baseZIndex]="10000" key="notification"
  position="top-right"></p-toast>