
// .p-calendar {
//   &.p-error > .p-inputtext,
//   &.p-invalid > .p-inputtext {
//       @include invalid-input();
//   }
// }

// p-calendar.ng-dirty.ng-invalid > .p-calendar > .p-inputtext {
//   @include invalid-input();
// }

.botonbuscar{
    background-color: #094d74;
    border-color: #094d74;
}

// p-calendar .showIcon{
//   background-color: #094d74 !important;
//  }

.tablacabecera{
    background-color: #9cb9d1;
}
.titulonuevo{
    font-weight: bold;
                line-height: 1.15;
                color: #004b76;
                
}

.bordercard{
    border-top-color: #ece9e9;
    border-top-style: solid;
    border-top-width: 0.25rem;
    border-radius: 0.5rem;
}

.fondocard{
    background-image:linear-gradient(to bottom, #FFFFFF, #ffffff);
    box-shadow: 2px 2px 6px #666;
    
}
.fondocard2{
    background-color: #ffffff;
    box-shadow: 1px 1px 1px 1px rgb(182, 182, 182);
    color:#404040;    
}

.fondocard2 label{
    color:#1a1a1c;    
}


::placeholder{
  color: #444343;
  font-size: 1rem;
}

.rows {
    display: flex;
    flex-direction: row;
  }

.cdk-text-field-autofill-monitored:not(:autofill) {
    animation: cdk-text-field-autofill-end 0s 1ms;
  }

  .green .mat-input-element {
    caret-color: #009688;
  }

  input.mat-input-element {
    margin-top: -.0625em;
  }

  .mat-input-element, .mat-input-element::-webkit-search-cancel-button, .mat-input-element::-webkit-search-decoration, .mat-input-element::-webkit-search-results-button, .mat-input-element::-webkit-search-results-decoration {
    -webkit-appearance: none;
  }

  .mat-input-element {
    font: inherit;
    background: transparent;
    color: currentColor;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    margin-top: 0px;
    width: 100%;
    max-width: 100%;
    vertical-align: bottom;
    text-align: inherit;
  }
