<p-blockUI [blocked]="bloquearPag">
    <img src="assets\img\ZZ5H.gif" style="width: 5%">
  </p-blockUI>
  <p-confirmDialog #c key="confirm2">
    <p-footer>
      <button pButton type="button" icon="fa fa-check" label="Si" class="ui-button-rounded ui-button-danger"
        (click)="c.accept()"></button>
      <button pButton type="button" icon="fa fa-close" label="No" class="ui-button-rounded" (click)="c.reject()"></button>
    </p-footer>
  </p-confirmDialog>
  
  <p-card>
    <nb-card-header>
      <nav class="fixed">
          <ngx-header-titulo [objTitulo]="objetoTitulo"></ngx-header-titulo>
      </nav>
  </nb-card-header>
  <nb-card-body>
    <p-fieldset legend="Información Consulta">
      <div class="row">
        <div class="col-sm-4">
          <label for="inputOrdAten" class="label">Código</label>
          <input pInputText type="text" placeholder="" style="width:100%; height: 30px; text-transform: uppercase;"
            [(ngModel)]="filtro.SedCodigo" (keypress)="defaultBuscar($event)" />
        </div>
  
        <div class="col-sm-4">
          <label for="inputOrdAten" class="label">Sucursal</label>
          <input pInputText type="text" placeholder="" style="width:100%; height: 30px; text-transform: uppercase;"
            [(ngModel)]="filtro.SedDescripcion" (keypress)="defaultBuscar($event)" />
        </div>
        <div class="col-sm-4">
          <label for="inputOrdAten" class="label">Compañia</label>
          <p-dropdown [options]="lstCompania" [filter]="true" [(ngModel)]="filtro.IdEmpresa"
            [style]="{'width':'100%','text-transform': 'uppercase'}"></p-dropdown>
        </div>
        <div class="col-sm-4">
          <label for="inputLastName" class="label">Estado</label>
          <p-dropdown [options]="lstEstado" [(ngModel)]="filtro.SedEstado"
            [style]="{'width':'100%','text-transform': 'uppercase'}"></p-dropdown>
        </div>
      </div>
    </p-fieldset>
        <br>
    <p-fieldset legend="Información Consulta">
      <p-table #dt [rows]="15" [paginator]="true" [rowHover]="true" dataKey="num" [value]="lstSucursaltb"
        [responsive]="true" [sortOrder]="1" sortField="num"
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
        [rowsPerPageOptions]="[15,30,50]" [showCurrentPageReport]="true" [scrollable]="true" scrollHeight="300px">
        <ng-template pTemplate="header">
          <tr>
            <!-- <th class="tablaHeaderCheckBox">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th> -->
            <th class="tablaHeaderAccion3 label" ALIGN="center">Acciones</th>
            <th pSortableColumn="num" class="label text-center" ALIGN="center" style="width: 5rem;  ">Nro <p-sortIcon field="num">
              </p-sortIcon>
            </th>
            <th pSortableColumn="NombreCompleto" class="label text-center" ALIGN="center" style="width: 18rem;  ">Empresa<p-sortIcon
                field="NombreCompleto"></p-sortIcon>
            </th>
            <th pSortableColumn="SedCodigo" class="label text-center" ALIGN="center" style="width: 5rem; ">Codigo<p-sortIcon
                field="SedCodigo"></p-sortIcon>
            </th>
            <th pSortableColumn="SedDescripcion" class="label text-center" ALIGN="center" style="width: 10rem;  ">Sucursal<p-sortIcon
                field="SedDescripcion"></p-sortIcon>
            </th>
            <th pSortableColumn="Direccion" class="label text-center" ALIGN="center" style="width: 10rem;  ">Dirección<p-sortIcon
                field="Direccion"></p-sortIcon>
            </th>
            <th pSortableColumn="Telefono" class="label text-center" ALIGN="center" style="width: 7rem;  ">Telefono<p-sortIcon
                field="Telefono"></p-sortIcon>
            </th>
            <th pSortableColumn="DescEstado" class="label text-center" ALIGN="center" style="width: 5rem;  ">Estado<p-sortIcon
                field="DescEstado"></p-sortIcon>
            </th>
  
  
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData>
          <tr>
            <!-- <td class="tablaColumnaCheckBox">
              <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
            </td> -->
            <td class="tablaColumnaAccion3">
              <span class="p-column-title">Acción</span>
              <table>
                <tr>
                  <th>
                    <button pButton pRipple type="button" icon="fad fa-pencil-alt" class="p-button-rounded p-button-text"
                      title="Editar" (click)="coreEditar(rowData)"></button>
                  </th>
                  <th>
                    <button pButton pRipple type="button" icon="fad fa-search" (click)="coreVer(rowData)"
                      class="p-button-rounded p-button-text" title="Ver"></button>
                  </th>
                  <th>
                    <button pButton pRipple type="button" icon="fad fa-minus-circle" *ngIf="rowData.SedEstado == '1' "
                      (click)="coreinactivar(rowData)" class="p-button-rounded p-button-text" title="Inactivar"></button>
                  </th>
                  <th>
                    <button pButton pRipple type="button" icon="fa fa-check-circle" 
                      (click)="coreCompartir(rowData)" class="p-button-rounded p-button-text" title="Compartir"></button>
                  </th>                  
                </tr>
              </table>
            </td>
            <td class="tablaColumnaCodigoChico text-center" style="width: 5rem;">
              <span class="p-column-title">Nro</span>
              {{rowData.num}}
            </td>
            <td class="tablaColumnaCodigoChico text-center" ALIGN="center" style="width: 18rem;">
              <span class="p-column-title">Empresa</span>
              <span>{{rowData.NombreCompleto|uppercase}}</span>
            </td>
            <td class="tablaColumnaCodigoChico text-center" ALIGN="center" style="width: 5rem;">
              <span class="p-column-title">Codigo</span>
              <span>{{rowData.SedCodigo|uppercase}}</span>
            </td>
            <td class="tablaColumnaCodigoChico text-center" ALIGN="center" style="width: 10rem;">
              <span class="p-column-title">Descripcion</span>
              <span>{{rowData.SedDescripcion|uppercase}}</span>
            </td>
            <td class="tablaColumnaCodigoChico text-center" ALIGN="center" style="width: 10rem;">
              <span class="p-column-title">Direccion</span>
              <span>{{rowData.Direccion|uppercase}}</span>
            </td>
            <td class="tablaColumnaCodigoChico text-center" ALIGN="center" style="width: 7rem;">
              <span class="p-column-title">Telefono</span>
              <span>{{rowData.Telefono|uppercase}}</span>
            </td>
<!--             <td class="tablaColumnaCodigoChico text-center" ALIGN="center" style="width: 5rem;">
              <span class="p-column-title">Estado</span>
              <span>{{rowData.DescEstado|uppercase}}</span>
            </td> -->
            <td class="tablaColumnaEstado">
              <span class="p-column-title">Estado</span>
              <label *ngIf="rowData.SedEstado == '1'" class="tablaEstadoActivo">Activo</label>
              <label *ngIf="rowData.SedEstado == '2'" class="tablaEstadoInactivo">Inactivo</label>
          </td>

          </tr>
        </ng-template>
      </p-table>
    </p-fieldset>
  </nb-card-body>
  </p-card>
  <ngx-sedes-mantenimiento></ngx-sedes-mantenimiento>
  <ngx-sedescompartida></ngx-sedescompartida>
  <p-toast key="bc" [baseZIndex]="3000"></p-toast>