<p-blockUI [blocked]="bloquearPag">
    <img src="assets\img\ZZ5H.gif" style="width: 5%">
  </p-blockUI>
  <p-confirmDialog #c key="confirm2">
    <p-footer>
      <button pButton type="button" icon="fa fa-check" label="Si" class="ui-button-rounded ui-button-danger"
        (click)="c.accept()"></button>
      <button pButton type="button" icon="fa fa-close" label="No" class="ui-button-rounded" (click)="c.reject()"></button>
    </p-footer>
  </p-confirmDialog>
<nb-card>
    <nb-card-header>
        <nav class="fixed">
            <ngx-header-titulo [objTitulo]="objetoTitulo"></ngx-header-titulo>
        </nav>
    </nb-card-header>
    <nb-card-body>
        <p-fieldset legend="Información Consulta">
            <div class="row" style="padding: 10px;">
                <div class="col-sm-6">                
                    <label for="inputLastName" class="label">Lista Base</label>
                    <p-dropdown [options]="lstListaBase" [(ngModel)]="filtro.IdListaBase" [filter]="true"
                    [style]="{'background-color':'rgb(247, 247, 208)'}" >
                 </p-dropdown>
                </div>
                <div class="col-sm-6">
                    <label for="inputLastName" class="label">Codigo </label>
                    <input pInputText type="text" placeholder="" [(ngModel)]="filtro.CODIGOCOMPONENTE" [style]="{'width':'100%'}" />
                </div>            
                <div class="col-sm-6">
                    <label for="inputLastName" class="label">Descripcion</label>
                    <input pInputText type="text" placeholder=""  [(ngModel)]="filtro.DESCRIPCION"  [style]="{'width':'100%'}" />
                </div>
                <div class="col-sm-6">
                    <label for="inputLastName" class="label">Estado</label>
                    <p-dropdown [options]="lstEstados" [(ngModel)]="filtro.Estado" [filter]="true"
                     [style]="{'background-color':'rgb(247, 247, 208)'}" >
                  </p-dropdown>
                </div>
            </div>
        </p-fieldset>
        <br>
        <p-fieldset legend="Detalle">
            <p-table #dt [rows]="15" [paginator]="true" [rowHover]="true" dataKey="num" [value]="lstListaBaseComponente"
            [responsive]="true" [sortOrder]="1" sortField="num"
            currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
            [rowsPerPageOptions]="[15,30,50]" [showCurrentPageReport]="true" [scrollable]="true" scrollHeight="300px">
            <ng-template pTemplate="header">
                    <tr>
                        <th class="tablaHeaderAccion3" ALIGN="center">Acción</th>
                       
                        <th pSortableColumn="Perfil" class="label text-center" ALIGN="center" style="width: 5rem;">Código<p-sortIcon field="Perfil"></p-sortIcon>
                        </th>
                        <th pSortableColumn="VaEstado" class="label text-center" ALIGN="center" style="width: 10rem;  ">Lista Base<p-sortIcon field="VaEstado"></p-sortIcon>
                        </th>
                        <th pSortableColumn="VaEstado" class="label text-center" ALIGN="center" style="width: 10rem;  ">Descripción<p-sortIcon field="VaEstado"></p-sortIcon>
                        </th>
                        <th pSortableColumn="Perfil" class="label text-center" ALIGN="center" style="width: 5rem;  ">PrecioUnitarioLista<p-sortIcon field="Perfil"></p-sortIcon>
                        </th>
                        <th pSortableColumn="Perfil" class="label text-center" ALIGN="center" style="width: 5rem;  ">TipoFactor<p-sortIcon field="Perfil"></p-sortIcon>
                        </th>
                        <th pSortableColumn="Perfil" class="label text-center" ALIGN="center" style="width: 5rem;  ">Estado<p-sortIcon field="Perfil"></p-sortIcon>
                        </th>

                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-asignarPerfil>
                    <tr>
                        <td class="tablaColumnaAccion3">
                            <span class="p-column-title">Acción</span>
                            <table>
                                <tr>
                                    <th>
                                        <button pButton pRipple type="button" icon="fad fa-pencil-alt"
                                            class="p-button-rounded p-button-text" title="Editar"
                                            (click)="coreEditar(asignarPerfil)"></button>
                                    </th>
                                    <th>
                                        <button pButton pRipple type="button" icon="fad fa-search"
                                            class="p-button-rounded p-button-text" title="Ver"
                                            (click)="coreVer(asignarPerfil)"></button>
                                    </th>
                                    <th>
                                        <button pButton pRipple type="button" icon="fad fa-minus-circle" *ngIf="asignarPerfil.Estado == 1" (click)="coreinactivar(asignarPerfil)"
                                        class="p-button-rounded p-button-text" title="Inactivar"></button>
                                    </th>
                                </tr>
                            </table>
                        </td>
                        <td class="tablaColumnaCodigoChico"  ALIGN="center" style="width: 5rem;">{{asignarPerfil.CODIGOCOMPONENTE}}</td>

                        <td class="tablaColumnaCodigoChico"  ALIGN="center" style="width: 10rem;">{{asignarPerfil.Nombre}}</td>

                        
                        <td class="tablaColumnaCodigoChico"  ALIGN="center" style="width: 10rem;">{{asignarPerfil.DESCRIPCION}}</td>

                        <td class="tablaColumnaCodigoChico"  ALIGN="center" style="width: 5rem;">{{asignarPerfil.PrecioUnitarioBase}}</td>

                        <td class="tablaColumnaCodigoChico"  ALIGN="center" style="width: 5rem;">
                            <span>{{asignarPerfil.TipoFactor}}</span>
                        </td>
                        <td class="tablaColumnaCodigoChico"  ALIGN="center" style="width: 5rem;">
                            <span>{{asignarPerfil.ESTADOdesc}}</span>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </p-fieldset>
    </nb-card-body>

</nb-card>
<ngx-examen-lista-mantenimiento></ngx-examen-lista-mantenimiento>
<p-toast key="bc" [baseZIndex]="3000"></p-toast>