<p-blockUI [blocked]="bloquearPag" [baseZIndex]="10000">
    <img src="assets\img\ZZ5H.gif" style="width: 5%">
</p-blockUI>

<p-dialog [(visible)]="dialog" [draggable]="false" [modal]="true" [resizable]="false" [breakpoints]="{'1050px': '75vw'}"
    [style]="{width: '1050px'}" [header]="acciones" [position]="position" [maximizable]="true"  [baseZIndex]="1000">

    <ng-template pTemplate="content">
        <br>

        <div class="row">
            <br>
        <p-fieldset legend="Información General" class="col-sm-12" >         

            <div class="row" style="padding: 15px;">
                <div class="col-sm-12" aria-orientation="horizontal" style="background-color:white;">
                    <div class="row">

                        <div class="col-sm-4">
                                <label class="label">Cliente</label>
                                <p-dropdown [options]="lstCliente" [(ngModel)]="filtro.IdCliente"
                                    [disabled]="puedeEditar" [style]="{'width':'100%'}"
                                    [style]="{'background-color':'rgb(247, 247, 208)'}">
                                </p-dropdown>
                        </div>

                        <div class="col-sm-4">
                                <label class="label">Servicio</label>
                                <p-dropdown [options]="lstTipoServicio"
                                    [style]="{'background-color':'rgb(247, 247, 208)'}"
                                    [(ngModel)]="filtro.TipoOrdenAtencion2" [style]="{'width':'100%'}"
                                    [disabled]="puedeEditar">
                                </p-dropdown>
                        </div>

                        <div class="col-sm-4">
                                <label class="label">Sede Cliente</label>
                                <p-dropdown [options]="lstsedeCliente" [(ngModel)]="filtro.Sucursal"
                                    [disabled]="puedeEditar" [style]="{'background-color':'rgb(247, 247, 208)'}"
                                    [style]="{'width':'100%'}"></p-dropdown>
                       
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-sm-4">
                                <label class="label">Tipo Paciente</label>
                                <p-dropdown [options]="lstTipoPaciente" [disabled]="puedeEditar"
                                    [(ngModel)]="filtro.TipoOperacionID"
                                    [style]="{'background-color':'rgb(247, 247, 208)'}">
                                </p-dropdown>
                        </div>

                        <div class="col-sm-4">
                                <label class="label">Tipo Atención</label>

                                <p-dropdown [options]="lstTipoAtencion" [disabled]="puedeEditar"
                                    [(ngModel)]="filtro.TipoAtencion"
                                    [style]="{'background-color':'rgb(247, 247, 208)'}">
                                </p-dropdown>
                        </div>

                        <div class="col-sm-4">
                                <label class="label">Orden de Atención</label>
                            <div class="p-inputgroup">
                                <input pInputText type="text" (keypress)="defaultBuscar($event)"
                                    style="width:100%; background-color: rgb(247, 247, 208); height: 30px;"
                                    [(ngModel)]="filtro.CodigoOA" minlength="1" />
                                &nbsp;
                                <p-button icon="pi pi-search" styleClass="p-button-primary" [disabled]="puedeEditar"
                                    type="button" (click)="coreBuscar()"></p-button>
                            </div>
                        </div>
                    </div>


                </div>
            </div>

        </p-fieldset>
        </div>
        <br>

        <p-fieldset legend="Detalle">
            <div class="col">
                <p-table #dt [rows]="15" [paginator]="true" [rowHover]="true" dataKey="tipousuario" [responsive]="true"
                    [sortOrder]="1" sortField="nrocorrBuscarOA" [value]="lstgridbuscarOA2"
                    [(selection)]="registroSeleccionado"
                    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
                    [showCurrentPageReport]="true" [scrollable]="true" scrollHeight="200px">

                    <ng-template pTemplate="colgroup">
                        <colgroup>
                            <col style="width:80px">
                        </colgroup>
                    </ng-template>

                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width: 10rem;" class="label">Acción</th>
                            <th style="width: 5rem;" class="label">Nro.</th>
                            <th style="width: 8rem;" class="label" pSortableColumn="">Documento<p-sortIcon
                                    field="Documento">
                                </p-sortIcon>
                            </th>
                            <th style="width: 8rem;" class="label" pSortableColumn="">IdOr<p-sortIcon field="IdOr">
                                </p-sortIcon>
                            </th>
                            <th style="width: 8rem;" class="label" pSortableColumn="">Paterno<p-sortIcon
                                    field="Paterno">
                                </p-sortIcon>
                            </th>
                            <th style="width: 8rem;" class="label" pSortableColumn="">Materno<p-sortIcon
                                    field="Materno">
                                </p-sortIcon>
                            </th>
                            <th style="width: 8rem;" class="label" pSortableColumn="">Nombre<p-sortIcon field="Nombre">
                                </p-sortIcon>
                            </th>
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="body" let-rowData let-columns="columns">

                        <tr>
                            <td style="width: 10rem;" class="label">
                                <span class="p-column-title">Acción</span>
                                <table>
                                    <tr>
                                        <td style="width: 10rem" class="label">
                                            <span class="p-column-title">Acción</span>
                                            <button pButton icon="pi pi-check" type="button"
                                                class="p-button-rounded p-button-text botonGrilla"
                                                (click)="coreSeleccionar2(rowData)" title="Seleccionar"></button>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td style="width: 5rem;" class="label">
                                <span style="width: 5rem;" class="p-column-title">Nro.</span>
                                {{rowData.nrocorrBuscarOA}}
                            </td>

                            <td style="width: 8rem;" class="label">
                                <span style="width: 8rem;" class="p-column-title">Documento</span>
                                {{rowData.Documento}}
                            </td>

                            <td style="width: 8rem;" class="label">
                                <span style="width: 8rem;" class="p-column-title">IdOr</span>
                                {{rowData.IdOrdenAtencion}}
                            </td>
                            <td style="width: 8rem;" class="label">
                                <span style="width: 8rem;" class="p-column-title">Paterno</span>
                                {{rowData.PacienteAPPaterno}}
                            </td>

                            <td style="width: 8rem;" class="label">
                                <span class="p-column-title">Materno</span>
                                {{rowData.PacienteAPMaterno}}
                            </td>

                            <td style="width: 8rem;" class="label">
                                <span class="p-column-title">Nombre</span>
                                {{rowData.PacienteNombres}}
                            </td>



                        </tr>

                    </ng-template>

                    <ng-template pTemplate="emptymessage" let-columns>
                        <tr>
                            <td [attr.colspan]="18">
                                No existen registros para mostrar
                            </td>
                        </tr>
                    </ng-template>
                </p-table>

            </div>
        </p-fieldset>

    </ng-template>


</p-dialog>

<p-toast [baseZIndex]="10000" ></p-toast>