<p-blockUI [blocked]="bloquearPag" [baseZIndex]="10000">
    <img src="assets\img\ZZ5H.gif" style="width: 5%">
</p-blockUI>
 <p-dialog [(visible)]="verMantPersona" [modal]="true" [resizable]="false"
    [breakpoints]="{'950px': '75vw'}" [header]="acciones" [position]="position" 
    [maximizable]="true"
    [style]="{width: '1500px', minWidth: '200px'}"
    [baseZIndex]="10000"  > 
    <ng-template pTemplate="content">
        <br>
        <div class="row">
            <br>
            <p-fieldset legend="Información General" class="col-sm-6 ">
                <div class="row" style="padding: 15px;">
                    <div class="col-sm-12" aria-orientation="horizontal" style="background-color:white;">
                        <div class="row">
                            <div class="col-sm-4">

                                <label class="label">Persona</label>
                                <p-dropdown placeholder="Seleccione" [style]="{'width':'100%'}"
                                    [disabled]="disabledTipoPerso" (onChange)="selectedItemTipoPersona($event)"
                                    [options]="lstTipoPersona" [style]="{'background-color':'rgb(247, 247, 208)'}"
                                    [(ngModel)]="dto.TipoPersona">
                                </p-dropdown>
                            </div>

                            <div class="col-sm-4" *ngIf="!verpersonajuridica">
                                <label class="label">Sexo</label>
                                <p-dropdown [options]="lstSexo" [filter]="true" [disabled]="editarCampos"
                                    [(ngModel)]="dto.Sexo" [style]="{'width':'100%'}"
                                    [style]="{'background-color':'rgb(247, 247, 208)'}">
                                </p-dropdown>
                            </div>
                            <div class="col-sm-4">
                                <div class="p-inputgroup">
                                    <label class="label">Id</label>
                                </div>
                                <div class="p-inputgroup">
                                    <input pInputText type="text" placeholder="" style="width:100%; height: 30px;"
                                        [(ngModel)]="dto.Persona" [disabled]="true" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12" aria-orientation="horizontal" style="background-color:white;">
                        <div class="row">
                            <div class="col-sm-4">
                                <label class="label">Tipo Documento</label>
                                <p-dropdown placeholder="Seleccione" [style]="{'width':'100%'}"
                                    [disabled]="editarTipoDocumento" (onChange)="selectedItemTipoDocumento($event)"
                                    [options]="lstTipoDocumento" [filter]="true"
                                    [style]="{'background-color':'rgb(247, 247, 208)'}" [(ngModel)]="dto.TipoDocumento">
                                </p-dropdown>
                            </div>
                            <div class="col-sm-4">
                                <label class="label">N° Documento</label>
                                <input #myDocumento pInputText type="text" placeholder=""
                                    style="width:100%; background-color: rgb(247, 247, 208); height: 30px;"
                                    (blur)="entrando($event)"
                                    (keydown)="validarInputDocumento($event)"
                                    (keypress)="esRUCesDNIValido($event)"
                                    [minlength]="validarmintexto" [maxlength]="validarmaxtexto"
                                    [(ngModel)]="dto.Documento" [disabled]="editarCampos"   
                                      />
                            </div>
                            <div class="col-sm-4" *ngIf="!verrucmodi" >
                                <label  class="label" >RUC</label>
                                <input pInputText type="text" placeholder="" style="width:100%;  height: 30px;"
                                    [(ngModel)]="dto.DocumentoFiscal" [disabled]="editarCampos"
                                    minlength="11" maxlength="11" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12" aria-orientation="horizontal" style="background-color:white;">
                        <div class="row"  *ngIf="!verpersonajuridica" >
                            <div class="col-sm-4" >
                                <label class="label">Nombre</label>
                                <input pInputText type="text" placeholder="" [style]="{'width':'100%'}"
                                    style="width:100%; background-color: rgb(247, 247, 208); height: 30px;"
                                    [(ngModel)]="dto.Nombres" [disabled]="editarCampos" />
                            </div>
                            <div class="col-sm-4"  >
                                <label  class="label">A.Paterno</label>
                                <input pInputText type="text" placeholder=""
                                    style="width:100%; background-color: #f7f7d0; height: 30px;"
                                    [(ngModel)]="dto.ApellidoPaterno" [disabled]="editarCampos" />
                            </div>
                            <div class="col-sm-4" >
                                <label  class="label">A.Materno</label>
                                <input #myApellidoMaterno pInputText type="text" placeholder=""
                                    style="width:100%;  height: 30px;"
                                    [(ngModel)]="dto.ApellidoMaterno" [disabled]="editarCampos"
                                />
                               <!--      (keydown)="validarApeMat($event)"      -->
                            </div>
                        </div>
                        <div class="row"  *ngIf="verpersonajuridica" >
                            <div class="col-sm-12" >
                                <label  class="label">Razón Social</label>
                            <input pInputText type="text" placeholder=""
                            style="width:100%; background-color: rgb(247, 247, 208); height: 30px;"
                            [(ngModel)]="dto.Nombres" [disabled]="editarCampos"  />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12" aria-orientation="horizontal" style="background-color:white;">
                        <div class="row">
                            <div class="col-sm-4">
                                <label class="label">Fecha de Nacimiento</label>
                                <p-calendar [monthNavigator]="true" [(ngModel)]="dto.FechaNacimiento"
                                    [yearNavigator]="true" [style]="{'width':'100%'}" [disabled]="editarCampos"
                                    [inputStyle]="{'background-color':'rgb(247, 247, 208)', 'width':'80%'}"
                                    yearRange="1901:2200" [locale]="es" [showIcon]="true" dateFormat="dd/mm/yy"
                                    [yearNavigator]="true" (onClose)="selectedItemFechaNacimiento(dto.FechaNacimiento)">
                                </p-calendar>
                            </div>
                            <div class="col-sm-4" *ngIf="!verpersonajuridica"  >
                                <label  class="label">Edad</label>
                                <input pInputText type="text" placeholder="" style="width:100%;  height: 30px;"
                                    [(ngModel)]="dto.Edad" [disabled]="editarCampos" />
                            </div>
                            <div class="col-sm-4" *ngIf="!verpersonajuridica" >
                                <label  class="label">Usuario Web / Password</label>
                                <div class="p-inputgroup">
                                    <input pInputText type="text" placeholder="" [disabled]="editarPassword"
                                        style="width:100%;  height: 30px;" />&nbsp;
                                    <p-button type="submit" label="Reset" styleClass="p-button-primary"
                                        [(ngModel)]="dto.PasswordWeb" [disabled]="editarPassword" (click)="openNew()">
                                    </p-button>
                                </div>
                            </div>                         
                                <div class="col-sm-4" *ngIf="verpersonajuridica" >
                                    <label for="inputLastName" class="label">Días de
                                        Vencimiento</label>
                                    <input input pInputText type="text" placeholder="" style="width:100%; height: 30px;"
                                        [(ngModel)]="dto.DiaVencimiento" [disabled]="editarCampos" />
                                </div>                       
                                <div class="col-sm-4" *ngIf="verpersonajuridica" >
                                    <br>
                                    <nb-checkbox status="primary" [(ngModel)]="dto.IndicadorRetencion"
                                     [disabled]="editarCampos">I.Retención
                                    </nb-checkbox>
                                </div>
                        </div>
                    </div>
                    <div class="col-sm-12" aria-orientation="horizontal">
                        <div class="row">
                            <div class="col">
                                <div class="p-inputgroup">
                                    <label  class="label">Tipo Persona</label>
                                </div>
                                <div  aria-orientation="horizontal">
                                    <nb-checkbox status="primary" (click)="checkesCliente()" name="groupname"
                                        binary="true" style="padding-left: 5;" [(ngModel)]="esCliente"
                                        [disabled]="editarCampos">
                                        Cliente&nbsp;
                                    </nb-checkbox>
                                    <nb-checkbox status="primary" (click)="checkesProveedor()" name="groupname"
                                        binary="true" [(ngModel)]="esProveedor" [disabled]="editarCampos"
                                        style="padding-left: 5;">
                                        Proveedor&nbsp;</nb-checkbox>
                                    <nb-checkbox status="primary" (click)="checkesEmpleado()" name="groupname"
                                        binary="true" style="padding-left: 5;" [(ngModel)]="esEmpleado"
                                        [disabled]="editarCampos">
                                        Empleado&nbsp;</nb-checkbox>
                                    <nb-checkbox status="primary" (click)="checkesOtro()" name="groupname"
                                        binary="true" style="padding-left: 5;" [(ngModel)]="esOtro"
                                        [disabled]="editarCampos">
                                        Otro&nbsp;
                                    </nb-checkbox>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </p-fieldset>

            <p-fieldset legend="Información Adicional" class="col-sm-6">
                <div class="row" style="padding: 15px;">
                    <div class="col-sm-12" aria-orientation="horizontal" style="background-color:white;">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="p-inputgroup">
                                    <label  class="label">Teléfono 1</label>
                                </div>
                                <div class="p-inputgroup">
                                    <input #myTelefono pInputText type="text" placeholder=""
                                        style="width:100%;  background-color: rgb(247, 247, 208); height: 30px;"
                                        [disabled]="editarCampos" [(ngModel)]="dto.Telefono" minlength="1"
                                        maxlength="15" (keypress)="esTelefesCeluValido($event)"
                                        (keydown)="validarTelf($event)" />
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="p-inputgroup">
                                    <label  class="label">Teléfono 2</label>
                                </div>
                                <div class="p-inputgroup">
                                    <input pInputText type="text" placeholder="" style="width:100%; height: 30px;"
                                        [disabled]="editarCampos" [(ngModel)]="dto.Celular" minlength="1" maxlength="15"
                                        (keypress)="esTelefesCeluValido($event)" />
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="p-inputgroup">
                                    <label  class="label">Email</label>
                                </div>
                                <div class="p-inputgroup">
                                    <input pInputText type="email" placeholder="" style="width:100%; height: 30px;"
                                        [disabled]="editarCampos" [(ngModel)]="dto.CorreoElectronico" />
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="p-inputgroup">
                                    <label  class="label">Dirección</label>
                                </div>
                                <div class="p-inputgroup">
                                    <input #myDireccion pInputText type="text"
                                        style="width:100%; background-color: rgb(247, 247, 208); height: 30px;"
                                        [disabled]="editarCampos" [(ngModel)]="dto.Direccion"
                                      *ngIf="verpersonajuridica" />
                                        <input #myDireccion pInputText type="text"
                                        style="width:100%; height: 30px;"
                                        [disabled]="editarCampos" [(ngModel)]="dto.Direccion"
                                        *ngIf="!verpersonajuridica"  />
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="p-inputgroup">
                                    <label  class="label">Estado</label>
                                </div>
                                <div class="p-inputgroup">
                                    <p-dropdown placeholder="Seleccione" [options]="lstEstados" [filter]="true"
                                        [disabled]="editarCampos" [(ngModel)]="dto.Estado"
                                        [style]="{'background-color':'rgb(247, 247, 208)'}"
                                        (onChange)="selectedItemEstado($event)">
                                    </p-dropdown>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12" aria-orientation="horizontal">
                    <div class="row">
                        <div class="col-sm-12">
                            <label class="label">Referencia</label>
                            <input pInputText type="text" placeholder="" style="width:100%; height: 30px;"
                                [(ngModel)]="dto.DireccionReferencia" [disabled]="editarCampos" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-12" aria-orientation="horizontal">
                    <div class="row">
                        <div class="col-sm-4">
                            <label class="label">Departamento</label>
                            <p-dropdown  [options]="lstDepartamento" [disabled]="editarCampos"
                                [(ngModel)]="dto.DEPARTAMENTO"  (onChange)="selectedItemDepartamento($event)"
                                [filter]="true">
                            </p-dropdown>
                        </div>

                        <div class="col-sm-4">
                            <label class="label">Provincia</label>
                            <p-dropdown [options]="lstProvincia" [disabled]="editarCampos" (onChange)="selectedItemProvincia($event)"
                               [(ngModel)]="dto.PROVINCIA" [filter]="true">
                            </p-dropdown>
                        </div>

                        <div class="col-sm-4">
                            <label class="label">Distrito</label>
                            <p-dropdown placeholder="Seleccione" [options]="lstDistrito" [disabled]="editarCampos"
                                [(ngModel)]="dto.SunatUbigeo" [filter]="true">
                            </p-dropdown>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12" aria-orientation="horizontal">
                    <div class="row">
                        <div class="col-sm-12">
                            <label  class="label">Comentario</label>
                            <textarea pInputText type="text" placeholder="" [style]="{'width':'100%'}"
                                [(ngModel)]="dto.Comentario" [disabled]="editarCampos"></textarea>
                        </div>
                    </div>
                </div>
            </p-fieldset>
        </div>
        <p-fieldset legend="Datos Generales">
            <div class="col-sm-12">
                <ngx-auditoria [creacionUsuario]="usuario" [creacionFecha]="fechaCreacion"
                    [modificacionFecha]="fechaModificacion"></ngx-auditoria>
            </div>
        </p-fieldset> 
    </ng-template>
    <ng-template pTemplate="footer">
        <p-button label="Guardar" icon="pi pi-save" styleClass="p-button-primary" [disabled]="editarCampos"
            type="submit" (click)="guardarPersona()"></p-button>
    </ng-template>
</p-dialog>

<p-toast [baseZIndex]="10000" ></p-toast>
<ngx-persona-password-reset></ngx-persona-password-reset>