:host ::ng-deep {
    .p-calendar {
        -ms-user-select: none;
        -webkit-user-select: none;
        cursor: pointer;
        display: inline-flex;
        position: relative;
        user-select: none;
        width: 100%;
    }
    }