<p-blockUI [blocked]="bloquearPag" [baseZIndex]="1001">
    <img src="assets\img\ZZ5H.gif" style="width: 5%">
  </p-blockUI>

<p-dialog [(visible)]="dialog" [draggable]="false" [modal]="true" [resizable]="false" [breakpoints]="{'950px': '75vw'}"
    [style]="{width: '850px'}" [header]="acciones" [position]="position" [maximizable]="true"  [baseZIndex]="1000">

    <ng-template pTemplate="content">
        <br>
        <p-fieldset legend="Información General">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="inputLastName" class="label">Código</label>
                        <input pInputText type="text" [style]="{'background-color':'rgb(247, 247, 208)', 'width':'100%','text-transform': 'uppercase'}"  [disabled]="puedeEditar" [(ngModel)]="dto.Codigo"    />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="inputLastName" class="label">Descripción</label>
                        <input pInputText type="text"  [(ngModel)]="dto.Nombre"   [disabled]="puedeEditar" [style]="{'background-color':'rgb(247, 247, 208)', 'width':'100%','text-transform': 'uppercase'}" />
                    </div>
                </div>
            </div>


         
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                            <label for="inputLastName" class="label">Estado</label>
                            <p-dropdown [style]="{'background-color':'rgb(247, 247, 208)', 'width':'100%','text-transform': 'uppercase'}" [options]="lstEstados" [(ngModel)]="dto.Estado"   [disabled]="puedeEditar">
                            </p-dropdown>
                        </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="inputLastName" class="label">Maestro</label>
                        <p-dropdown [options]="lstTablaMaestro" [filter]="true"  [(ngModel)]="dto.IdTablaMaestro" [style]="{'background-color':'rgb(247, 247, 208)', 'width':'100%','text-transform': 'uppercase'}"   [disabled]="puedeEditar">
                        </p-dropdown>
                    </div>
                </div>

            </div>
            <br>
        </p-fieldset>
        <br>

        
        <p-fieldset legend="Auditoria">
            <div class="col-sm-12">
                <ngx-auditoria [creacionUsuario]="usuario" [creacionFecha]="fechaCreacion"
                    [modificacionFecha]="fechaModificacion"></ngx-auditoria>
            </div>
        </p-fieldset> 
    </ng-template>
    <ng-template pTemplate="footer">
        <p-button label="Guardar" icon="pi pi-save" styleClass="p-button-primary" [disabled]="puedeEditar" type="submit"
            (click)="coreGuardar()"></p-button>
    </ng-template>

</p-dialog>
<p-toast  key="bc" [baseZIndex]="2000" ></p-toast>