<p-blockUI [blocked]="bloquearPag">
  <img src="assets\img\ZZ5H.gif" style="width: 5%">
</p-blockUI>
<p-confirmDialog #c key="confirm2">
  <p-footer>
    <button pButton type="button" icon="fa fa-check" label="Si" class="ui-button-rounded ui-button-danger"
      (click)="c.accept()"></button>
    <button pButton type="button" icon="fa fa-close" label="No" class="ui-button-rounded" (click)="c.reject()"></button>
  </p-footer>
</p-confirmDialog>
<p-card>
  <nb-card-header>
    <nav class="fixed">
      <ngx-header-titulo [objTitulo]="objetoTitulo"></ngx-header-titulo>
    </nav>
  </nb-card-header>
  <nb-card-body>
    <p-fieldset legend="Información Consulta">
      <div class="row">
        <div class="col-sm-4">
          <label for="inputOrdAten" class="label">Maestro</label>
          <p-dropdown [options]="lstTablaMaestro" [(ngModel)]="filtro.IdTablaMaestro" (keypress)="defaultBuscar($event)"
            [style]="{'width':'100%','text-transform': 'uppercase'}" [filter]="true"></p-dropdown>
        </div>

        <div class="col-sm-4">
          <label for="inputOrdAten" class="label">Nombre</label>
          <input pInputText type="text" placeholder="" style="width:100%; height: 30px; text-transform: uppercase;"
            [(ngModel)]="filtro.Nombre" (keypress)="defaultBuscar($event)" />
        </div>
        <div class="col-sm-4">
          <label for="inputLastName" class="label">Estado</label>
          <p-dropdown [options]="lstEstado" [(ngModel)]="filtro.Estado"
            [style]="{'width':'100%','text-transform': 'uppercase'}"></p-dropdown>
        </div>
      </div>
    </p-fieldset>

    <p-fieldset legend="Detalle">
      <p-table #dt [rows]="15" [paginator]="true" [rowHover]="true" dataKey="num" [value]="lstMaestroDetalle"
        [responsive]="true" [sortOrder]="1" sortField="num"
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
        [rowsPerPageOptions]="[15,30,50,100]" [showCurrentPageReport]="true" [scrollable]="true" scrollHeight="300px">
        <ng-template pTemplate="header">
          <tr>
            <th class="tablaHeaderCheckBox">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th class="tablaHeaderAccion3 label" ALIGN="center">Acciones</th>
            <th pSortableColumn="num" class="label" ALIGN="center" style="width: 3rem;  ">Nro <p-sortIcon field="num">
              </p-sortIcon>
            </th>
            <th pSortableColumn="Codigo" class="label" ALIGN="center" style="width: 5em;  ">Código<p-sortIcon
                field="Codigo"></p-sortIcon>
            </th>
            <th pSortableColumn="Nombre" class="label" ALIGN="center" style="width: 10rem;  ">Nombre<p-sortIcon
                field="Nombre"></p-sortIcon>
            </th>
            <th pSortableColumn="TablaMaestro" class="label" ALIGN="center" style="width: 10rem;  ">Maestro<p-sortIcon
                field="TablaMaestro"></p-sortIcon>
            </th>
            <th pSortableColumn="EstadoDesc" class="label" ALIGN="center" style="width: 5rem;  ">Estado<p-sortIcon
                field="EstadoDesc"></p-sortIcon>
            </th>


          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData>
          <tr>
            <td class="tablaColumnaCheckBox">
              <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
            </td>
            <td class="tablaColumnaAccion3">
              <span class="p-column-title">Acción</span>
              <table>
                <tr>
                  <th>
                    <button pButton pRipple type="button" icon="fad fa-pencil-alt"
                      class="p-button-rounded p-button-text" title="Editar" (click)="coreEditar(rowData)"></button>
                  </th>
                  <th>
                    <button pButton pRipple type="button" icon="fad fa-search" (click)="coreVer(rowData)"
                      class="p-button-rounded p-button-text" title="Ver"></button>
                  </th>
                  <th>
                    <button pButton pRipple type="button" icon="fad fa-minus-circle" [disabled]="rowData.Estado != '1' "
                      (click)="coreinactivar(rowData)" class="p-button-rounded p-button-text"
                      title="Inactivar"></button>
                  </th>
                </tr>
              </table>
            </td>
            <td class="tablaColumnaCodigoChico text-center" style="width: 3rem;">
              <span class="p-column-title">Nro</span>
              {{rowData.num}}
            </td>
            <td class="tablaColumnaCodigoChico" ALIGN="center" style="width: 5rem;">
              <span class="p-column-title">Codigo</span>
              <span>{{rowData.Codigo|uppercase}}</span>
            </td>
            <td class="tablaColumnaCodigoChico" ALIGN="center" style="width: 10rem;">
              <span class="p-column-title">Descripción</span>
              <span>{{rowData.Nombre|uppercase}}</span>
            </td>
            <td class="tablaColumnaCodigoChico" ALIGN="center" style="width: 10rem;">
              <span class="p-column-title">Maestro</span>
              <span>{{rowData.TablaMaestro|uppercase}}</span>
            </td>
            <td class="tablaColumnaCodigoChico" ALIGN="center" style="width: 5rem;">
              <span class="p-column-title">Estado</span>
              <span>{{rowData.EstadoDesc|uppercase}}</span>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-fieldset>
  </nb-card-body>
</p-card>
<ngx-maestro-detalle-mantenimiento></ngx-maestro-detalle-mantenimiento>
<p-toast key="bc" [baseZIndex]="3000"></p-toast>