<p-blockUI [blocked]="bloquearPag">
    <img src="assets\img\ZZ5H.gif" style="width: 5%">
  </p-blockUI>
  <p-confirmDialog #c key="confirm2">
    <p-footer>
      <button pButton type="button" icon="fa fa-check" label="Si" class="ui-button-rounded ui-button-danger"
        (click)="c.accept()"></button>
      <button pButton type="button" icon="fa fa-close" label="No" class="ui-button-rounded" (click)="c.reject()"></button>
    </p-footer>
  </p-confirmDialog>

<p-card>
  <nb-card-header>
    <nav class="fixed">
        <ngx-header-titulo [objTitulo]="objetoTitulo"></ngx-header-titulo>
    </nav>
</nb-card-header>
  <p-fieldset legend="Información Consulta" (keyup.enter)="coreBuscar()">
    <div class="row">

      <div class="col-sm-3">
        <label for="inputOrdAten" class="label">Compañia</label>
        <p-dropdown [(ngModel)]="filtro.CompaniaCodigo" [filter]="true" [options]="lstCompania"
          [style]="{'width':'100%','text-transform': 'uppercase'}"></p-dropdown>
      </div>

      <div class="col-sm-3">
        <label for="inputOrdAten" class="label">Código</label>
        <input pInputText type="text" placeholder="" style="width:100%; height: 30px; text-transform: uppercase;"
          [(ngModel)]="filtro.AplicacionCodigo" />
      </div>

      <div class="col-sm-3">
        <label for="inputOrdAten" class="label">Parametro</label>
        <input pInputText type="text" placeholder="" style="width:100%; height: 30px; text-transform: uppercase;"
          [(ngModel)]="filtro.ParametroClave" />
      </div>
      <div class="col-sm-3">
        <label for="inputLastName" class="label">Estado</label>
        <p-dropdown [options]="lstEstado" [(ngModel)]="filtro.Estado"
          [style]="{'width':'100%','text-transform': 'uppercase'}"></p-dropdown>
      </div>
    </div>
  </p-fieldset>

  <br>

  <p-fieldset legend="Detalle">
    <p-table #dt [rows]="15" [paginator]="true" [rowHover]="true" dataKey="num" [value]="lstparametros"
      [responsive]="true" [sortOrder]="1" sortField="num"
      currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros" selectionMode="single"
      [rowsPerPageOptions]="[15, 30, 50]" [showCurrentPageReport]="true" [scrollable]="true" scrollHeight="300px"
      selectionMode="single"
      styleClass="compact-table">
      <ng-template pTemplate="header">
        <tr>
          <th class="tablaHeaderAccion3 label" ALIGN="center" style="width: 5rem;">Acciones</th>
          <th pSortableColumn="num" class="label" ALIGN="center" style="width: 6rem; text-align: center;">
            Nro<p-sortIcon field="num"> </p-sortIcon>
          </th>
          <th pSortableColumn="Compañia" class="label" ALIGN="center" style="width: 6rem; text-align: center;">
            Compañia<p-sortIcon field="Compañia"></p-sortIcon>
          </th>
          <th pSortableColumn="Aplicacion" class="label" ALIGN="center" style="width: 6rem; text-align: center;">
            Aplicacion<p-sortIcon field="Aplicacion"></p-sortIcon>
          </th>
          <th pSortableColumn="TipoComprobante" class="label" ALIGN="center" style="width: 6rem; text-align: center;">
            Codigo<p-sortIcon field="TipoComprobante"></p-sortIcon>
          </th>
          <th pSortableColumn="NumeroDigitos" class="label" ALIGN="center" style="width: 6rem; text-align: center;">
            Descripción<p-sortIcon field="NumeroDigitos"></p-sortIcon>
          </th>
          <th pSortableColumn="TipodeDatoFlag" class="label" ALIGN="center" style="width: 6rem; text-align: center;">
            TipodeDatoFlag<p-sortIcon field="TipodeDatoFlag"></p-sortIcon>
          </th>
          <th pSortableColumn="Texto" class="label" ALIGN="center" style="width: 6rem; text-align: center;">
            Texto<p-sortIcon field="Texto"></p-sortIcon>
          </th>
          <th pSortableColumn="Numero" class="label" ALIGN="center" style="width: 6rem; text-align: center;">
            Numero<p-sortIcon field="Numero"></p-sortIcon>
          </th>
          <th pSortableColumn="Fecha" class="label" ALIGN="center" style="width: 6rem; text-align: center;">
            Fecha<p-sortIcon field="Fecha"></p-sortIcon>
          </th>
          <th pSortableColumn="ESTADOdesc" class="label" ALIGN="center" style="width: 6rem; text-align: center;">
            Estado<p-sortIcon field="ESTADOdesc"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData>
        <tr [pSelectableRow]="rowData">
          <td class="tablaColumnaAccion3" style="padding: 2px 4px;">
            <span class="p-column-title">Acción</span>
            <table>
              <tr>
                <th>
                  <button pButton pRipple type="button" icon="fad fa-pencil-alt" class="p-button-rounded p-button-text"
                    title="Editar" (click)="coreEditar(rowData)"></button>
                </th>
                <th>
                  <button pButton pRipple type="button" icon="fad fa-search" (click)="coreVer(rowData)"
                    class="p-button-rounded p-button-text" title="Ver"></button>
                </th>
                <th>
                  <button pButton pRipple type="button" icon="fad fa-minus-circle"
                    class="p-button-rounded p-button-text" title="Anular" *ngIf="rowData.Estado =='A'"
                    (click)="coreinactivar(rowData)"></button>
                </th>
              </tr>
            </table>
          </td>
          <td class="tablaColumnaCodigoChico text-center text-center" style="width: 6rem; padding: 2px 4px;">
            <span class="p-column-title">Nro</span>
            {{ rowData.num }}
          </td>
          <td class="tablaColumnaCodigoChico text-center" ALIGN="center" style="width: 6rem; padding: 2px 4px;">
            <span class="p-column-title">Compañia</span>
            <span>{{ rowData.CompaniaCodigo | uppercase }}</span>
          </td>
          <td class="tablaColumnaCodigoChico text-center" ALIGN="center" style="width: 6rem; padding: 2px 4px;">
            <span class="p-column-title">Aplicacion</span>
            <span>{{ rowData.AplicacionCodigo | uppercase }}</span>
          </td>
          <td class="tablaColumnaCodigoChico text-center" ALIGN="center" style="width: 6rem; padding: 2px 4px;">
            <span class="p-column-title">Codigo</span>
            <span>{{ rowData.TipoComprobante | uppercase }}</span>
          </td>
          <td class="tablaColumnaCodigoChico text-center" ALIGN="center" style="width: 6rem; padding: 2px 4px;">
            <span class="p-column-title">Descripción</span>
            <span>{{ rowData.DescripcionParametro | uppercase }}</span>
          </td>
          <td class="tablaColumnaCodigoChico text-center" ALIGN="center" style="width: 6rem; padding: 2px 4px;">
            <span class="p-column-title">TipodeDatoFlag</span>
            <span>{{ rowData.TipodeDatoFlag | uppercase }}</span>
          </td>
          <td class="tablaColumnaCodigoChico text-center" ALIGN="center" style="width: 6rem; padding: 2px 4px;">
            <span class="p-column-title">Texto</span>
            <span>{{ rowData.Texto }}</span>
          </td>
          <td class="tablaColumnaCodigoChico text-center" ALIGN="center" style="width: 6rem; padding: 2px 4px;">
            <span class="p-column-title">Numero</span>
            <span>{{ rowData.Numero }}</span>
          </td>
          <td class="tablaColumnaCodigoChico text-center" ALIGN="center" style="width: 6rem; padding: 2px 4px;">
            <span class="p-column-title">Fecha</span>
            <span>{{ rowData.Fecha }}</span>
          </td>
          <td class="tablaColumnaCodigoChico text-center" ALIGN="center" style="width: 6rem; padding: 2px 4px;">
            <span class="p-column-title">Estado</span>
            {{ rowData.ESTADOdesc | uppercase }}
          </td>
        </tr>
      </ng-template>
    </p-table>
  </p-fieldset>
</p-card>
<ngx-parametros-mantenimiento></ngx-parametros-mantenimiento>
<p-toast  key="bc" [baseZIndex]="2000" ></p-toast>
