<p-blockUI [blocked]="bloquearPag" [baseZIndex]="10000">
    <img src="assets\img\ZZ5H.gif" style="width: 5%">
</p-blockUI>

<p-dialog [(visible)]="dialog" [draggable]="false" [modal]="true" [resizable]="false" [breakpoints]="{'950px': '75vw'}"
    [style]="{width: '850px'}" [header]="titulo" [position]="position" [maximizable]="true" [baseZIndex]="10000">

    <ng-template pTemplate="content">
        <br>
        <p-fieldset legend="Información General">
            <div class="row">
                <div class="col-sm-6">
                    <label class="label">Fecha Inicio</label>
                    <p-calendar [disabled]="puedeEditar" [monthNavigator]="true" [yearNavigator]="true"
                        [style]="{'width':'100%'}" yearRange="1940:2200" [locale]="es" [(ngModel)]="dto.FechaInicio"
                        dateFormat="dd/mm/yy" [showIcon]="true">
                    </p-calendar>
                </div>
                <div class="col-sm-6">
                    <label class="label">Fecha Fin</label>
                    <p-calendar [disabled]="puedeEditar" [monthNavigator]="true" [yearNavigator]="true"
                        [style]="{'width':'100%'}" yearRange="1940:2200" [locale]="es" [(ngModel)]="dto.FechaFin"
                        dateFormat="dd/mm/yy" [showIcon]="true">
                    </p-calendar>
                </div>

                <div class="col-sm-6">
                    <label class="label">Valor</label>
                    <input pInputText type="text" [style]="{ 'width':'100%'}" [(ngModel)]="dto.Valor"
                        [disabled]=" puedeEditar" />
                </div>
                <div class="col-sm-6">
                    <label class="label">Estado</label>
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon"><i class="pi pi-align-justify"></i></span>
                        <p-dropdown [disabled]="puedeEditar" placeholder="Seleccione"
                            [style]="{'background-color':'rgb(247, 247, 208)', 'width':'100%'}" [disabled]="puedeEditar"
                            class="tablaCompletaIzquieda" [options]="lstEstado" [(ngModel)]="dto.Estado">
                        </p-dropdown>
                    </div>
                </div>
            </div>
        </p-fieldset>
        <br>
        <p-fieldset legend="Auditoria">
            <ngx-auditoria [creacionUsuario]="usuario" [creacionFecha]="fechaCreacion"
                [modificacionFecha]="fechaModificacion"></ngx-auditoria>
        </p-fieldset>
    </ng-template>
    <ng-template pTemplate="footer">
        <p-button label="Guardar" icon="pi pi-save" styleClass="p-button-primary" [disabled]="puedeEditar" type="submit"
            (click)="coreGuardar()"></p-button>
    </ng-template>
</p-dialog>
<p-toast [showTransformOptions]="'translateY(90%)'" [baseZIndex]="10000" key="notification"
    position="top-right"></p-toast>