<p-dialog [(visible)]="dialog" [draggable]="false" [modal]="true" [resizable]="false" [breakpoints]="{'950px': '75vw'}"
    [style]="{width: '1000px'}" [header]="acciones" [position]="position" [maximizable]="true" [baseZIndex]="10000">

    <ng-template pTemplate="content">
        <br>

        <p-fieldset legend="Modelo de Examenes Asignados">
            <div class="row">
                <div class="col-sm-4" *ngIf="pageCliente1">
                    <label for="inputLastName" class="label">Empresa</label>
                    <p-dropdown [disabled]="true" placeholder="Clasificador" [options]="lstcliente" [filter]="true"
                        [(ngModel)]="filtroexamen.empresa" (keydown)="validarTeclaEnter($event)">
                    </p-dropdown>
                </div> 
                <div class="col-sm-4" *ngIf="pageCliente3">
                    <label for="inputLastName" class="label">Empresa</label>
                    <input pInputText [disabled]="true" type="text" placeholder="" style="width:100%; height: 30px;"
                        [(ngModel)]="filtroexamen.txtempresa" />
                </div>
                <div class="col-sm-4">
                    <label for="inputLastName" class="label">Servicio</label>
                    <p-dropdown [disabled]="true" [options]="lstServicio" [filter]="true"
                        [(ngModel)]="filtroexamen.ClasificadorMovimiento" (keydown)="validarTeclaEnter($event)">
                    </p-dropdown>
                </div>
                <div class="col-sm-4" *ngIf="page1">
                    <label for="inputLastName" class="label">Perfil</label>
                    <p-dropdown [disabled]="true" [options]="lstTipoOperacion" [filter]="true"
                        [(ngModel)]="filtroexamen.TipoOperacionID" (keydown)="validarTeclaEnter($event)"></p-dropdown>
                </div>
                <div class="col-sm-4" *ngIf="page2">
                    <label for="inputLastName" class="label">Perfil </label>
                    <p-dropdown [disabled]="true" [(ngModel)]="filtroexamen.TipoOperacionID" [filter]="true"
                        [options]="lstTipoOperacion"></p-dropdown>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="inputLastName" class="label">Examenes</label>
                        <div class="p-inputgroup">
                            <input pInputText type="text" style="width:100%" [(ngModel)]="filtroexamen.Descripcion"
                                (keydown)="validarTeclaEnter($event)" />
                            <button pButton icon="fa fa-binoculars" type="button" title="Buscar"
                                (click)="coreBuscar()"></button>
                            <button pButton icon="pi pi-check" type="button" (click)="coreSeleccionar(rowData)"
                                title="Seleccionar"></button>
                            <!-- <button pButton icon="fas fa-check" type="button" title="Seleccionar"></button> -->
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label for="inputLastName" class="label">Código</label>
                    <input pInputText type="text" placeholder="" style="width:100%; height: 30px;"
                        [(ngModel)]="filtroexamen.CodigoComponente" (keydown)="validarTeclaEnter($event)" />
                </div>
            </div>
        </p-fieldset>
        <br>
        <p-fieldset legend="Resultados">
            <p-table #dt [rows]="15" [paginator]="true" [rowHover]="true" [responsive]="true" [sortOrder]="1"
                sortField="numeroExamen" [value]="lstexamen" (onLazyLoad)="grillaCargarDatos($event)"
                currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
                [showCurrentPageReport]="true" selectionMode="single" selectionMode="multiple"
                [(selection)]="registroSeleccionado" [scrollable]="true" scrollHeight="200px" [style]="{width:'100%'}"
                [rowsPerPageOptions]="[15,30,50]" [loading]="loading">
                <ng-template pTemplate="colgroup">
                    <colgroup>
                        <col style="width:50px">
                    </colgroup>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 2.25em">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th style="width: 5rem;" class="label" pSortableColumn="numeroExamen">Nro<p-sortIcon
                                field="numeroExamen">
                            </p-sortIcon>
                        </th>
                        <th style="width: 8rem;" class="label" pSortableColumn="CodigoComponente">Codigo<p-sortIcon
                                field="CodigoComponente">
                            </p-sortIcon>
                        </th>

                        <th style="width: 15rem;" class="label" pSortableColumn="Descripcion">Descripción<p-sortIcon
                                field="Descripcion">
                            </p-sortIcon>
                        </th>


                        <th style="width: 5rem;" class="label" pSortableColumn="Sexo">Sexo<p-sortIcon field="Sexo">
                            </p-sortIcon>
                        </th>


                        <th style="width: 6rem;" class="label" pSortableColumn="ValorEmpresa">Valor<p-sortIcon
                                field="ValorEmpresa">
                            </p-sortIcon>
                        </th>

                        <!-- <th style="width: 5rem;" pSortableColumn="checkbox"><input class="form-check-input"
                                    type="checkbox" [value]="-1" [ngModel]="parentSelector" (change)="checkAll($event)">
                                <p-sortIcon field="VaEstado">
                                </p-sortIcon>
                            </th> -->


                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData>

                    <tr (dblclick)="ondobleRowDblclick(rowData)">

                        <td style="width: 2.25em">
                            <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                        </td>

                        <td style="width: 5rem;" class="tablaColumnaCodigoChico" ALIGN="center">{{rowData.numeroExamen}}
                        </td>

                        <td style="width: 8rem;" class="tablaColumnaCodigoChico" ALIGN="center">
                            {{rowData.CodigoComponente}}</td>

                        <td style="width: 15rem;" class="tablaColumnaCodigoChico" ALIGN="center">{{rowData.Descripcion}}
                        </td>

                        <td style="width: 5rem;" class="tablaColumnaCodigoChico" ALIGN="center">{{rowData.Sexo}}</td>

                        <td style="width: 6rem;" class="tablaColumnaCodigoChico" ALIGN="center">{{rowData.ValorEmpresa |
                            currency: 'S/'}}</td>



                        <!-- <td ALIGN="center"><input class="form-check-input" type="checkbox" [ngModel]="rowSelector"
                                    [value]="rowData.numeroExamen" [checked]="rowData.select"
                                    (change)="checkAll($event)"></td> -->

                    </tr>
                </ng-template>
            </p-table>
        </p-fieldset>

    </ng-template>
</p-dialog>