<p-blockUI [blocked]="bloquearPag" [baseZIndex]="10000">
  <img src="assets\img\ZZ5H.gif" style="width: 5%">
</p-blockUI>
<p-confirmDialog #c key="confirm2">
  <p-footer>
    <button pButton type="button" icon="fa fa-check" label="Si" class="ui-button-rounded ui-button-danger"
      (click)="c.accept()"></button>
    <button pButton type="button" icon="fa fa-close" label="No" class="ui-button-rounded" (click)="c.reject()"></button>
  </p-footer>
</p-confirmDialog>


<p-card>
  <nb-card-header>
    <nav class="fixed">
      <ngx-header-titulo [objTitulo]="objetoTitulo"></ngx-header-titulo>
    </nav>
  </nb-card-header>

  <p-fieldset legend="Información Consulta" (keyup.enter)="coreBuscar()">
    <div class="row">
      <div class="col-sm-3">
        <label for="inputOrdAten" class="label">Compañia</label>
        <p-dropdown [(ngModel)]="filtro.CompaniaCodigo" [options]="lstCompania"
          [style]="{'width':'100%','text-transform': 'uppercase'}"></p-dropdown>
      </div>

      <div class="col-sm-3">
        <label for="inputOrdAten" class="label">Código</label>
        <input pInputText type="text" placeholder="" style="width:100%; height: 30px; text-transform: uppercase;"
          [(ngModel)]="filtro.AplicacionCodigo" />
      </div>

      <div class="col-sm-3">
        <label for="inputOrdAten" class="label">Parametro</label>
        <input pInputText type="text" placeholder="" style="width:100%; height: 30px; text-transform: uppercase;"
          [(ngModel)]="filtro.ParametroClave" />
      </div>
      <div class="col-sm-3">
        <label for="inputLastName" class="label">Estado</label>
        <p-dropdown [options]="lstEstado" [(ngModel)]="filtro.Estado"
          [style]="{'width':'100%','text-transform': 'uppercase'}"></p-dropdown>
      </div>
    </div>
  </p-fieldset>

  <br>

  <p-fieldset legend="Detalle">
    <p-table #dt [rows]="15" [paginator]="true" [rowHover]="true" dataKey="num" [value]="lstTipoCambio"
      [responsive]="true" [sortOrder]="1" sortField="num"
      currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros" selectionMode="single"
      [rowsPerPageOptions]="[15, 30, 50]" [showCurrentPageReport]="true" [scrollable]="true" scrollHeight="300px"
      selectionMode="single">
      <ng-template pTemplate="header">
        <tr>
          <th class="tablaHeaderAccion3 label" ALIGN="center">Acciones</th>
          <th pSortableColumn="num" class="label" ALIGN="center" style="width: 4rem">
            Nro<p-sortIcon field="num"> </p-sortIcon>
          </th>

          <th class="label" pSortableColumn="MonedaCodigo" ALIGN="center" style="width: 18rem; text-align: center;">
            Moneda<p-sortIcon field="MonedaCodigo"></p-sortIcon>
          </th>
          <th pSortableColumn="FechaCambio" class="label" ALIGN="center" style="width: 13rem; text-align: center;">
            Fecha Cambio<p-sortIcon field="FechaCambio"></p-sortIcon>
          </th>
          <th class="label" pSortableColumn="FactorCompra" ALIGN="center" style="width: 13rem; text-align: center;">
            Compra<p-sortIcon field="FactorCompra"></p-sortIcon>
          </th>
          <th pSortableColumn="FactorVenta" class="label" ALIGN="center" style="width: 15rem; text-align: center;">
            Venta<p-sortIcon field="FactorVenta"></p-sortIcon>
          </th>
          <th pSortableColumn="EstadoDesc" class="label" ALIGN="center" style="width: 6rem; text-align: center;">
            Estado<p-sortIcon field="EstadoDesc"></p-sortIcon>
          </th>


        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData>
        <tr [pSelectableRow]="rowData">

          <td class="tablaColumnaAccion3">
            <span class="p-column-title">Acción</span>
            <table>
              <tr>
                <th>
                  <button pButton pRipple type="button" icon="fad fa-pencil-alt" class="p-button-rounded p-button-text"
                    title="Editar" (click)="coreEditar(rowData)"></button>
                </th>
                <th>
                  <button pButton pRipple type="button" icon="fad fa-search" (click)="coreVer(rowData)"
                    class="p-button-rounded p-button-text" title="Ver"></button>
                </th>
                <th>
                  <button pButton pRipple type="button" icon="fad fa-minus-circle"
                    class="p-button-rounded p-button-text" title="Anular" [disabled]="rowData.Estado !='A'"
                    (click)="coreInactivar(rowData)"></button>
                </th>
              </tr>
            </table>
          </td>
          <td class="tablaColumnaCodigoChico text-center text-center" style="width: 4rem;">
            <span class="p-column-title">Nro</span>
            {{ rowData.num }}
          </td>

          <td class="tablaColumnaCodigoChico text-center" ALIGN="center" style="width: 18rem;">
            <span class="p-column-title">Moneda</span>
            {{ rowData.MonedaDesc |uppercase}}
          </td>


          <td class="tablaColumnaCodigoChico text-center" ALIGN="center" style="width: 13rem;">
            <span class="p-column-title">Fecha Cambio</span>
            <span>{{rowData.FechaCambio|date:'yyyy-MM-dd'}}</span>
          </td>
          <td class="tablaColumnaCodigoChico text-center " ALIGN="center" style="width: 13rem;">
            <span class="p-column-title">Compra</span>
            <span>{{rowData.FactorCompra}}</span>
          </td>
          <td class="tablaColumnaCodigoChico text-center " ALIGN="center" style="width: 15rem;">
            <span class="p-column-title">Venta</span>
            <span>{{rowData.FactorVenta}}</span>
          </td>
          <td class="tablaColumnaCodigoChico text-center" ALIGN="center" style="width: 6rem;">
            <span class="p-column-title">Estado</span>
            {{ rowData.EstadoDesc |uppercase}}
          </td>

        </tr>
      </ng-template>
    </p-table>
  </p-fieldset>
</p-card>
<!-- <ngx-tipo-cambio></ngx-tipo-cambio> -->
<p-toast key="bc" [baseZIndex]="2000"></p-toast>
<p-toast [showTransformOptions]="'translateY(90%)'" [baseZIndex]="10000" key="notification"
  position="top-right"></p-toast>