<p-blockUI [blocked]="bloquearPag" [baseZIndex]="10000">
    <img src="assets\img\ZZ5H.gif" style="width: 5%">
  </p-blockUI>
  <p-confirmDialog #c key="confirm2">
    <p-footer>
      <button pButton type="button" icon="fa fa-check" label="Si" class="ui-button-rounded ui-button-danger"
        (click)="c.accept()"></button>
      <button pButton type="button" icon="fa fa-close" label="No" class="ui-button-rounded" (click)="c.reject()"></button>
    </p-footer>
  </p-confirmDialog>
  
  
  <p-card>
    <div class="row">
      <div class="col-sm-4">
        <h4 class="titulonuevo">Tipo de Cambio</h4>
      </div>
      <br>
      <br>
      <br>
      <div class="col-sm-2" style="background-color: transparent;"></div>
      <div class="col-sm-6" style="background-color: transparent;" aria-orientation="horizontal">
        <button pButton icon="fa fa-search" type="button" title="Buscar" label="Buscar" class="p-button-secondary"
          (click)="coreBuscar()"></button>
        <button pButton icon="fa fa-file" type="button" title="Nuevo" label="Nuevo" class="p-button-secondary"
          (click)="coreNuevo()"></button>
        <p-splitButton label="Exportar" icon="fa fa-file-pdf" (onClick)="exportExcel()"
          styleClass="p-button-text p-button-secondary" [model]="ltsExportar"></p-splitButton>
      </div>
    </div>
    <p-fieldset legend="Información Consulta" (keyup.enter)="coreBuscar()">
      <div class="row">
  
        <div class="col-sm-4">
          <label for="inputOrdAten" class="label">Compañia</label>
          <p-dropdown [(ngModel)]="filtro.CompaniaCodigo" [options]="lstCompania"
            [style]="{'width':'100%','text-transform': 'uppercase'}"></p-dropdown>
        </div>
  
        <div class="col-sm-4">
          <label for="inputOrdAten" class="label">Código</label>
          <input pInputText type="text" placeholder="" style="width:100%; height: 30px; text-transform: uppercase;"
            [(ngModel)]="filtro.AplicacionCodigo" />
        </div>
  
        <div class="col-sm-4">
          <label for="inputOrdAten" class="label">Parametro</label>
          <input pInputText type="text" placeholder="" style="width:100%; height: 30px; text-transform: uppercase;"
            [(ngModel)]="filtro.ParametroClave" />
        </div>
        <div class="col-sm-4">
          <label for="inputLastName" class="label">Estado</label>
          <p-dropdown [options]="lstEstado" [(ngModel)]="filtro.Estado"
            [style]="{'width':'100%','text-transform': 'uppercase'}"></p-dropdown>
        </div>
      </div>
    </p-fieldset>
  
    <br>
  
    <p-fieldset legend="Detalle">
      <p-table #dt [rows]="15" [paginator]="true" [rowHover]="true" dataKey="num" [value]="lstparametros"
        [responsive]="true" [sortOrder]="1" sortField="num"
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros" selectionMode="single"
        [rowsPerPageOptions]="[15, 30, 50]" [showCurrentPageReport]="true" [scrollable]="true" scrollHeight="300px"
        selectionMode="single">
        <ng-template pTemplate="header">
          <tr>
            <th class="tablaHeaderAccion3 label" ALIGN="center">Acciones</th>
            <th pSortableColumn="num" class="label" ALIGN="center" style="width: 4rem">
              Nro<p-sortIcon field="num"> </p-sortIcon>
            </th>
      
            <th class="label" pSortableColumn="DescripcionCorta" ALIGN="center" style="width: 18rem; text-align: center;">
              Compañia<p-sortIcon field="DescripcionCorta"></p-sortIcon>
            </th>
            <th pSortableColumn="TipoComprobante" class="label" ALIGN="center" style="width: 13rem; text-align: center;">
              Codigo<p-sortIcon field="TipoComprobante"></p-sortIcon>
            </th>
            <th class="label" pSortableColumn="Serie" ALIGN="center" style="width: 13rem; text-align: center;">
              Parametro<p-sortIcon field="Serie"></p-sortIcon>
            </th>
            <th pSortableColumn="NumeroDigitos" class="label" ALIGN="center" style="width: 15rem; text-align: center;">
              Descripción<p-sortIcon field="NumeroDigitos"></p-sortIcon>
            </th>
            <th pSortableColumn="ESTADOdesc" class="label" ALIGN="center" style="width: 6rem; text-align: center;">
              Estado<p-sortIcon field="ESTADOdesc"></p-sortIcon>
            </th>
  
  
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData>
          <tr [pSelectableRow]="rowData">
  
            <td class="tablaColumnaAccion3">
              <span class="p-column-title">Acción</span>
              <table>
                <tr>
                  <th>
                    <button pButton pRipple type="button" icon="fad fa-pencil-alt" class="p-button-rounded p-button-text"
                      title="Editar" (click)="coreEditar(rowData)"></button>
                  </th>
                  <th>
                    <button pButton pRipple type="button" icon="fad fa-search" (click)="coreVer(rowData)"
                      class="p-button-rounded p-button-text" title="Ver"></button>
                  </th>
                  <th>
                    <button pButton pRipple type="button" icon="fad fa-minus-circle"
                      class="p-button-rounded p-button-text" title="Anular" *ngIf="rowData.Estado =='A'"
                      (click)="coreinactivar(rowData)"></button>
                  </th>
                </tr>
              </table>
            </td>
            <td class="tablaColumnaCodigoChico text-center text-center" style="width: 4rem;">
              <span class="p-column-title">Nro</span>
              {{ rowData.num }}
            </td>
   
            <td class="tablaColumnaCodigoChico text-center" ALIGN="center" style="width: 18rem;">
              <span class="p-column-title">Compañia</span>
              {{ rowData.DescripcionCorta |uppercase}}
            </td>
  
  
            <td class="tablaColumnaCodigoChico text-center" ALIGN="center" style="width: 13rem;">
              <span class="p-column-title">Codigo</span>
              <span>{{rowData.AplicacionCodigo|uppercase}}</span>
            </td>
            <td class="tablaColumnaCodigoChico text-center " ALIGN="center" style="width: 13rem;">
              <span class="p-column-title">Parametro</span>
              <span>{{rowData.ParametroClave|uppercase}}</span>
            </td>
            <td class="tablaColumnaCodigoChico text-center " ALIGN="center" style="width: 15rem;">
              <span class="p-column-title">Descripcion</span>
              <span>{{rowData.DescripcionParametro|uppercase}}</span>
            </td>
            <td class="tablaColumnaCodigoChico text-center" ALIGN="center" style="width: 6rem;">
              <span class="p-column-title">Estado</span>
              {{ rowData.ESTADOdesc |uppercase}}
            </td>
  
          </tr>
        </ng-template>
      </p-table>
    </p-fieldset>
  </p-card>
  <ngx-tipo-cambio></ngx-tipo-cambio>
  <p-toast  key="bc" [baseZIndex]="2000" ></p-toast>
  