<p-blockUI [blocked]="bloquearPag" [baseZIndex]="10000">
    <img src="assets\img\ZZ5H.gif" style="width: 5%">
</p-blockUI>
<p-toast></p-toast>
<p-confirmDialog #c key="confirm2">
    <p-footer>
        <button pButton type="button" icon="fa fa-check" label="Si" class="ui-button-rounded ui-button-danger"
            (click)="c.accept()"></button>
        <button pButton type="button" icon="fa fa-close" label="No" class="ui-button-rounded"
            (click)="c.reject()"></button>
    </p-footer>
</p-confirmDialog>
<p-card>
    <nb-card-header>
        <nav class="fixed">
            <ngx-header-titulo [objTitulo]="objetoTitulo"></ngx-header-titulo>
        </nav>
    </nb-card-header>
    <p-fieldset legend="Consulta General">
        <div class="row" style="padding: 10px;">
            <div class="col-sm-3">
                <label for="inputLastName" class="label">Compañia</label>
                <p-dropdown [(ngModel)]="filtro.Compania" [filter]="true" [options]="lstCompania"
                    [style]="{'width':'100%','text-transform': 'uppercase'}"></p-dropdown>
            </div>
            <div class="col-sm-3">
                <label for="inputLastName" class="label">Tipo Comprobante</label>
                <p-dropdown [(ngModel)]="filtro.TipoComprobante" [filter]="true" [options]="lstTipoComprobante"
                    [style]="{'width':'100%','text-transform': 'uppercase'}"></p-dropdown>
            </div>
            <div class="col-sm-3">
                <label for="inputLastName" class="label">Serie</label>
                <p-dropdown [(ngModel)]="filtro.SerieComprobante" [filter]="true" [options]="lstSerie"
                    [style]="{'width':'100%','text-transform': 'uppercase'}"></p-dropdown>
            </div>
            <div class="col-sm-3">
                <label for="inputLastName" class="label">Sede</label>
                <p-dropdown [(ngModel)]="filtro.Sucursal" [filter]="true" [options]="lstSede"
                    [style]="{'width':'100%','text-transform': 'uppercase'}"></p-dropdown>
            </div>
            <div class="col-sm-3">
                <label for="inputLastName" class="label">Nro Comprobante</label>
                <p-inputNumber mode="decimal" [style]="{'width':'100%'}" [(ngModel)]="filtro.NumeroComprobante"
                    [minFractionDigits]="0" [maxFractionDigits]="0">
                </p-inputNumber>
            </div>
            <div class="col-sm-3">
                <label for="inputOrdAten" class="label">Unidad Negocio</label>
                <p-dropdown [(ngModel)]="filtro.ClasificadorMovimiento" [filter]="true"
                    [options]="lstClasificadorMovimiento"
                    [style]="{'width':'100%','text-transform': 'uppercase'}"></p-dropdown>
            </div>
            <div class="col-sm-3">
                <label for="inputLastName" class="label">Estado</label>
                <p-inputNumber mode="decimal" [style]="{'width':'100%'}" [(ngModel)]="filtro.NumeroComprobante"
                    [minFractionDigits]="0" [maxFractionDigits]="0">
                </p-inputNumber>
            </div>
            <div class="col-sm-3">
                <label for="inputLastName" class="label">Cliente</label>
                <div class="p-inputgroup">
                    <div class="p-inputgroup">
                        <input pInputText type="text" (keydown)="validarEnterEmpresa($event)"
                            class="hoverDisabled size-large status-basic shape-rectangle nb-transition"
                            style="width:70%; height: 30px;" [(ngModel)]="filtro.DocumentoCliente"
                            [disabled]="editarCampoEmpresa" />
                        &nbsp;
                        <input pInputText type="text"
                            class="hoverDisabled  size-medium col-9 status-basic shape-rectangle nb-transition"
                            style="width:130%; height: 30px;" [(ngModel)]="filtro.NombreCliente" [disabled]="true" />
                        <div class="input-group-append">
                            <button class="btn btn-outline" type="button" id="button-addon2"
                                style=" height:30px; margin-left:-32px" (click)="limpiarEmpresa()"
                                [disabled]="editarCampos">x</button>
                        </div>
                    </div>
                    <button (click)="verSelectorEmpresa()" pButton icon="fa fa-search" class="botonbuscar" type="button"
                        title="Buscar Empresa" [disabled]="editarCampos"></button>
                </div>
            </div>
            <div class="col-sm-3">
                <label class="label">Fecha Inicio</label>
                <p-calendar [monthNavigator]="true" [(ngModel)]="filtro.FechaEmision" [yearNavigator]="true"
                    [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}" yearRange="1940:2300" [locale]="es"
                    dateFormat="dd/mm/yy" [showIcon]="true">
                </p-calendar>
            </div>
            <div class="col-sm-3">
                <label class="label">Fecha Fin</label>
                <p-calendar [monthNavigator]="true" [(ngModel)]="filtro.FechaVencimiento" [yearNavigator]="true"
                    [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}" yearRange="1940:2200" [locale]="es"
                    dateFormat="dd/mm/yy" [showIcon]="true">
                </p-calendar>
            </div>
            <div class="col-sm-3">
                <label class="label col-12">ㅤ</label>
                <button (click)="verSelectorEmpresa()" pButton icon="fa fa-map" class="botonbuscar" type="button"
                    title="Ver leyenda" [disabled]="editarCampos"></button>
            </div>

        </div>
    </p-fieldset>
    <p-fieldset legend="Comprobante">
        <p-table id="contenido" #dt [rows]="15" [paginator]="true" [rowHover]="true" [responsive]="true "
            [style]="{ width: '100%'}" [sortOrder]="1" sortField="num" [value]="lstComprobante"
            [(selection)]="seleccion" selectionMode="single"
            currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
            [rowsPerPageOptions]="[25,50,100]" [showCurrentPageReport]="true" [scrollable]="true" scrollHeight="300px">
            <ng-template pTemplate="header">
                <tr>
                    <th class="tablaColumnaCodigoChico text-center" ALIGN="center"
                        style="width: 8rem; text-align: center;">
                        Acción</th>
                    <th pSortableColumn="num" class="tablaColumnaCodigoChico text-center" ALIGN="center"
                        style="width: 4rem; text-align: center;">
                        Nro <p-sortIcon field="num"> </p-sortIcon>
                    </th>
                    <th pSortableColumn="FechaEmision" class="tablaColumnaCodigoChico text-center" ALIGN="center"
                        style="width: 8rem; text-align: center;">
                        F. Factura<p-sortIcon field="FechaEmision"></p-sortIcon>
                    </th>
                    <th pSortableColumn="NumeroComprobante" class="tablaColumnaCodigoChico text-center" ALIGN="center"
                        style="width: 8rem; text-align: center;">
                        Nro Factura<p-sortIcon field="NumeroComprobante"></p-sortIcon>
                    </th>
                    <th pSortableColumn="NombreCliente" class="tablaColumnaCodigoChico text-center" ALIGN="center"
                        style="width: 12rem; text-align: center;">
                        Cliente<p-sortIcon field="NombreCliente"></p-sortIcon>
                    </th>
                    <th pSortableColumn="CampoReferencia" class="tablaColumnaCodigoChico text-center" ALIGN="center"
                        style="width: 20rem; text-align: center;">
                        Concepto<p-sortIcon field="CampoReferencia"></p-sortIcon>
                    </th>
                    <th class="label" pSortableColumn="NomClasificador" ALIGN="center"
                        style="width: 10rem; text-align: center;">
                        Clasificador<p-sortIcon field="NomClasificador"></p-sortIcon>
                    </th>
                    <th class="label" pSortableColumn="SedDescripcion" ALIGN="center"
                        style="width: 8rem; text-align: center;">
                        Sede<p-sortIcon field="SedDescripcion"></p-sortIcon>
                    </th>
                    <th class="label" pSortableColumn="MontoAfecto" ALIGN="center"
                        style="width: 6rem; text-align: center;">
                        Monto<p-sortIcon field="MontoAfecto"></p-sortIcon>
                    </th>
                    <th class="label" pSortableColumn="MontoImpuestoVentasLocal" ALIGN="center"
                        style="width: 6rem; text-align: center;">
                        Igv<p-sortIcon field="MontoImpuestoVentasLocal"></p-sortIcon>
                    </th>
                    <th class="label" pSortableColumn="MontoTotal" ALIGN="center"
                        style="width: 6rem; text-align: center;">
                        Total<p-sortIcon field="MontoTotal"></p-sortIcon>
                    </th>
                    <th class="label" pSortableColumn="DesEstado" ALIGN="center"
                        style="width: 6rem; text-align: center;">
                        Estado<p-sortIcon field="DesEstado"></p-sortIcon>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData>
                <tr [pSelectableRow]="rowData">
                    <td class="tablaColumnaCodigoChico text-center" ALIGN="center"
                        style="width: 8rem; text-align: center;">
                        <span class="p-column-title">Acción</span>
                        <table>
                            <tr>
                                <th>
                                    <button pButton pRipple type="button" icon="fad fa-pencil-alt"
                                        class="p-button-rounded p-button-text" title="Editar"
                                        (click)="coreEditar(rowData)"></button>
                                </th>
                                <th>
                                    <button pButton pRipple type="button" icon="fad fa-search"
                                        class="p-button-rounded p-button-text" title="Ver"
                                        (click)="coreVer(rowData)"></button>
                                </th>
                                <th>
                                    <button pButton pRipple type="button" icon="fal fa-trash-alt"
                                        class="p-button-rounded p-button-text" title="Inactivar"
                                        (click)="coreInactivar(rowData)" [disabled]="rowData.Estado == '2'"></button>
                                </th>
                            </tr>
                        </table>
                    </td>
                    <td class="tablaColumnaCodigoChico text-center" ALIGN="center"
                        style="width: 4rem; text-align: center;">
                        <span class="p-column-title">Nro</span>
                        {{ rowData.num }}
                    </td>
                    <td class="tablaColumnaCodigoChico text-center" ALIGN="center"
                        style="width: 8rem; text-align: center;">
                        <span class="p-column-title">F. Factura</span>
                        {{rowData.FechaEmision| date: 'dd/MM/yyyy'}}
                    </td>
                    <td class="tablaColumnaCodigoChico text-center" ALIGN="center"
                        style="width: 8rem; text-align: center;">
                        <span class="p-column-title">Nro Factura</span>
                        {{ rowData.NumeroComprobante |uppercase }}
                    </td>
                    <td class="tablaColumnaCodigoChico text-center" ALIGN="center"
                        style="width: 12rem; text-align: center;">
                        <span class="p-column-title">Cliente</span>
                        {{ rowData.NombreCliente |uppercase }}
                    </td>
                    <td class="tablaColumnaCodigoChico text-center" ALIGN="center"
                        style="width: 20rem; text-align: center;">
                        <span class="p-column-title">Concepto</span>
                        {{ rowData.CampoReferencia |uppercase }}
                    </td>
                    <td class="tablaColumnaCodigoChico text-center" ALIGN="center"
                        style="width: 10rem; text-align: center;">
                        <span class="p-column-title">Clasificador</span>
                        {{ rowData.NomClasificador |uppercase }}
                    </td>
                    <td class="tablaColumnaCodigoChico text-center" ALIGN="center" style="width: 8rem;">
                        <span class="p-column-title">Sede</span>
                        {{ rowData.SedDescripcion |uppercase }}
                    </td>
                    <td class="tablaColumnaCodigoChico text-center" ALIGN="center"
                        style="width: 6rem; text-align: center;">
                        <span class="p-column-title">Monto</span>
                        {{ rowData.MontoAfecto | number:'1.2-2'}}
                    </td>
                    <td class="tablaColumnaCodigoChico text-center" ALIGN="center"
                        style="width: 6rem; text-align: center;">
                        <span class="p-column-title">Igv</span>
                        {{ rowData.MontoImpuestoVentasLocal | number:'1.2-2'}}
                    </td>
                    <td class="tablaColumnaCodigoChico text-center" ALIGN="center"
                        style="width: 6rem; text-align: center;">
                        <span class="p-column-title">Total</span>
                        {{ rowData.MontoTotal | number:'1.2-2'}}
                    </td>
                    <td class="tablaColumnaCodigoChico text-center" ALIGN="center" style="width: 6rem;">
                        <span class="p-column-title">Estado</span>
                        {{ rowData.DesEstado |uppercase }}
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </p-fieldset>
    <p-fieldset legend="Leyenda de Estados">
        <div class="col-sm-3">
            <div class="form-group">
                <br>
                <br>
                <br>
                <br>
            </div>
        </div>
    </p-fieldset>
</p-card>
<ngx-facturacion-mantenimiento></ngx-facturacion-mantenimiento>
<p-toast key="bc" [baseZIndex]="4000"></p-toast>