<p-blockUI [blocked]="bloquearPag" [baseZIndex]="10000">
    <img src="assets\img\ZZ5H.gif" style="width: 5%">
</p-blockUI>
<p-confirmDialog #c key="refinanciar" [visible]="visible" [baseZIndex]="10000">
    <p-footer>
        <button pButton type="button" icon="fa fa-check" label="Si, Guardar" class="ui-button-rounded ui-button-danger"
            (click)="c.accept()"></button>
        <button pButton type="button" icon="fa fa-close" label="No, Cancelar" class="ui-button-rounded"
            (click)="c.reject()"></button>
    </p-footer>
</p-confirmDialog>

<p-dialog [(visible)]="dialog" [draggable]="false" [modal]="true" [resizable]="false" [breakpoints]="{'950px': '75vw'}"
    [style]="{width: '850px'}" [header]="acciones" [position]="position" [maximizable]="true" [baseZIndex]="10000">
    <ng-template pTemplate="content">
        <p-fieldset legend="Información General">
            <div class="row">
                <div class="col-sm-4">   
                    <label for="inputLastName" class="label">Compañia</label>                     
                    <p-dropdown [(ngModel)]="dto.CompaniaCodigo" [options]="lstCompania"                  
                        [style]="{'width':'100%','text-transform': 'uppercase'}"></p-dropdown>
                </div>
                <div class="col-sm-4">                
                    <label for="inputLastName" class="label">Tipo Comprobante</label>               
                    <p-dropdown [(ngModel)]="dto.TipoComprobante" [options]="lstTipoComprobante"                  
                    [style]="{'width':'100%','text-transform': 'uppercase'}"></p-dropdown>   
                </div>
                <div class="col-sm-4">
                    <label for="inputLastName" class="label">Serie</label>
                    <input pInputText type="text" placeholder="" [style]="{'width':'100%'}" [(ngModel)]="dto.Serie" />
                </div>
                <div class="col-sm-4">        
                    <label for="inputLastName" class="label">Rango Inicial</label>
                    <input pInputText type="text" placeholder="" [style]="{'width':'100%'}" [(ngModel)]="dto.CorrelativoDesde" />
                </div>
                <div class="col-sm-4">
                    <label for="inputLastName" class="label">Rango Final</label>
                    <input pInputText type="text" placeholder="" [style]="{'width':'100%'}" [(ngModel)]="dto.CorrelativoHasta" />
                </div>

                <div class="col-sm-4">
                    <label for="inputLastName" class="label">Estado</label>
                    <p-dropdown [options]="lstEstado" [(ngModel)]="dto.Estado"
                    [style]="{'width':'100%','text-transform': 'uppercase'}"></p-dropdown>
                </div>
            </div>       
        </p-fieldset>
        <br>
        <p-fieldset legend="Datos Generales">
            <ngx-auditoria></ngx-auditoria>
        </p-fieldset>
    </ng-template>
    <ng-template pTemplate="footer">
        <p-button label="Guardar" icon="pi pi-save" styleClass="p-button-primary" [disabled]="puedeEditar" type="submit"
            (click)="saveProduct($event)"></p-button>
    </ng-template>
</p-dialog>
<p-toast></p-toast>