<nb-card>



    <nb-card-header>

        <div class="row">
            <div class="col-sm-2">
                <h4 class="titulonuevo"></h4>
            </div>
            <div class="col-sm-10" style="background-color: transparent;">
                <div>

                    <!-- <nb-card class="col-sm-6 fondocard" style="padding: 2px; margin-bottom: -10px; margin-top: -10px;">
                  <div class="row col-sm-12">
                    <button style="color: #2B4E64; padding: 0px;" class="col-sm-2 button btn"><img src="assets/img/ico5.ico" width="40%" style="filter: drop-shadow(5px 5px 7px #444);"><br><label style="font-size: 12px;font-weight: bold">Buscar</label></button> 
                     
                 <button  style="color: #2B4E64; padding: 0px;" class="col-sm-2 button btn"><img src="assets/img/NUEVO.png" width="40%" style="filter: drop-shadow(5px 5px 7px #444);"><br><label style="font-size: 12px;font-weight: bold">Nuevo</label> </button> 
                 <button style="color: #2B4E64; padding: 0px;" class="col-sm-2 button btn"><img src="assets/img/ico_editar.ico" width="40%" style="filter: drop-shadow(5px 5px 7px #444);"><br><label style="font-size: 12px;font-weight: bold">Editar</label></button> 
                 <button style="color: #2B4E64; padding: 0px;" class="col-sm-2 button btn"><img src="assets/img/ico4.ico" width="40%" style="filter: drop-shadow(5px 5px 7px #444);"><br><label style="font-size: 12px;font-weight: bold">Ver</label></button>
                 <button style="color: #2B4E64; padding: 0px;" class="col-sm-2 button btn"><img src="assets/img/inactivar.png" width="40%" style="filter: drop-shadow(5px 5px 7px #444);"><br><label style="font-size: 12px;font-weight: bold">Inactivar</label></button> 
                 <button style="color: #2B4E64; padding: 0px;" class="col-sm-2 button btn"><img src="assets/img/COPIAR.png" width="40%" style="filter: drop-shadow(5px 5px 7px #444);"><br><label style="font-size: 12px;font-weight: bold">Copiar</label></button>
  
  
              </div>
              </nb-card>     -->
                </div>

            </div>
        </div>
    </nb-card-header>
    <!-- <p-divider align="left" [ngStyle]="{'padding-left': '15px','padding-right': '15px'}">
    <div class="p-d-inline-flex p-ai-center">
        <i class="pi pi-bars p-mr-2"></i>
        <b>&nbsp;Configuración de Contratos</b>
    </div>
  </p-divider> -->



    <div class="row" style="padding: 10px;">
        <div class="col-sm-4">

            <label for="inputLastName" class="label">Médico</label>
            <div class="p-inputgroup">
                <input pInputText type="text" disabled class="hoverDisabled" style="width:60px" />&nbsp;
                <input pInputText type="text" disabled class="hoverDisabled" style="width:100%; height: 30px;" />
                <button pButton icon="fa fa-binoculars" type="button" title="Buscar Empleado"></button>
            </div>
            <label for="inputLastName" class="label">Paciente</label>
            <div class="p-inputgroup">
                <input pInputText type="text" disabled class="hoverDisabled" style="width:60px" />&nbsp;
                <input pInputText type="text" disabled class="hoverDisabled" style="width:100%; height: 30px;" />
                <button pButton icon="fa fa-binoculars" type="button" title="Buscar Empleado"></button>
            </div>


        </div>
        <div class="col-sm-4">


            <label for="inputLastName" class="label">Estado</label>
            <p-dropdown placeholder="Seleccione"></p-dropdown>




        </div>
        <div class="col-sm-4">
            <label for="inputLastName" class="label">Fecha Inicial</label>
            <div class="p-inputgroup">
                <p-calendar class="calendar_size" dateFormat="dd/mm/yy" [ngStyle]="{'width': '100%'}" [showIcon]="true"
                    [showTime]="true" yearRange="2000:2010" placeholder='' [monthNavigator]="true"
                    [yearNavigator]="true">
                </p-calendar>
            </div>

            <label for="inputLastName" class="label">Fecha Final</label>
            <div class="p-inputgroup">
                <p-calendar class="calendar_size" dateFormat="dd/mm/yy" [ngStyle]="{'width': '100%'}" [showIcon]="true"
                    [showTime]="true" yearRange="2000:2010" placeholder='' [monthNavigator]="true"
                    [yearNavigator]="true">
                </p-calendar>
            </div>





        </div>



        <!-- <div class="col-sm-4">

            <label for="inputLastName" class="label">Cliente</label>
            <div class="p-inputgroup">
                <input pInputText type="text" disabled class="hoverDisabled" style="width:60px" />&nbsp;
                <input pInputText type="text" disabled class="hoverDisabled" style="width:100%; height: 30px;" />
                <button pButton icon="fa fa-binoculars" type="button" title="Buscar Empleado"></button>
            </div>



        </div> -->


    </div>
    <br>


</nb-card>