<p-blockUI [blocked]="bloquearPag" [baseZIndex]="10000">
    <img src="assets\img\ZZ5H.gif" style="width: 5%">
</p-blockUI>
<p-dialog [(visible)]="dialog" [draggable]="false" [modal]="true" [resizable]="false" [breakpoints]="{'950px': '75vw'}"
    [style]="{width: '850px'}" [header]="acciones" [position]="position" [maximizable]="true" [baseZIndex]="10000">

    <ng-template pTemplate="content">
        <p-fieldset legend="Datos">
            <div class="row" style="padding: 10px;">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="inputLastName" class="label">Código Componente</label>
                        <input pInputText type="text" placeholder=""
                            style="width:100%; background-color: rgb(247, 247, 208); height: 30px;"  />
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="form-group">
                        <label for="inputLastName" class="label">Descripción</label>
                        <input pInputText type="text" placeholder="" [(ngModel)]="nombreruta" 
                        style="width:100%; background-color: rgb(247, 247, 208); height: 30px;" />
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="inputLastName" class="label">Abreviatura</label>
                        <input pInputText type="text" placeholder="" style="width:100%; background-color: rgb(247, 247, 208); height: 30px;" />
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="inputLastName" class="label">Tiempo</label>
                        <p-dropdown  [filter]="true" >              </p-dropdown>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="inputLastName" class="label">Dias de entrega</label>
                        <input pInputText type="text" placeholder="" style="width:100%; background-color: rgb(247, 247, 208); height: 30px;" />
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="inputLastName" class="label">Sexo</label>
                        <p-dropdown  [filter]="true" ></p-dropdown>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="inputLastName" class="label">Estado</label>
                        <p-dropdown  [filter]="true" ></p-dropdown>

                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="form-group">                    
                        <input pInputText type="text" placeholder="" [disabled]="true" 
                        style="width:100%; background-color: rgb(247, 247, 208); height: 30px;"  [(ngModel)]="nombrearchivo" />
                        <input type="file" id="fileUpload" name="fileUpload" class="form-control"
                            style="display:none" (change)="exportar($event)" />
                        <button pButton pRipple type="button" icon="fa fa-upload" [showIcon]="true"  label="Importar" title="Importar"
                            styleClass="p-button-primary"   title="Subir Archivo" (click)="subirArchivo(fileUpload)"></button>
                    </div>
                </div>

            </div>
        </p-fieldset>    
    </ng-template>
    <ng-template pTemplate="footer">
        <p-button label="Guardar" icon="pi pi-save" styleClass="p-button-primary" [disabled]="puedeEditar" type="submit"
            (click)="saveProduct($event)"></p-button>
    </ng-template>

</p-dialog>
<p-toast [baseZIndex]="10000" ></p-toast>