@import '../../../../@theme/styles/themes';

@include nb-install-component() {
  nb-card {
    transform: translate3d(0, 0, 0);
  }
}


:host ::ng-deep.p-overlaypanel {
    margin-top: -155px;
    margin-left: -285px;
    position: absolute;
}

@media screen and (max-width: 960px){
    :host ::ng-deep{
        .p-overlaypanel {
            margin-top: -165px;
            margin-left: 5px;
        }
    }
  }
