<p-dialog [(visible)]="dialog" [draggable]="false" [modal]="true" [resizable]="false" [breakpoints]="{'1050px': '75vw'}"
  [style]="{width: '1000px'}" [header]="acciones" [position]="position" [maximizable]="true" [baseZIndex]="10000">

  <ng-template pTemplate="content">
    <br>

    <p-fieldset legend="Criterios de Busqueda">


      <div class="row" style="padding: 10px;">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="inputLastName" class="label">Busqueda Por:&nbsp;&nbsp;&nbsp; </label>

            <div class="form-check form-check-inline">
              <input (click)="checknombre($event)" class="form-check-input" type="radio" name="inlineRadioOptions"
                id="inlineRadio1" value="option1" checked>
              <label class="form-check-label" for="inlineRadio1">Nombre</label>

            </div>
            <div class="form-check form-check-inline">
              <input (click)="checkdocumento($event)" class="form-check-input" type="radio" name="inlineRadioOptions"
                id="inlineRadio2" value="option2">
              <label class="form-check-label" for="inlineRadio2">Documento</label>

            </div>

          </div>
        </div>
      </div>
      <form [formGroup]="validarBusPer">
        <div class="col-sm-4" *ngIf="vernombre">
          <div class="p-inputgroup">
            <label for="inputLastName" class="label">Razón Social</label>
            <div *ngIf="nombreField.touched && nombreField.invalid">
              <p class="caption status-danger" *ngIf="nombreField.hasError('required')">
                *
              </p>
            </div>
          </div>
          <div class="p-inputgroup">
            <input pInputText type="text" [(ngModel)]="dto.NombreCompleto" style="width:100%"
              (keydown)="validarTeclaEnter($event)" minlength="2" formControlName="nombre" />
            <button pButton icon="fa fa-binoculars" type="button" title="Buscar"
              (click)="coreBuscare(dtmultiple)"></button>
          </div>
          <div *ngIf="nombreField.touched && nombreField.invalid">
            <p class="caption status-danger" *ngIf="nombreField.hasError('minlength')">
              Ingresar Minimo 2 Caracteres
            </p>
          </div>

        </div>
      </form>

      <div class="col-sm-4" *ngIf="verdocumento">
        <div class="form-group">
          <label for="inputLastName" class="label">Tipo de Documento</label>
          <!-- <div class="p-inputgroup"> -->
          <p-dropdown #myselect [options]="lstTipoDocumento" [(ngModel)]="dto.TipoDocumento" [disabled]="true"
            (keydown)="validarTeclaEnter($event)" [filter]="true"></p-dropdown>


          <!-- <button pButton icon="fas fa-check" type="button" title="Seleccionar"></button> -->


          <!-- </div> -->
        </div>
      </div>
      <form [formGroup]="validarBusDocPer">
        <div class="col-sm-4" *ngIf="verdocumento">
          <div class="p-inputgroup">
            <label for="inputLastName" class="label">Documento</label>
            <div *ngIf="documentoField.touched && documentoField.invalid">
              <p class="caption status-danger" *ngIf="documentoField.hasError('required')">
                *
              </p>
            </div>
          </div>
          <div class="p-inputgroup">
            <input pInputText type="text" [(ngModel)]="dto.Documento" style="width:100%"
              [disabled]="editarTipoDocumento" (keydown)="validarTeclaEnter($event)" minlength="11"
              formControlName="documento" (keypress)="esRUCValido($event)" />
            &nbsp;
            <button pButton icon="fa fa-binoculars" type="button" title="Buscar"
              (click)="coreBuscare(dtmultiple)"></button>
          </div>
          <div *ngIf="documentoField.touched && documentoField.invalid">
            <p class="caption status-danger" *ngIf="documentoField.hasError('minlength')">
              Ingresar un Documento
            </p>
          </div>

        </div>
        <!-- <div class="col-sm-4" *ngIf="verdocumento">
        <label for="inputLastName" class="label" *ngIf="verRuc">RUC</label>
        <input pInputText type="text" placeholder="" [style]="{'width':'100%'}" *ngIf="verRuc"
          [(ngModel)]="dto.DocumentoFiscal" [disabled]="editarCampos" />
      </div> -->
      </form>
    </p-fieldset>
    <br>
    <p-fieldset legend="Resultados">
      <div class="col">
        <p-table #dt [rows]="15" [paginator]="true" [rowHover]="true" dataKey="tipousuario" [responsive]="true"
          [value]="lstPersona" [sortOrder]="1" sortField="numeroempresa" (onLazyLoad)="grillaCargarDatos($event)"
          currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
          [showCurrentPageReport]="true" [loading]="loading" [scrollable]="true" scrollHeight="200px"
          [style]="{ width: '100%'}" [rowsPerPageOptions]="[15,30,50]">

          <ng-template pTemplate="colgroup">
            <colgroup>
              <col style="width:75px">
            </colgroup>
          </ng-template>

          <ng-template pTemplate="header">
            <tr>
              <th class="label" style="width: 8rem;">Acción</th>
              <th class="label" style="width: 5rem;" pSortableColumn="numeroempresa">Nro<p-sortIcon
                  field="numeroempresa">
                </p-sortIcon>
              </th>
              <th class="label" style="width: 8rem;" pSortableColumn="Persona">Codigo<p-sortIcon field="Persona">
                </p-sortIcon>
              </th>

              <th class="label" style="width: 20rem;" pSortableColumn="NombreCompleto">Razón Social<p-sortIcon
                  field="NombreCompleto">
                </p-sortIcon>
              </th>


              <th class="label" style="width: 8rem;" pSortableColumn="Documento">Documento<p-sortIcon field="Documento">
                </p-sortIcon>
              </th>


              <th class="label" style="width: 8rem;" pSortableColumn="Telefono">Telef<p-sortIcon field="Telefono">
                </p-sortIcon>
              </th>


            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-columns="columns">

            <tr [pSelectableRow]="rowData" (dblclick)="ondobleRowDblclick(rowData)">
              <td style="width: 8rem" class="tablaColumnaAccion1">
                <span class="p-column-title">Acción</span>
                <button pButton icon="pi pi-check" type="button" class="p-button-rounded p-button-text botonGrilla"
                  (click)="coreSeleccionar(rowData)" title="Seleccionar"></button>
              </td>
              <!-- <td class="tablaColumnaAccion3">
              <span class="p-column-title">Acción</span>
              <table>
                <tr>
                  <th>
                    <button pButton pRipple type="button" icon="fas fa-check" class="p-button-rounded p-button-text"
                      title="Seleccionar"></button>
                  </th>
                </tr>
              </table>
            </td> -->
              <td class="tablaColumnaCodigoChico" style="width: 5rem;" ALIGN="center">{{rowData.numeroempresa}}</td>

              <td class="tablaColumnaCodigoChico" style="width: 8rem;" ALIGN="center">{{rowData.Persona}}</td>

              <td class="tablaColumnaCodigoChico" style="width: 20rem;" ALIGN="center">{{rowData.NombreCompleto}}</td>


              <td class="tablaColumnaCodigoChico" style="width: 8rem;" ALIGN="center">{{rowData.Documento}}</td>


              <td class="tablaColumnaCodigoChico" style="width: 8rem;" ALIGN="center">
                {{rowData.Telefono}}
              </td>

            </tr>
          </ng-template>
        </p-table>
      </div>
    </p-fieldset>

    <!-- <p-fieldset legend="Datos Generales">
                <ngx-auditoria></ngx-auditoria>
            </p-fieldset> -->


  </ng-template>


</p-dialog>