<p-blockUI [blocked]="bloquearPag" [baseZIndex]="100000000">
    <img src="assets\img\ZZ5H.gif" style="width: 5%">
</p-blockUI>
<p-toast></p-toast>
<p-confirmDialog #c key="confirm2">
    <p-footer>
        <button pButton type="button" icon="fa fa-check" label="Si" class="ui-button-rounded ui-button-danger"
            (click)="c.accept()"></button>
        <button pButton type="button" icon="fa fa-close" label="No" class="ui-button-rounded"
            (click)="c.reject()"></button>
    </p-footer>
</p-confirmDialog>

<p-card>
    <nb-card-header>
        <nav class="fixed">
            <ngx-header-titulo [objTitulo]="objetoTitulo"></ngx-header-titulo>
        </nav>
    </nb-card-header>
    <p-fieldset legend="Consulta General De Atenciones" (keyup.enter)="coreBuscar()">
        <div class="row">
            <div class="col-sm-4">
                <label class="label">Nro Liquidacion</label>
                <input pInputText type="text" placeholder="" [(ngModel)]="filtro.CodigoExpediente"
                    style="width:100%; height: 30px;" />
            </div>
            <div class="col-sm-4">
                <label for="inputOrdAten" class="label">Tipo Liquidacion</label>
                <p-dropdown [(ngModel)]="filtro.TipoExpediente" [filter]="true" [options]="lstTipoExpediente"
                    [style]="{'width':'100%','text-transform': 'uppercase'}"></p-dropdown>
            </div>
            <div class="col-sm-4">
                <label for="inputOrdAten" class="label">Estado</label>
                <p-dropdown [(ngModel)]="filtro.Estado" [filter]="true" [options]="lstEstado"
                    [style]="{'width':'100%','text-transform': 'uppercase'}"></p-dropdown>
            </div>

            <div class="col-sm-4">
                <label for="inputLastName" class="label">Cliente</label>
                <div class="p-inputgroup">
                    <div class="p-inputgroup">
                        <input pInputText type="text" id="documentoFiscal" name="documentoFiscal"
                            class="hoverDisabled size-large status-basic shape-rectangle nb-transition"
                            [disabled]="true" style="width:70%; height: 30px;" [(ngModel)]="filtro.DocumentoFiscal" />
                        &nbsp;
                        <input pInputText type="text"
                            class="hoverDisabled  size-medium col-9 status-basic shape-rectangle nb-transition"
                            style="width:130%; height: 30px;" [disabled]="true" [(ngModel)]="filtro.NombreCompleto" />
                        <div class="input-group-append">
                            <button pButton icon="fa fa-times" type="button" title="Limpiar Cliente"
                                class="p-button-secondary" style="margin-bottom: 5px;" (click)="limpiarEmpresa()"
                                style=" height:30px; margin-left: 3px; margin-right: 2px;"></button>
                            <button pButton icon="fa fa-search" class="botonbuscar" type="button"
                                (click)="verSelectorEmpresa()" title="Buscar Cliente"></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <label for="inputOrdAten" class="label">Clasificador</label>
                <p-dropdown [(ngModel)]="filtro.ClasificadorMovimiento" [filter]="true"
                    [options]="lstClasificadorMovimiento"
                    [style]="{'width':'100%','text-transform': 'uppercase'}"></p-dropdown>
            </div>
            <div class="col-sm-4">
                <label class="label">Descripcion</label>
                <input pInputText type="text" placeholder="" [(ngModel)]="filtro.Descripcion"
                    style="width:100%; height: 30px;" />
            </div>
            <div class="col-sm-4">
                <label class="label">Fecha Inicio</label>
                <p-calendar [monthNavigator]="true" [(ngModel)]="filtro.FechaInicio" [yearNavigator]="true"
                    [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}" yearRange="1940:2300" [locale]="es"
                    dateFormat="dd/mm/yy" [showIcon]="true">
                </p-calendar>
            </div>
            <div class="col-sm-4">
                <label class="label">Fecha Fin</label>
                <p-calendar [monthNavigator]="true" [(ngModel)]="filtro.FechaFinal" [yearNavigator]="true"
                    [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}" yearRange="1940:2200" [locale]="es"
                    dateFormat="dd/mm/yy" [showIcon]="true">
                </p-calendar>
            </div>

        </div>
    </p-fieldset>
    <br>
    <p-fieldset legend="Detalle De Liquidación">

        <p-table id="contenido" #dt [rows]="25" [paginator]="true" [rowHover]="true" [responsive]="true "
            [style]="{ width: '100%'}" [sortOrder]="1" sortField="num" [value]="lstExpediente" [(selection)]="seleccion"
            selectionMode="single" currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
            [rowsPerPageOptions]="[25,50,100]" [showCurrentPageReport]="true" [scrollable]="true" scrollHeight="300px">
            <ng-template pTemplate="header">
                <tr>
                    <th class="tablaColumnaCodigoChico text-center" ALIGN="center"
                        style="width: 8rem; text-align: center;">
                        Acción
                    </th>
                    <th pSortableColumn="num" class="tablaColumnaCodigoChico text-center" ALIGN="center"
                        style="width: 4rem; text-align: center;">
                        Nro<p-sortIcon field="num"></p-sortIcon>
                    </th>
                    <th pSortableColumn="CodigoExpediente" class="tablaColumnaCodigoChico text-center" ALIGN="center"
                        style="width: 5rem; text-align: center;">
                        Codigo<p-sortIcon field="CodigoExpediente"></p-sortIcon>
                    </th>
                    <th pSortableColumn="AdmDescripcion" class="tablaColumnaCodigoChico text-center" ALIGN="center"
                        style="width: 6rem; text-align: center;">
                        Tipo Adm<p-sortIcon field="AdmDescripcion"></p-sortIcon>
                    </th>
                    <th pSortableColumn="DesTipoExpediente" class="tablaColumnaCodigoChico text-center" ALIGN="center"
                        style="width: 15rem; text-align: center;">
                        Tipo Liquidación<p-sortIcon field="Nombre"></p-sortIcon>
                    </th>
                    <th pSortableColumn="Nombre" class="tablaColumnaCodigoChico text-center" ALIGN="center"
                        style="width: 15rem; text-align: center;">
                        Clasificacion<p-sortIcon field="Nombre"></p-sortIcon>
                    </th>
                    <th pSortableColumn="Cliente" class="tablaColumnaCodigoChico text-center" ALIGN="center"
                        style="width: 12rem; text-align: center;">
                        Cliente<p-sortIcon field="Cliente"></p-sortIcon>
                    </th>
                    <th pSortableColumn="FechaInicio" class="tablaColumnaCodigoChico text-center" ALIGN="center"
                        style="width: 6rem; text-align: center;">
                        Fecha<p-sortIcon field="FechaInicio"></p-sortIcon>
                    </th>
                    <th pSortableColumn="Descripcion" class="tablaColumnaCodigoChico text-center" ALIGN="center"
                        style="width: 20rem; text-align: center;">
                        Descripcion<p-sortIcon field="Descripcion"></p-sortIcon>
                    </th>
                    <th pSortableColumn="Monto" class="tablaColumnaCodigoChico text-center" ALIGN="center"
                        style="width: 6rem; text-align: center;">
                        Monto<p-sortIcon field="Monto"></p-sortIcon>
                    </th>
                    <th pSortableColumn="DesEstado" class="tablaColumnaCodigoChico text-center" ALIGN="center"
                        style="width: 6rem; text-align: center;">
                        Estado<p-sortIcon field="DesEstado"></p-sortIcon>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData>
                <tr [pSelectableRow]="rowData">
                    <td class="tablaColumnaCodigoChico text-center" ALIGN="center"
                        style="width: 8rem; text-align: center;">
                        <span class="p-column-title">Acción</span>
                        <table>
                            <tr>
                                <th>
                                    <button pButton pRipple type="button" icon="fad fa-pencil-alt"
                                        class="p-button-rounded p-button-text" title="Editar"
                                        (click)="coreEditar(rowData)"></button>
                                </th>
                                <th>
                                    <button pButton pRipple type="button" icon="fad fa-search"
                                        class="p-button-rounded p-button-text" title="Ver"
                                        (click)="coreVer(rowData)"></button>
                                </th>
                                <th>
                                    <button pButton pRipple type="button" icon="fal fa-trash-alt"
                                        class="p-button-rounded p-button-text" title="Inactivar"
                                        (click)="coreInactivar(rowData)" [disabled]="rowData.Estado == '2'"></button>
                                </th>
                            </tr>
                        </table>
                    </td>
                    <td class="tablaColumnaCodigoChico text-center" ALIGN="center"
                        style="width: 4rem; text-align: center;">
                        <span class="p-column-title">Nro</span>
                        {{ rowData.num }}
                    </td>
                    <td class="tablaColumnaCodigoChico text-center" ALIGN="center"
                        style="width: 5rem; text-align: center;">
                        <span class="p-column-title">Codigo</span>
                        {{ rowData.CodigoExpediente |uppercase }}
                    </td>

                    <td class="tablaColumnaCodigoChico text-center" ALIGN="center" style="width: 6rem;">
                        <span class="p-column-title">Tipo Adm</span>
                        {{ rowData.AdmDescripcion |uppercase }}
                    </td>
                    <td class="tablaColumnaCodigoChico text-center" ALIGN="center" style="width: 15rem;">
                        <span class="p-column-title">Tipo Liquidación</span>
                        {{ rowData.DesTipoExpediente |uppercase }}
                    </td>
                    <td class="tablaColumnaCodigoChico text-center" ALIGN="center" style="width: 15rem;">
                        <span class="p-column-title">Clasificacion</span>
                        {{ rowData.Nombre |uppercase }}
                    </td>
                    <td class="tablaColumnaCodigoChico text-center" ALIGN="center" style="width: 12rem;">
                        <span class="p-column-title">Cliente</span>
                        {{ rowData.NombreCompleto |uppercase }}
                    </td>
                    <td class="tablaColumnaCodigoChico text-center" ALIGN="center" style="width: 6rem;">
                        <span class="p-column-title">Fecha</span>
                        {{rowData.FechaInicio| date: 'dd/MM/yyyy'}}
                    </td>
                    <td class="tablaColumnaCodigoChico text-center" ALIGN="center" style="width: 20rem;">
                        <span class="p-column-title">Descripcion</span>
                        {{ rowData.Descripcion |uppercase }}
                    </td>
                    <td class="tablaColumnaCodigoChico text-center" ALIGN="center"
                        style="width: 6rem; text-align: center;">
                        <span class="p-column-title">Monto</span>
                        {{ rowData.Monto | number:'1.2-2'}}
                    </td>
                    <td class="tablaColumnaCodigoChico text-center" ALIGN="center" style="width: 6rem;">
                        <span class="p-column-title">Estado</span>
                        {{ rowData.DesEstado |uppercase }}
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="8">No se encontró información.</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="loadingbody">
                <tr>
                    <td colspan="8">Cargando información. Espere por favor...</td>
                </tr>
            </ng-template>
        </p-table>
    </p-fieldset>
</p-card>
<ngx-empresa-buscar></ngx-empresa-buscar>
<ngx-liquidacion-form-mantenimiento></ngx-liquidacion-form-mantenimiento>
<p-toast key="bc" [baseZIndex]="4000"></p-toast>