<div class="header-container">

  <div class="logo-container">
    <nb-actions size="small">
      <nb-action class="control-item" icon="browser-outline" matRipple></nb-action>
    </nb-actions>
    {{objTitulo.menuSeguridad.titulo}}
  </div>

</div>

<div class="header-container">
  <nb-actions size="small">
    <nb-action icon="search-outline" matRipple (click)="buscar()" [matRippleUnbounded]="true" [matRippleCentered]="true"
      nbTooltip="Buscar" nbTooltipPlacement="top" nbTooltipStatus="primary"></nb-action>

    <nb-action icon="plus-outline" matRipple (click)="nuevo()" [matRippleUnbounded]="true" [matRippleCentered]="true"
      nbTooltip="Nuevo" nbTooltipPlacement="top" nbTooltipStatus="success"></nb-action>
    <nb-action
      icon="trash-outline"
      matRipple
      (click)="recargar()"
      *ngIf="this.objTitulo.componente.btnEliminar == true"
      [matRippleUnbounded]="true"
      [matRippleCentered]="true"
      nbTooltip="Recargar" nbTooltipPlacement="top" nbTooltipStatus="success"
    ></nb-action>

    <nb-action icon="download-outline" matRipple (click)="Exportar()" nbTooltip="Descargar" nbTooltipPlacement="top"
      nbTooltipStatus="warning" [matRippleUnbounded]="true" [matRippleCentered]="true"></nb-action>

  </nb-actions>

</div>