<p-dialog [(visible)]="dialog" [draggable]="false" [modal]="true" [resizable]="false" [breakpoints]="{'950px': '75vw'}"
  [style]="{width: '850px'}" [header]="acciones" [position]="position" [maximizable]="true" [baseZIndex]="10000">
  <ng-template pTemplate="content">
    <p-fieldset legend="Criterios de Busqueda">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="inputLastName" class="label">Busqueda Por:&nbsp;&nbsp;&nbsp; </label>
            <div class="form-check form-check-inline">             
              <input (click)="checknombre($event)" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" checked>
                <label class="form-check-label" for="inlineRadio1">Nombre</label>
            </div>
            <div class="form-check form-check-inline">
              <input (click)="checkdocumento($event)" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
              <label class="form-check-label" for="inlineRadio2">Documento</label>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6" *ngIf="vernombre">
        <div class="form-group">
          <label for="inputLastName" class="label">Nombre</label>
          <div class="p-inputgroup">
            <input pInputText type="text" placeholder="" [style]="{'width':'50px'}" />

            &nbsp;
            <p-button styleClass="p-button-primary" type="button" title="Buscar">

              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
                viewBox="0 0 16 16">
                <path
                  d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
              </svg>
            </p-button>
            <p-button styleClass="p-button-primary" type="button" title="Seleccionar">

              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2"
                viewBox="0 0 16 16">
                <path
                  d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
              </svg>
            </p-button>
          </div>
        </div>
      </div>
      <div class="col-sm-6" *ngIf="verdocumento">
        <div class="form-group">
          <label for="inputLastName" class="label">Tipo de Documento</label>          
          <div class="p-inputgroup">
            <p-dropdown placeholder="--Todos--"></p-dropdown>
            

            &nbsp;
            <p-button styleClass="p-button-primary" type="button" title="Buscar">

              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
                viewBox="0 0 16 16">
                <path
                  d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
              </svg>
            </p-button>
            <p-button styleClass="p-button-primary" type="button" title="Seleccionar">

              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2"
                viewBox="0 0 16 16">
                <path
                  d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
              </svg>
            </p-button>
          </div>
        </div>
      </div>
      <div class="col-sm-4" *ngIf="verdocumento">
          

        <label for="inputLastName" class="label">Documento</label>
        <input pInputText type="text" placeholder="" [style]="{'width':'100%'}" />

      

    </div>

    </p-fieldset>
    <br>
    <p-fieldset legend="Resultados">
      <div class="col" style="OVERFLOW-X: scroll">
        <p-table #dt [rows]="15" [paginator]="true" [rowHover]="true" dataKey="tipousuario" [responsive]="true"
          [sortOrder]="-1" sortField="tipousuario" [value]="dto"
          currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
          [showCurrentPageReport]="true">

          <ng-template pTemplate="header">
            <tr>

              <th style="width: 10rem;" pSortableColumn="tipousuario">Nro<p-sortIcon field="tipousuario"> </p-sortIcon>
              </th>

              <th style="width: 10rem;" pSortableColumn="Perfil">Codigo<p-sortIcon field="Perfil"></p-sortIcon>
              </th>

              <th style="width: 10rem;" pSortableColumn="VaEstado">Razon Social<p-sortIcon field="VaEstado">
                </p-sortIcon>
              </th>
              <th style="width: 10rem;" pSortableColumn="VaEstado">Documento<p-sortIcon field="VaEstado"></p-sortIcon>
              </th>
              <th style="width: 10rem;" pSortableColumn="VaEstado">Telefono<p-sortIcon field="VaEstado">
                </p-sortIcon>
              </th>













            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-asignarPerfil>
            <tr>
              <td class="tablaColumnaAccion3">
                <span class="p-column-title">Acción</span>
                <table>
                  <tr>
                    <th>
                      <button pButton pRipple type="button" icon="fad fa-pencil-alt"
                        class="p-button-rounded p-button-text" title="Editar"
                        (click)="coreEditar(asignarPerfil)"></button>
                    </th>
                    <th>
                      <button pButton pRipple type="button" icon="fad fa-search" (click)="coreVer(asignarPerfil)"
                        class="p-button-rounded p-button-text" title="Ver"></button>
                    </th>
                    <th>
                      <button pButton pRipple type="button" icon="fal fa-trash-alt"
                        class="p-button-rounded p-button-text" title="Inactivar"></button>
                    </th>
                  </tr>
                </table>
              </td>

              <!-- <td>{{asignarPerfil.tipousuario}}</td>

        <td>{{asignarPerfil.Perfil}}</td> -->

              <!-- <td>
          <span>{{asignarPerfil.VaEstado}}</span>
        </td>  -->
              <td>{{asignarPerfil.Descripcion}}</td>

              <td>
                <span>{{asignarPerfil.Nombre}}</span>
              </td>
              <td>{{asignarPerfil.CodigoTabla}}</td>

              <td>{{asignarPerfil.Descripcion}}</td>



              <td>
                <p-dropdown appendTo="body" [options]="perfilesAsignar" [filter]="true" placeholder="Asignar Perfil">
                </p-dropdown>
              </td>

            </tr>
          </ng-template>
        </p-table>
      </div>
    </p-fieldset>
  </ng-template>
</p-dialog>