<p-blockUI [blocked]="bloquearPag">
    <img src="assets\img\ZZ5H.gif" style="width: 5%">
</p-blockUI>
<p-confirmDialog #c key="confirm">
    <p-footer>
        <button pButton type="button" icon="fa fa-check" label="Si" class="ui-button-rounded ui-button-danger"
            (click)="c.accept()"></button>
        <button pButton type="button" icon="fa fa-close" label="No" class="ui-button-rounded"
            (click)="c.reject()"></button>
    </p-footer>
</p-confirmDialog>
<nb-card fixed>
    <nb-card-header>
        <nav class="fixed">
            <ngx-header-titulo [objTitulo]="objetoTitulo"></ngx-header-titulo>
        </nav>
    </nb-card-header>

    <nb-card-body>
        <br>
        <section style="display: ruby-text;">
            <p-fieldset legend="Criterio de Busqueda de Usuarios" styleClass="col-6 mr-3">
                <div class="row">
                    <div class="col-sm-6">
                        <label for="inputLastName" class="label">Perfil</label>
                        <p-dropdown [(ngModel)]="filtro.Perfil" [filter]="true" [options]="lstComboPerfiles[0]"
                            appendTo="body" [style]="{'width':'100%','text-transform': 'uppercase'}"></p-dropdown>
                    </div>
                    <div class="col-sm-6">
                        <label for="inputLastName" class="label">Usuario</label>
                        <input pInputText type="text" placeholder="" [style]="{'width':'100%'}" mode="currency"
                            currency="PEN" locale="es-PE" [(ngModel)]="filtro.Usuario" />
                    </div>
                    <!-- <div class="col-sm-4">
                    <label for="inputLastName" class="label">Persona</label>
                    <input pInputText type="text" placeholder="" [style]="{'width':'100%'}" mode="currency"
                        currency="PEN" locale="es-PE" [(ngModel)]="filtro.Persona" />
                </div> -->
                </div>
            </p-fieldset>
            <p-fieldset legend="Perfil a Asignar" styleClass="col-sm-5 ml-3">
                <div class="row">
                    <div class="col-sm-12">
                        <label for="inputLastName" class="label">Perfil</label>
                        <p-dropdown [(ngModel)]="dto.Perfil" [filter]="true" [options]="lstComboPerfiles[1]"
                            [style]="{'width':'100%','text-transform': 'uppercase'}" appendTo="body"
                            [disabled]="lstPerfilesSeleccionados.length == 0"></p-dropdown>
                    </div>
                </div>
            </p-fieldset>
        </section>
        <br>
        <p-fieldset legend="Resultados">
            <p-table #dt [rows]="15" [paginator]="true" [rowHover]="true" [responsive]="true" [sortOrder]="1"
                [value]="lstPerfiles" currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
                [showCurrentPageReport]="true" selectionMode="single" [scrollable]="true"
                [(selection)]="lstPerfilesSeleccionados" [rowsPerPageOptions]="[15,30,50]">
                <ng-template pTemplate="header">
                    <tr>
                    <tr>
                        <th class="tablaHeaderCheckBox">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="num" class="label" ALIGN="center" style="width: 4rem; text-align: center;">
                            Nro<p-sortIcon field="num"></p-sortIcon>
                        </th>
                        <th pSortableColumn="num" class="label" ALIGN="center" style="width: 5rem; text-align: center;">
                            Usuario<p-sortIcon field="Perfil"></p-sortIcon>
                        </th>
                        <th pSortableColumn="num" class="label" ALIGN="center"
                            style="width: 10rem; text-align: center;">
                            Apellidos y nombres<p-sortIcon field="Perfil"></p-sortIcon>
                        </th>
                        <th pSortableColumn="num" class="label" ALIGN="center" style="width: 5rem; text-align: center;">
                            Perfil<p-sortIcon field="Perfil"></p-sortIcon>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData>
                    <tr>
                        <td class="tablaColumnaCheckBox" style="width: 6rem; text-align: center;">
                            <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                        </td>
                        <td class="tablaColumnaCodigoChico text-center" ALIGN="center"
                            style="width: 5rem; text-align: center;">
                            <span class="p-column-title">Nro</span>
                            {{ rowData.num }}
                        </td>
                        <td class="tablaColumnaCodigoChico text-center" ALIGN="center"
                            style="width: 5rem; text-align: center;">
                            <span class="p-column-title">Usuario</span>
                            {{ rowData.Usuario?.trim() }}
                        </td>
                        <td class="tablaColumnaCodigoChico text-center" ALIGN="center"
                            style="width: 10rem; text-align: center;">
                            <span class="p-column-title">Apellidos y nombres</span>
                            {{ rowData.NombreCompleto }}
                        </td>
                        <td class="tablaColumnaCodigoChico text-center" ALIGN="center"
                            style="width: 5rem; text-align: center;">
                            <span class="p-column-title">Perfil</span>
                            {{ rowData.Perfil }}
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </p-fieldset>
    </nb-card-body>
</nb-card>

<p-confirmDialog [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '30vw'}"></p-confirmDialog>
<p-toast [showTransformOptions]="'translateY(90%)'" [baseZIndex]="10000" key="notification"
    position="top-right"></p-toast>