
<nb-card fixed>
    <nb-card-header>
        <nav class="fixed">
            <ngx-header-titulo [objTitulo]="objetoTitulo"></ngx-header-titulo>
        </nav>    
    </nb-card-header>

    <nb-card-body>
        <p-fieldset legend="Información Consulta">
            <div class="row">
                        
                        
                <div class="col-sm-4">
                                             
                    <div class="form-group">
                        
                        <label for="inputFirstName" class="label">Correo</label>
                        <input (input)="dt.filter($event.target.value, 'tipousuario', 'contains')"
                             type="email" nbInput fullWidth id="inputFirstName"
                            placeholder="buscar por correo electrónico">
                    </div>                 
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="inputLastName" class="label">Compañia</label>
                        <p-dropdown appendTo="body" [options]="companias"
                        [filter]="true"   (onChange)="dt.filter($event.value,'VaEstado', 'contains')"
                        placeholder="Seleccionar Compañia"></p-dropdown>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="inputLastName" class="label">Estado</label>
                        <p-dropdown appendTo="body" [options]="estados"
                        [filter]="true"   (onChange)="dt.filter($event.value,'VaEstado', 'contains')"
                        placeholder="Seleccionar Estado"></p-dropdown>
                    </div>
                </div>

            </div>
        </p-fieldset>
        <br>
        <p-fieldset legend="Detalle">
        <p-table #dt [value]="lstCorreosConfig" [rows]="15" [paginator]="true" [rowHover]="true" dataKey="tipousuario"
            [responsive]="true" [sortOrder]="-1" sortField="tipousuario"
            currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
            [showCurrentPageReport]="true">
            <!-- <ng-template pTemplate="caption">
                <div class="p-d-flex p-ai-center p-jc-between">
                    <div class="row">
                        
                        
                        <div class="col-sm-4">
                                                     
                            <div class="form-group">
                                
                                <label for="inputFirstName" class="label">Correo</label>
                                <input (input)="dt.filter($event.target.value, 'tipousuario', 'contains')"
                                     type="email" nbInput fullWidth id="inputFirstName"
                                    placeholder="buscar por correo electrónico">
                            </div>                 
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="inputLastName" class="label">Compañia</label>
                                <p-dropdown appendTo="body" [options]="companias"
                                [filter]="true"   (onChange)="dt.filter($event.value,'VaEstado', 'contains')"
                                placeholder="Seleccionar Compañia"></p-dropdown>
                            </div>
                        </div>
  
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="inputLastName" class="label">Estado</label>
                                <p-dropdown appendTo="body" [options]="estados"
                                [filter]="true"   (onChange)="dt.filter($event.value,'VaEstado', 'contains')"
                                placeholder="Seleccionar Estado"></p-dropdown>
                            </div>
                        </div>

                    </div>


                </div>
            </ng-template> -->
            <ng-template pTemplate="header">
                <tr>
                    <th  class="border-thread-left" pSortableColumn="tipousuario">Nro <p-sortIcon field="tipousuario"> </p-sortIcon>
                    </th>

                    <th pSortableColumn="Perfil">Empresa <p-sortIcon field="Perfil"></p-sortIcon>
                    </th>

                    <th pSortableColumn="VaEstado">Correo <p-sortIcon field="VaEstado"></p-sortIcon>
                    </th>
                    <th  pSortableColumn="VaEstado">Asunto <p-sortIcon field="VaEstado"></p-sortIcon></th>
                    <th class="border-thread-right" pSortableColumn="VaEstado">Estado <p-sortIcon field="VaEstado"></p-sortIcon></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-asignarPerfil>
                <tr>
                
                    <td>{{asignarPerfil.tipousuario}}</td>

                    <td>{{asignarPerfil.Perfil}}</td>

                    <td>
                        <span>{{asignarPerfil.VaEstado}}</span>
                    </td>
                    <td>                     
                        <span>{{asignarPerfil.VaEstado}}</span>
                    </td>
                    <td>                     
                        <span>{{asignarPerfil.VaEstado}}</span>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </p-fieldset>
    </nb-card-body>
</nb-card>
<ngx-configurar-correo-mantenimiento></ngx-configurar-correo-mantenimiento>

<p-confirmDialog [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '30vw'}"></p-confirmDialog>
