<p-blockUI [blocked]="bloquearPag" [baseZIndex]="10000">
  <img src="assets\img\ZZ5H.gif" style="width: 5%">
</p-blockUI>

<p-confirmDialog #c key="confirm">
    <p-footer>
        <button pButton type="button" icon="fa fa-check" label="Si" class="ui-button-rounded ui-button-danger" (click)="c.accept()"></button>
        <button pButton type="button" icon="fa fa-close" label="No" class="ui-button-rounded" (click)="c.reject()"></button>
    </p-footer>
</p-confirmDialog>

<p-card>

    <div class="row">
        <div class="col-sm-2">
          <br>
          <h4 class="titulonuevo">&nbsp; &nbsp;Persona</h4>
        </div>
        <div class="col-sm-6" style="background-color: transparent;">
        </div>
        <div class="col-sm-4" style="background-color: transparent;" aria-orientation="horizontal">
          <div>
  
            <nb-card class="col-sm-12 fondocard" style="padding: 2px; margin-bottom: -10px; margin-top: 5px;">
              <div class="row" aria-orientation="horizontal">
                <br>
                <button (click)="coreBuscar()" style="color: #2B4E64; padding: 0px;" class="col button btn"><img
                    src="assets/img/Busc_mante.ico" style="filter: drop-shadow(5px 5px 7px #444); width: 30%;
                  flex: 0 0 30%;max-width: 30%;"><br><label
                    style="font-size: 10px;font-weight: bold">Buscar</label></button>
                <br>
                <button (click)="coreNuevo()" style="color: #2B4E64; padding: 0px;" class="col button btn"><img
                    src="assets/img/nuevo1.ico" style="filter: drop-shadow(5px 5px 7px #444); width: 30%;
                  flex: 0 0 30%;max-width: 30%;"><br><label style="font-size: 10px;font-weight: bold">Nuevo</label>
                </button>
                <br>
                <button (click)="enDesarrollo()" style="color: #2B4E64; padding: 0px;" class="col button btn">
                  <img src="assets/img/cargamasiva.png" style="filter: drop-shadow(5px 5px 7px #444); width: 30%;
                    flex: 0 0 30%;max-width: 30%;"><br>
                    <label style="font-size: 10px;font-weight: bold">Carga Masiva</label></button>
                <br>
                <button (click)="coreHomologar()" style="color: #2B4E64; padding: 0px;" class="col button btn">
                  <img  src="assets/img/homologacion.png" style="filter: drop-shadow(5px 5px 7px #444); width: 30%;
                      flex: 0 0 30%;max-width: 30%;"><br>
                    <label style="font-size: 10px;font-weight: bold">Unificación</label></button>
                <br>
  
  
              </div>
            </nb-card>
          </div>  
        </div>
      </div>
    <p-fieldset legend="Información Consulta">
        <div class="row" style="padding: 10px;">
            <div class="col">
                <label class="label">Tipo de Persona </label>             
                <p-dropdown #myTipoPersona   placeholder="Tipo Persona" [options]="lstTipoPersona" [(ngModel)]="filtro.TipoPersona"
               (onChange)="selectedItemTipoPersona($event)" [style]="{'background-color':'rgb(247, 247, 208)'}"
                (keydown)="validarTeclaEnter($event)" >
              </p-dropdown>
            </div>

            <div class="col">
                <label class="label">Tipo Documento</label>
                <p-dropdown #myselect placeholder="Seleccione" [options]="lstTipoDocumento" [(ngModel)]="filtro.TipoDocumento"
                (keydown)="validarTeclaEnter($event)" [disabled]="editarTipoDocumento">
              </p-dropdown>                
            </div>

            <div class="col">
                <label class="label">Nro.Documento</label>
                <input #myDocumento  pInputText type="text" style="width:100%; height: 30px;" 
                  [(ngModel)]="filtro.Documento" maxlength="80" 
                 (keypress)="defaultBuscar($event)"  /> 
            </div>

            <div class="col">
                <label  class="label">Nombre</label>
                <input pInputText type="text" placeholder="" style="width:100%; height: 30px;"
                [(ngModel)]="filtro.NombreCompleto" (keydown)="validarTeclaEnter($event)" />               
            </div>

            <div class="col">
                <label class="label">Estado</label>
                <p-dropdown [options]="lstEstados" [(ngModel)]="filtro.Estado" [style]="{'width':'100%'}" (keydown)="validarTeclaEnter($event)">
                </p-dropdown>
            </div>
        </div>
    </p-fieldset>

    <p-fieldset legend="Detalle">
        <div class="col">
            <p-table #dt [rows]="15" [paginator]="true" [rowHover]="true" [responsive]="true"
            [value]="lstPersona" [sortOrder]="1" sortField="numeropersona" (onLazyLoad)="grillaCargarDatos($event)"
            currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros" selectionMode="single"
            [(selection)]="registroSeleccionado" [rowsPerPageOptions]="[15,30,50]" [showCurrentPageReport]="true"
            [loading]="loading" [scrollable]="true" scrollHeight="300px" (onRowSelect)="onRowSelect($event)"> 

                <ng-template pTemplate="colgroup">
                  <colgroup>
                    <col style="width:130px">
                  </colgroup>
                </ng-template>
            <ng-template pTemplate="header">
                <tr>
                  <th style="width: 8rem;" class="label">Acción</th>
                  <th style="width: 5rem;" class="label" pSortableColumn="numeropersona">Nro<p-sortIcon
                      field="numeropersona">
                    </p-sortIcon>
                  </th>

                  <th style="width: 15rem;" class="label" pSortableColumn="NombreCompleto">Nombre<p-sortIcon
                      field="NombreCompleto">
                    </p-sortIcon>
                  </th>

                  <th style="width: 8rem;" class="label" pSortableColumn="TipoDocumento">Tipo Documento<p-sortIcon
                      field="TipoDocumento">
                    </p-sortIcon>
                  </th>
                  <th style="width: 8rem;" class="label" pSortableColumn="Documento">Documento<p-sortIcon field="Documento">
                    </p-sortIcon>
                  </th>
                  <th style="width: 6rem;" class="label" pSortableColumn="Estado">Estado<p-sortIcon field="Estado">
                    </p-sortIcon>
                  </th>

                  <th style="width: 8rem;" class="label" pSortableColumn="Telefono">Telef<p-sortIcon field="Telefono">
                    </p-sortIcon>
                  </th>
                  <th style="width: 15rem;" class="label" pSortableColumn="CorreoElectronico">Email<p-sortIcon
                      field="CorreoElectronico">
                    </p-sortIcon>
                  </th>
                  <th style="width: 8rem;" class="label" pSortableColumn="TotalUbigeo">Ubigeo<p-sortIcon
                      field="TotalUbigeo">
                    </p-sortIcon>
                  </th>
                </tr>
              </ng-template>
                <ng-template pTemplate="body" let-rowData>
                  <tr [pSelectableRow]="rowData">
                    <td style="width: 8rem" class="tablaColumnaAccion3">
                      <span class="p-column-title">Acción</span>
                      <table>
                        <tr>
                          <th>
                            <button pButton pRipple type="button" icon="fad fa-pencil-alt"
                              class="p-button-rounded p-button-text" title="Editar" (click)="coreEditar(rowData)"></button>
                          </th>
                          <th>
                            <button pButton pRipple type="button" icon="fad fa-search" class="p-button-rounded p-button-text"
                              title="Ver" (click)="coreVer(rowData)"></button>
                          </th>
                          <th>
                            <button pButton pRipple type="button" icon="fal fa-trash-alt"
                              class="p-button-rounded p-button-text" title="Inactivar" (click)="invactivarProduct(rowData)"
                              [disabled]="rowData.Estado == 'I'"></button>
                          </th>
                        </tr>
                      </table>
                    </td>
                    <td style="width: 5rem;" class="tablaColumnaCodigoChico" ALIGN="center">{{rowData.numeropersona}}</td>
                    <!-- <td>{{rowData.Persona}}</td> -->

                    <td style="width: 15rem;" class="tablaColumnaCodigoChico" ALIGN="center">{{rowData.NombreCompleto}}</td>

                    <td style="width: 8rem;" class="tablaColumnaCodigoChico" ALIGN="center">
                      <span>{{rowData.TipoDocumento}}</span>
                    </td>
                    <td style="width: 8rem;" class="tablaColumnaCodigoChico" ALIGN="center">{{rowData.Documento}}</td>

                    <td style="width: 6rem;" ALIGN="center">
                      <span class="p-column-title">Estado</span>
                      <label *ngIf="rowData.Estado == 'A'" class="tablaEstadoActivo">Activo</label>
                      <label *ngIf="rowData.Estado == 'I'" class="tablaEstadoInactivo">Inactivo</label>
                    </td>

                    <td style="width: 8rem;" class="tablaColumnaCodigoChico" ALIGN="center">
                      <span>{{rowData.Telefono}}</span>
                    </td>
                    <td style="width: 15rem;" class="tablaColumnaCodigoChico" ALIGN="center">{{rowData.CorreoElectronico}}
                    </td>

                    <td style="width: 8rem;" class="tablaColumnaCodigoChico" ALIGN="center">{{rowData.TotalUbigeo}}</td>

                  </tr>
                </ng-template>

                <ng-template pTemplate="emptymessage" let-columns>
                    <tr>
                        <td [attr.colspan]="18">
                            No existen registros para mostrar
                        </td>
                    </tr>
                </ng-template>
          </p-table>
        </div>
    </p-fieldset>

</p-card>
<p-toast position="bottom-center" key="bc"></p-toast>
<ngx-personamast-unificacion></ngx-personamast-unificacion>
<ngx-persona-mantenimiento></ngx-persona-mantenimiento>
