<p-blockUI [blocked]="bloquearPag">
    <img src="assets\img\ZZ5H.gif" style="width: 5%">
</p-blockUI>
<p-confirmDialog #c key="confirm2">
    <p-footer>
        <button pButton type="button" icon="fa fa-check" label="Si" class="ui-button-rounded ui-button-danger"
            (click)="c.accept()"></button>
        <button pButton type="button" icon="fa fa-close" label="No" class="ui-button-rounded"
            (click)="c.reject()"></button>
    </p-footer>
</p-confirmDialog>
<nb-card>
    <nb-card-header>
        <nav class="fixed">
            <ngx-header-titulo [objTitulo]="objetoTitulo"></ngx-header-titulo>
        </nav>
    </nb-card-header>
    <nb-card-body>
        <p-fieldset legend="Información Consulta">
            <div class="row">
                <div class="col-sm-4">

                    <label class="label">Código Tabla</label>
                    <input pInputText type="text" [style]="{'width':'100%'}" [(ngModel)]="filtro.CodigoTabla"
                        class="hoverDisabled size-large status-basic shape-rectangle nb-transition" />

                </div>
                <div class="col-sm-4">

                    <label class="label">Nombre</label>
                    <input pInputText type="text" [style]="{'width':'100%'}" [(ngModel)]="filtro.Nombre"
                        class="hoverDisabled size-large status-basic shape-rectangle nb-transition" />

                </div>
                <div class="col-sm-4">
                    <label for="inputLastName" class="label">Estado</label>
                    <div class="form-group">
                        <p-dropdown placeholder="Lista Base" [options]="lstEstado" [(ngModel)]="filtro.Estado"
                            [style]="{'height':'35px'}"></p-dropdown>
                    </div>

                </div>
            </div>
        </p-fieldset>
        <p-fieldset legend="Detalle">
            <p-table #dt [rows]="15" [paginator]="true" [rowHover]="true" dataKey="tipousuario" [responsive]="true"
                [sortOrder]="-1" sortField="tipousuario" [value]="lstMaestros" (onLazyLoad)="cargarListaMaestro($event)"
                  currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
                [showCurrentPageReport]="true">
                <ng-template pTemplate="header">
                    <tr>
                        <th class="tablaHeaderAccion3 label">Acción</th>
                        <th class="label" pSortableColumn="Codigo">Código Tabla<p-sortIcon field="Codigo"></p-sortIcon>
                        </th>
                        <th class="label" pSortableColumn="Nombre">Nombre<p-sortIcon field="Nombre"></p-sortIcon>
                        </th>
                        <th class="label" pSortableColumn="Descripcion">Descripción<p-sortIcon
                                field="Descripcion"></p-sortIcon>
                        </th>
                        <th class="tablaHeaderEstado label">Estado</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr>
                        <td class="tablaColumnaAccion3">
                            <span class="p-column-title">Acción</span>
                            <table>
                                <tr>
                                    <th>
                                        <button pButton pRipple type="button" icon="fad fa-pencil-alt"
                                            class="p-button-rounded p-button-text" title="Editar"
                                            (click)="coreEditar(rowData)"></button>
                                    </th>
                                    <th>
                                        <button pButton pRipple type="button" icon="fad fa-search"
                                            class="p-button-rounded p-button-text" title="Ver"
                                            (click)="coreVer(rowData)"></button>
                                    </th>
                                    <th>
                                        <button pButton pRipple type="button" icon="fal fa-minus"
                                            class="p-button-rounded p-button-text" title="Inactivar"
                                            (click)="invactivarProduct(rowData)"></button>
                                    </th>
                                </tr>
                            </table>
                        </td>
                        <td class="tablaColumnaCodigoChico" ALIGN="center">{{rowData.CodigoTabla}}</td>
                        <td class="tablaColumnaCodigoChico" ALIGN="center">
                            <span>{{rowData.Nombre | uppercase}}</span>
                        </td>
                        <td class="tablaColumnaCodigoChico" ALIGN="center">
                            <span>{{rowData.Descripcion | uppercase}}</span>
                        </td>

                        <td class="tablaColumnaCodigoChico" ALIGN="center">
                            <span class="p-column-title">Estado</span>
                            <span>{{rowData.EstadoDe | uppercase}}</span>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </p-fieldset>
    </nb-card-body>
</nb-card>

<ngx-form-maestro-mantenimiento></ngx-form-maestro-mantenimiento>
<p-toast key="bc" [baseZIndex]="3000"></p-toast>