
<!--
<div class="row" style="margin-top:0px; margin-bottom: 0px;">
    <span class="created-by"> <b>
        <a href="https://lolesports.com/rewards" target="_blank">Politica  de Privacidad</a>
        
    </b> 
    
      </span>
      <span class="created-by"> <b>
        <a href="https://lolesports.com/rewards" target="_blank">Terminos de uso</a>
        
    </b> 
      </span>
      <span class="created-by"> <b>
        <a href="https://lolesports.com/rewards" target="_blank">Ayuda</a>
        
    </b> 
      </span>
  </div>
   
     
  <div class="row">
    <span class="created-by"> <b>
        <h5>Dirección : {{objPortal.Direccion}} </h5>
    </b> 
    
      </span>
      <span class="created-by"> <b>
       <h5>Telf. {{objPortal.Telefono}}  /  Correo electrónico: {{objPortal.Correo}}</h5>     
    </b> 
      </span>
      
  </div>
  -->



 
   