@import '../../styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

.datito {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background: #3f4522;
}

@include nb-install-component() {
  .menu-sidebar ::ng-deep .scrollable {
    padding-top: nb-theme(layout-padding-top);
   
  }
}

