<p-blockUI [blocked]="bloquearPag" [baseZIndex]="2000">
    <img src="assets\img\ZZ5H.gif" style="width: 5%">
</p-blockUI>

<p-dialog [(visible)]="dialog" [draggable]="false" [modal]="true" [resizable]="false" [breakpoints]="{'950px': '75vw'}"
    [style]="{width: '1200px'}" [header]="acciones" [position]="position" [maximizable]="true" [baseZIndex]="1000">
    <br>


    <p-carousel [value]="products" 
                [style]="{'width':'100%','max-width':'100%', 'margin-top':'2em'}"
                verticalViewPortHeight="100vh" 
                [autoplayInterval]="2000"
                [numVisible]="1" [numScroll]="1">
        <ng-template let-product pTemplate="item">
            <div class="product-item">
                <div class="product-item-content">
                    <div class="mb-1">
                        <!-- [style]="{'height':'50vh'}" -->
                        <img [src]="product.image" class="product-image"  />
                    </div>
                    <div>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-carousel>

    

</p-dialog>




<p-toast key="md" [baseZIndex]="3000"></p-toast>