<p-blockUI [blocked]="bloquearPag">
  <img src="assets\img\ZZ5H.gif" style="width: 5%">
</p-blockUI>

<p-confirmDialog #c key="confirm">
  <p-footer>
    <button pButton type="button" icon="fa fa-check" label="Si" class="ui-button-rounded ui-button-danger"
      (click)="c.accept()"></button>
    <button pButton type="button" icon="fa fa-close" label="No" class="ui-button-rounded" (click)="c.reject()"></button>
  </p-footer>
</p-confirmDialog>

<nb-card>
  <nb-card-header>
        <nav class="fixed">
            <ngx-header-titulo [objTitulo]="objetoTitulo"></ngx-header-titulo>
        </nav>
    </nb-card-header>
  
  <nb-card-body>
    <p-fieldset legend="Información Consulta" (keyup.enter)="coreBuscar()">
      <div class="row" style="padding: 10px;">
        <div class="col-sm-3">
          <label class="label">Cuenta Bancaria</label>
          <input pInputText type="text" style="width:100%; height: 30px;text-transform: uppercase;" [(ngModel)]="filtro.CuentaBancaria" />
        </div>
        <div class="col-sm-3">
          <label class="label">Banco</label>
                        <p-dropdown [options]="lstBanco" [(ngModel)]="filtro.Banco" placeholder="Seleccione Banco" style="width: 100%"></p-dropdown>
        </div>
        <div class="col-sm-6">
            <label for="inputLastName" class="label">Estado</label>
            <p-dropdown [options]="lstEstado" [(ngModel)]="filtro.Estado"
            [style]="{'width':'100%','text-transform': 'uppercase'}"></p-dropdown>
        </div>
      </div>
    </p-fieldset>
    
    <br>
    
    <p-fieldset legend="Detalle">
      <p-table #dt [rows]="15" [paginator]="true" [rowHover]="true" dataKey="num" [value]="lstCuentaBancaria"
            [responsive]="true" [sortOrder]="1" sortField="num"
            currentPageReportTemplate="Mestrado {first} a {last} de {totalRecords} registros"
            [rowsPerPageOptions]="[15,30,50]" [showCurrentPageReport]="true" [scrollable]="true" scrollHeight="300px">

        <ng-template pTemplate="header">
                <tr>
                    <th class="tablaHeaderAccion3 label" ALIGN="center">Acciones</th>
                    <th pSortableColumn="num" class="label text-center" ALIGN="center" style="width: 5rem;  ">Nro
                        <p-sortIcon field="num">
                        </p-sortIcon>
                    </th>
                    <th pSortableColumn="CuentaBancaria" class="label text-center" ALIGN="center" style="width: 5rem; ">
                        Cuenta Bancaria<p-sortIcon field="CuentaBancaria"></p-sortIcon>
                    </th>
                    <th pSortableColumn="BancoDesc" class="label text-center" ALIGN="center" style="width: 5rem; ">
                        Banco<p-sortIcon field="BancoDesc"></p-sortIcon>
                    </th>
                    <th pSortableColumn="ESTADOdesc" class="label text-center" ALIGN="center" style="width: 5rem;  ">
                        Estado<p-sortIcon field="ESTADOdesc"></p-sortIcon>
                    </th>
                </tr>
            </ng-template>

        <ng-template pTemplate="body" let-rowData>
                <tr>
                    <td class="tablaColumnaAccion3">
                        <span class="p-column-title">Acción</span>
                        <table>
                            <tr>
                                <th>
                                    <button pButton pRipple type="button" icon="fad fa-pencil-alt" title="Editar"
                                        class="p-button-rounded p-button-text" (click)="coreEditar(rowData)"></button>
                                </th>
                                <th>
                                    <button pButton pRipple type="button" icon="fad fa-search"
                                        (click)="coreVer(rowData)" class="p-button-rounded p-button-text"
                                        title="Ver"></button>
                                </th>
                                <th>
                                    <button pButton pRipple type="button" icon="fal fa-trash-alt"title="Inactivar"
                      class="p-button-rounded p-button-text" (click)="coreinactivar(rowData)"></button>
                                </th>
                            </tr>
                        </table>
                    </td>
                    <td class="tablaColumnaCodigoChico text-center" style="width: 5rem;">
                        <span class="p-column-title">Nro</span>
                        {{rowData.num}}
                    </td>
                    <td class="tablaColumnaCodigoChico text-center" ALIGN="center" style="width: 5rem;">
                        <span class="p-column-title">Cuenta Bancaria</span>
                        <span>{{rowData.CuentaBancaria|uppercase}}</span>
                    </td>

                    <td class="tablaColumnaCodigoChico text-center" ALIGN="center" style="width: 5rem;">
                        <span class="p-column-title">BancoDesc</span>
                        <span>{{rowData.BancoDesc|uppercase}}</span>

                    <td class="tablaColumnaCodigoChico text-center" ALIGN="center" style="width: 5rem;">
                        <span class="p-column-title">ESTADOdesc</span>
                        <span>{{rowData.ESTADOdesc|uppercase}}</span>
                    </td>
                </tr>
            </ng-template>
      </p-table>
    </p-fieldset>
  </nb-card-body>
</nb-card>

<ngx-cuenta-bancaria-mantenimiento></ngx-cuenta-bancaria-mantenimiento>
<p-toast key="bc" [baseZIndex]="2000"></p-toast>