<p-blockUI [blocked]="bloquearPag" [baseZIndex]="1001">
  <img src="assets\img\ZZ5H.gif" style="width: 5%">
</p-blockUI>
<p-confirmDialog #c key="confirm">
    <p-footer>
        <button pButton type="button" icon="fa fa-check" label="Si" class="ui-button-rounded ui-button-danger"
            (click)="c.accept()"></button>
        <button pButton type="button" icon="fa fa-close" label="No" class="ui-button-rounded"
            (click)="c.reject()"></button>
    </p-footer>
</p-confirmDialog>
<nb-card>
  <nb-card-header>

    <nav class="fixed">
      <ngx-header-titulo [objTitulo]="objetoTitulo"></ngx-header-titulo>

    </nav>
  </nb-card-header>
  <nb-card-body>

    <p-fieldset legend="Datos Generales">
      <div class="row" style="padding: 10px;">
        <div class="col-sm-6">
          <label for="inputLastName" class="label">Logo</label>
          <input pInputText type="text" placeholder="" [style]="{'width':'100%'}" mode="currency" currency="PEN"
            locale="es-PE" [(ngModel)]="dto.Logo" />
        </div>
        <div class="col-sm-6">
          <label for="inputLastName" class="label">Imagen</label>
          <input pInputText type="text" placeholder="" [style]="{'width':'100%'}" mode="currency" currency="PEN"
            locale="es-PE" [(ngModel)]="dto.RutaImagen" />
        </div>
        <div class="col-sm-6">
          <label for="inputLastName" class="label">Dirección</label>
          <input pInputText type="text" placeholder="" [style]="{'width':'100%'}" mode="currency" currency="PEN"
            locale="es-PE" [(ngModel)]="dto.Direccion" />
        </div>
        <div class="col-sm-6">
          <label for="inputLastName" class="label">Teléfono</label>
          <input pInputText type="text" placeholder="" [style]="{'width':'100%'}" mode="currency" currency="PEN"
            locale="es-PE" [(ngModel)]="dto.Telefono" />
        </div>
        <div class="col-sm-6">
          <label for="inputLastName" class="label">Correo</label>
          <input pInputText type="text" placeholder="" [style]="{'width':'100%'}" mode="currency" currency="PEN"
            locale="es-PE" [(ngModel)]="dto.Correo" />
        </div>
      </div>
    </p-fieldset>
    <br>
    <p-fieldset legend="Auditoría">
      <ngx-auditoria [creacionUsuario]="usuario" [creacionFecha]="fechaCreacion"
        [modificacionFecha]="fechaModificacion"></ngx-auditoria> </p-fieldset>

  </nb-card-body>
</nb-card>
<p-toast [showTransformOptions]="'translateY(90%)'" [baseZIndex]="10000" key="notification"
    position="top-right"></p-toast>