<p-blockUI [blocked]="bloquearPag" [baseZIndex]="10000">
    <img src="assets\img\ZZ5H.gif" style="width: 5%">
</p-blockUI>
<p-confirmDialog #c key="refinanciar" [visible]="visible" [baseZIndex]="10000">
    <p-footer>
        <button pButton type="button" icon="fa fa-check" label="Si, Guardar" class="ui-button-rounded ui-button-danger"
            (click)="c.accept()"></button>
        <button pButton type="button" icon="fa fa-close" label="No, Cancelar" class="ui-button-rounded"
            (click)="c.reject()"></button>
    </p-footer>
</p-confirmDialog>

<p-dialog [(visible)]="dialog" [draggable]="false" [modal]="true" [resizable]="false" [breakpoints]="{'950px': '75vw'}"
    [style]="{width: '850px'}" [header]="titulo" [position]="position" [maximizable]="true" [baseZIndex]="10000">

    <ng-template pTemplate="content">

        <p-fieldset legend="Información General">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="inputLastName" class="label">Autorizador</label>
                        <div class="p-inputgroup">
                            <div class="p-inputgroup">
                                <input pInputText type="text" (keydown)="validarEnterAutorizador($event)"
                                    class="hoverDisabled size-large status-basic shape-rectangle nb-transition"
                                    style="width:70%; height: 30px;" [disabled]="true" [(ngModel)]="dto.DocAutorizador" />
                                &nbsp;
                                <input pInputText type="text"
                                    class="hoverDisabled  size-medium col-9 status-basic shape-rectangle nb-transition"
                                    style="width:130%; height: 30px;" [disabled]="true"
                                    [(ngModel)]="dto.Persona" />
                                <div class="input-group-append">
                                    <button class="btn btn-outline" type="button" id="button-addon2"
                                        style=" height:30px; margin-left:-32px" (click)="limpiarAutorizador()"
                                        [disabled]="editarCampo1">x</button>
                                </div>
                            </div>
                            <button (click)="verSelectorAutorizador()" pButton icon="fa fa-search" class="botonbuscar"
                                type="button" title="Buscar Autorizador" [disabled]="editarCampo1"></button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <label for="documentoFiscal" class="label">Paciente</label>
                    <div class="p-inputgroup">
                    <div class="p-inputgroup">
                        <input pInputText type="text" (keydown)="validarEnterPaciente($event)" 
                        class="hoverDisabled size-large status-basic shape-rectangle nb-transition"
                        style="width:70%; height: 30px;" [(ngModel)]="dto.DocPaciente"
                        [disabled]="editarCampoPaciente" />
                        &nbsp;
                        <input pInputText type="text"
                        class="hoverDisabled  size-medium col-9 status-basic shape-rectangle nb-transition"
                        style="width:130%; height: 30px;" [(ngModel)]="dto.Paciente" [disabled]="true" />
                        <div class="input-group-append">
                        <button class="btn btn-outline" type="button" id="button-addon2"
                            style=" height:30px; margin-left:-32px" (click)="limpiarPaciente()"
                            [disabled]="editarCampo2">x</button>
                        </div>
                    </div>
                    <button (click)="verSelectorPaciente()" pButton icon="fa fa-search" class="botonbuscar" type="button"
                        title="Buscar Paciente" [disabled]="editarCampo2"></button>
                    </div>
                </div> 
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="label">Observación</label>
                        <input pInputText type="text"
                            [style]="{'width':'100%','background-color': 'rgb(247, 247, 208)'}" [disabled]="puedeEditar"
                            [(ngModel)]="dto.Observacion" maxlength="60" placeholder="Ingrese la Observación"/>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="label">Estado</label>
                        <p-dropdown 
                            [options]="lstEstados" 
                            [(ngModel)]="dto.Estado" 
                            [disabled]="puedeEditar"
                            [style]="{'width':'100%','background-color': 'rgb(247, 247, 208)'}"
                            [defaultLabel]="'Seleccione Estado'"
                            (onShow)="dto.Estado = dto.Estado || 1">
                        </p-dropdown>
                    </div>
                </div>
                
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="label">Fecha de Inicio</label>
                                <p-calendar [monthNavigator]="true" [(ngModel)]="dto.FechaInicio"
                                    [yearNavigator]="true" [maxDate]="maxDate"
                                    [style]="{'width':'100%'}"
                                    [inputStyle]="{'background-color':'rgb(247, 247, 208)', 'width':'80%'}"
                                    yearRange="1901:2200" [locale]="es" [showIcon]="true" dateFormat="dd/mm/yy"  [disabled]="puedeEditar">
                                </p-calendar>
                    </div>
                </div>   
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="label">Fecha Fin</label>
                                <p-calendar [monthNavigator]="true" [(ngModel)]="dto.FechaFin"
                                    [yearNavigator]="true" [maxDate]="maxDate"
                                    [style]="{'width':'100%'}"
                                    [inputStyle]="{'background-color':'rgb(247, 247, 208)', 'width':'80%'}"
                                    yearRange="1901:2200" [locale]="es" [showIcon]="true" dateFormat="dd/mm/yy"  [disabled]="puedeEditar">
                                </p-calendar>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">  
                    <nb-checkbox 
                        status="success" 
                        [ngModel]="dto.AplicaTitular === 1 ? 1 : 0"
                        (ngModelChange)="dto.AplicaTitular = $event ? 1 : 0"
                        [disabled]="puedeEditar">
                        Asume Titular
                    </nb-checkbox>
                </div>

                <div class="col-sm-6">  
                    <nb-checkbox 
                        status="success"
                        [ngModel]="dto.AplicaMonto === 1 ? 1 : 0"
                        (ngModelChange)="dto.AplicaMonto = $event ? 1 : 0"
                        [disabled]="puedeEditar">
                        Aplica Descuento
                    </nb-checkbox>
                </div>
                <div class="col-sm-6" *ngIf="dto.AplicaMonto === 1">
                    <div class="form-group">
                        <label for="inputLastName" class="label">Tipo formula</label>
                        <p-dropdown placeholder="Seleccione" [options]="lstTipoFormula" [disabled]="puedeEditar"
                            [(ngModel)]="dto.TipoDescuento">
                        </p-dropdown>
                    </div>
                </div>
                <div class="col-sm-6" *ngIf="dto.AplicaMonto === 1">
                    <div class="form-group">
                        <label for="inputLastName" class="label">Monto</label>
                        <div class="p-inputgroup">
                            <input pInputText type="text"
                                class="hoverDisabled size-large status-basic shape-rectangle nb-transition"
                                [(ngModel)]="dto.Monto" />
                        </div>
                    </div>
                </div>
            </div>
        
        </p-fieldset>
        <br>
        <p-fieldset legend="Auditoria">
            <ngx-auditoria [creacionUsuario]="usuario" [creacionFecha]="fechaCreacion"
                [modificacionFecha]="fechaModificacion"></ngx-auditoria>
        </p-fieldset>
    </ng-template>
    <ng-template pTemplate="footer">
        <p-button label="Guardar" icon="pi pi-save" styleClass="p-button-primary" [disabled]="puedeEditar" type="submit"
            (click)="coreGuardar()"></p-button>
    </ng-template>
</p-dialog>
<p-toast></p-toast>
<ngx-persona-buscar></ngx-persona-buscar>
<p-toast [showTransformOptions]="'translateY(90%)'" [baseZIndex]="10000" key="notification" 
        position="top-right"></p-toast>