<p-blockUI [blocked]="bloquearPag">
    <img src="assets\img\ZZ5H.gif" style="width: 5%">
</p-blockUI>
<p-confirmDialog #c key="confirm2">
    <p-footer>
        <button pButton type="button" icon="fa fa-check" label="Si" class="ui-button-rounded ui-button-danger"
            (click)="c.accept()"></button>
        <button pButton type="button" icon="fa fa-close" label="No" class="ui-button-rounded"
            (click)="c.reject()"></button>
    </p-footer>
</p-confirmDialog>
<p-card>
    <nb-card-header>
        <nav class="fixed">
            <ngx-header-titulo [objTitulo]="objetoTitulo"></ngx-header-titulo>
        </nav>
    </nb-card-header>
    <p-fieldset legend="Consulta General" (keyup.enter)="coreBuscar()">
        <div class="row" style="padding: 10px;">
            <div class="col-sm-4">
                <label for="inputLastName" class="label">Compañia</label>
                <p-dropdown [(ngModel)]="filtro.Compania" [filter]="true" [options]="lstCompania"
                    [style]="{'width':'100%','text-transform': 'uppercase'}"></p-dropdown>
            </div>
            <div class="col-sm-4">
                <label for="inputOrdAten" class="label">Clasificador</label>
                <p-dropdown [(ngModel)]="filtro.ClasificadorMovimiento" [filter]="true"
                    [options]="lstClasificadorMovimiento"
                    [style]="{'width':'100%','text-transform': 'uppercase'}"></p-dropdown>
            </div>
            <div class="col-sm-4">
                <label for="inputLastName" class="label">Sede</label>
                <p-dropdown [(ngModel)]="filtro.Sucursal" [filter]="true" [options]="lstSede"
                    [style]="{'width':'100%','text-transform': 'uppercase'}"></p-dropdown>
            </div>

            <div class="col-sm-4">
                <label for="inputLastName" class="label">Cliente</label>
                <div class="p-inputgroup">
                    <div class="p-inputgroup">
                        <input pInputText type="text" (keydown)="validarEnterEmpresa($event)"
                            class="hoverDisabled size-large status-basic shape-rectangle nb-transition"
                            style="width:70%; height: 30px;" [(ngModel)]="filtro.DocumentoCliente"
                            [disabled]="editarCampoEmpresa" />
                        &nbsp;
                        <input pInputText type="text"
                            class="hoverDisabled  size-medium col-9 status-basic shape-rectangle nb-transition"
                            style="width:130%; height: 30px;" [(ngModel)]="filtro.NombreCliente" [disabled]="true" />
                        <div class="input-group-append">
                            <button class="btn btn-outline" type="button" id="button-addon2"
                                style="height: 30px;margin-left: -32px;display: flex;align-items: center;"
                                (click)="limpiarEmpresa()" [disabled]="editarCampos">x</button>
                        </div>
                    </div>
                    <button (click)="verSelectorEmpresa()" pButton icon="fa fa-search" class="botonbuscar" type="button"
                        title="Buscar Empresa" [disabled]="editarCampos"></button>
                </div>
            </div>

            <div class="col-sm-4">
                <label for="inputLastName" class="label">Tipo Comprobante</label>
                <p-dropdown [(ngModel)]="filtro.TipoComprobante" [filter]="true" [options]="lstTipoComprobante"
                    [style]="{'width':'100%','text-transform': 'uppercase'}"></p-dropdown>
            </div>
            <div class="col-sm-4">
                <label for="inputLastName" class="label">Serie</label>
                <p-dropdown [(ngModel)]="filtro.SerieComprobante" [filter]="true" [options]="lstSerie"
                    [style]="{'width':'100%','text-transform': 'uppercase'}"></p-dropdown>
            </div>
            <div class="col-sm-4">
                <label for="inputLastName" class="label">Nro Comprobante</label>
                <p-inputNumber mode="decimal" [style]="{'width':'100%'}" [(ngModel)]="filtro.NumeroComprobante"
                    [minFractionDigits]="0" [maxFractionDigits]="0">
                </p-inputNumber>
            </div>

            <div class="col-sm-4">
                <label class="label">Fecha Inicio</label>
                <p-calendar [monthNavigator]="true" [(ngModel)]="filtro.FechaIngreso" [yearNavigator]="true"
                    [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}" yearRange="1940:2300" [locale]="es"
                    dateFormat="dd/mm/yy" [showIcon]="true">
                </p-calendar>
            </div>
            <div class="col-sm-4">
                <label class="label">Fecha Fin</label>
                <p-calendar [monthNavigator]="true" [(ngModel)]="filtro.FechaPago" [yearNavigator]="true"
                    [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}" yearRange="1940:2200" [locale]="es"
                    dateFormat="dd/mm/yy" [showIcon]="true">
                </p-calendar>
            </div>

        </div>

    </p-fieldset>
    <br>
    <p-fieldset legend="Información Consulta">
        <p-table #dt [rows]="15" [paginator]="true" [rowHover]="true" dataKey="num" [value]="lstCobranza"
            [responsive]="true" [sortOrder]="1" sortField="num"
            currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
            [rowsPerPageOptions]="[15,30,50]" [showCurrentPageReport]="true" [scrollable]="true" scrollHeight="300px">
            <ng-template pTemplate="header">
                <tr>
                    <th class="tablaHeaderAccion3 label" ALIGN="center">Acciones</th>
                    <th pSortableColumn="num" class="label text-center" ALIGN="center" style="width: 5rem;  ">Nro
                        <p-sortIcon field="num">
                        </p-sortIcon>
                    </th>
                    <th pSortableColumn="NumeroComprobante" class="label text-center" ALIGN="center"
                        style="width: 8rem; ">
                        Comprobante<p-sortIcon field="NumeroComprobante"></p-sortIcon>
                    </th>
                    <th pSortableColumn="FechaPago" class="label text-center" ALIGN="center" style="width: 8rem; ">
                        Fecha de pago<p-sortIcon field="FechaPago"></p-sortIcon>
                    </th>
                    <th pSortableColumn="NombreCliente" class="label text-center" ALIGN="center"
                        style="width: 15rem;  ">
                        Cliente<p-sortIcon field="NombreCliente"></p-sortIcon>
                    </th>
                    <th pSortableColumn="Moneda" class="label text-center" ALIGN="center" style="width: 8rem;  ">
                        Moneda<p-sortIcon field="Moneda"></p-sortIcon>
                    </th>
                    <th pSortableColumn="TipoCambio" class="label text-center" ALIGN="center" style="width: 8rem;  ">
                        T. Cambio<p-sortIcon field="TipoCambio"></p-sortIcon>
                    </th>
                    <th pSortableColumn="Monto" class="label text-center" ALIGN="center" style="width: 8rem;  ">
                        Monto<p-sortIcon field="Monto"></p-sortIcon>
                    </th>
                    <th pSortableColumn="DesEstado" class="label text-center" ALIGN="center" style="width: 5rem;  ">
                        Estado<p-sortIcon field="DesEstado"></p-sortIcon>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData>
                <tr>
                    <td class="tablaColumnaAccion3">
                        <span class="p-column-title">Acción</span>
                        <table>
                            <tr>
                                <th>
                                    <button pButton pRipple type="button" icon="fad fa-pencil-alt" title="Editar"
                                        class="p-button-rounded p-button-text" (click)="coreEditar(rowData)"></button>
                                </th>
                                <th>
                                    <button pButton pRipple type="button" icon="fad fa-search"
                                        (click)="coreVer(rowData)" class="p-button-rounded p-button-text"
                                        title="Ver"></button>
                                </th>
                                <th>
                                    <button pButton pRipple type="button" icon="fal fa-minus-circle" title="Inactivar"
                                        [disabled]="rowData.Estado != 1" class="p-button-rounded p-button-text"
                                        (click)="coreInactivar(rowData)"></button>
                                </th>
                            </tr>
                        </table>
                    </td>
                    <td class="tablaColumnaCodigoChico text-center" style="width: 5rem;">
                        <span class="p-column-title">Nro</span>
                        {{rowData.num}}
                    </td>
                    <td class="tablaColumnaCodigoChico text-center" ALIGN="center" style="width: 8rem;">
                        <span class="p-column-title">Comprobante</span>
                        {{ rowData.NumeroComprobante |uppercase }}
                    </td>
                    <td class="tablaColumnaCodigoChico text-center" ALIGN="center" style="width: 8rem;">
                        <span class="p-column-title">Fecha de pago</span>
                        {{rowData.FechaPago| date: 'dd/MM/yyyy'}}
                    </td>
                    <td class="tablaColumnaCodigoChico text-center" ALIGN="center" style="width: 15rem;">
                        <span class="p-column-title">Cliente</span>
                        {{ rowData.NombreCliente |uppercase }}
                    </td>
                    <td class="tablaColumnaCodigoChico text-center" ALIGN="center" style="width: 8rem;">
                        <span class="p-column-title">Moneda</span>
                        {{ rowData.Moneda |uppercase }}
                    </td>
                    <td class="tablaColumnaCodigoChico text-center" ALIGN="center" style="width: 8rem;">
                        <span class="p-column-title">T. cambio</span>
                        {{ rowData.TipoCambio | number:'1.2-2'}}
                    </td>
                    <td class="tablaColumnaCodigoChico text-center" ALIGN="center" style="width: 8rem;">
                        <span class="p-column-title">Monto</span>
                        {{ rowData.Monto | number:'1.2-2'}}
                    </td>
                    <td class="tablaColumnaCodigoChico text-center" ALIGN="center" style="width: 5rem;">
                        <span class="p-column-title">Estado</span>
                        <span>{{rowData.DesEstado|uppercase}}</span>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </p-fieldset>
</p-card>
<ngx-cobranzas-mantenimiento></ngx-cobranzas-mantenimiento>
<p-toast [baseZIndex]="5000"></p-toast>