<nb-card>

    <p-divider align="left" [ngStyle]="{'padding-left': '15px','padding-right': '15px'}">
        <div class="p-d-inline-flex p-ai-center">
            <i class="pi pi-bars p-mr-2"></i>
            <b>&nbsp;Cabecera Comprobante</b>
        </div>
    </p-divider>

    <div class="row" style="padding: 10px;">

        <div class="col-sm-4">
            <div class="form-group">
                <label for="inputLastName" class="label">Fecha Emisión</label>
                <p-calendar class="calendar_size" dateFormat="dd/mm/yy" [ngStyle]="{'width': '100%'}" [showIcon]="true"
                    [showTime]="true" yearRange="2000:2030" placeholder='Todos' [monthNavigator]="true"
                    [yearNavigator]="true"></p-calendar>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="inputLastName" class="label">Fecha Vencimiento</label>
                <p-calendar class="calendar_size" dateFormat="dd/mm/yy" [ngStyle]="{'width': '100%'}" [showIcon]="true"
                    [showTime]="true" yearRange="2000:2030" placeholder='Todos' [monthNavigator]="true"
                    [yearNavigator]="true"></p-calendar>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="inputLastName" class="label">Compañia</label>
                <p-dropdown placeholder="Seleccione"></p-dropdown>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="form-group">
                <label for="inputLastName" class="label">Tipo Comprobante</label>
                <p-dropdown placeholder="Seleccione "></p-dropdown>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="inputLastName" class="label">Sede</label>
                <p-dropdown placeholder="Seleccione "></p-dropdown>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="inputLastName" class="label">Serie</label>
                <p-dropdown placeholder="Seleccione "></p-dropdown>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="form-group">
                <label for="inputLastName" class="label">Tipo Pago</label>
                <p-dropdown placeholder="Seleccione "></p-dropdown>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="inputLastName" class="label">Moneda</label>
                <p-dropdown placeholder="Seleccione "></p-dropdown>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="inputLastName" class="label">Tipo Cambio</label>
                <p-inputNumber [(ngModel)]="tipocambio" mode="decimal" [style]="{'width':'100%'}" mode="currency"
                    currency="PEN" locale="es-PE" [minFractionDigits]="4" [maxFractionDigits]="4">
                </p-inputNumber>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="form-group">
                <label for="inputLastName" class="label">Impuesto</label>
                <p-dropdown placeholder="Seleccione "></p-dropdown>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="inputLastName" class="label">Tipo Concepto</label>
                <p-dropdown placeholder="Seleccione "></p-dropdown>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="inputLastName" class="label">Forma de Pago</label>
                <p-dropdown placeholder="Seleccione "></p-dropdown>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="form-group">
                <label for="inputLastName" class="label">Cliente</label>
                <div class="p-inputgroup">
                    <input pInputText type="text" disabled class="hoverDisabled" style="width:100%" />
                    <button pButton icon="fa fa-binoculars" type="button" title="Buscar Cliente"></button>

                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="inputLastName" class="label">Tipo Venta</label>
                <p-dropdown placeholder="Seleccione "></p-dropdown>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="inputLastName" class="label">Unidad de Negocio</label>
                <p-dropdown placeholder="Seleccione "></p-dropdown>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="form-group">
                <label for="inputLastName" class="label">Nro Comprobante</label>
                <p-inputNumber mode="decimal" [style]="{'width':'100%'}" [minFractionDigits]="0"
                    [maxFractionDigits]="0">
                </p-inputNumber>

            </div>
        </div>

        <div class="col-sm-4">
            <div class="form-group">
                <label for="inputLastName" class="label">Igv</label>
                <p-inputNumber [(ngModel)]="igv" mode="decimal" [style]="{'width':'100%'}" [minFractionDigits]="2"
                    [maxFractionDigits]="2">
                </p-inputNumber>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="inputLastName" class="label">Cuota</label>
                <p-inputNumber mode="decimal" [style]="{'width':'100%'}" [minFractionDigits]="4"
                    [maxFractionDigits]="4">
                </p-inputNumber>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="inputLastName" class="label">Neto</label>
                <p-inputNumber mode="decimal" [style]="{'width':'100%'}" [minFractionDigits]="4"
                    [maxFractionDigits]="4">
                </p-inputNumber>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="inputLastName" class="label">Total Igv</label>
                <p-inputNumber mode="decimal" [style]="{'width':'100%'}" [minFractionDigits]="4"
                    [maxFractionDigits]="4">
                </p-inputNumber>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="inputLastName" class="label">Total</label>
                <p-inputNumber mode="decimal" [style]="{'width':'100%'}" [minFractionDigits]="4"
                    [maxFractionDigits]="4">
                </p-inputNumber>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="inputLastName" class="label">Monto Pen. de Pago</label>
                <p-inputNumber mode="decimal" [style]="{'width':'100%'}" [minFractionDigits]="4"
                    [maxFractionDigits]="4">
                </p-inputNumber>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="inputLastName" class="label">Retención</label>
                <p-inputNumber mode="decimal" [style]="{'width':'100%'}" [minFractionDigits]="4"
                    [maxFractionDigits]="4">
                </p-inputNumber>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="inputLastName" class="label">Detracción</label>
                <p-inputNumber mode="decimal" [style]="{'width':'100%'}" [minFractionDigits]="4"
                    [maxFractionDigits]="4">
                </p-inputNumber>
            </div>
        </div>

    </div>


</nb-card>