<p-blockUI [blocked]="bloquearPag">
    <img src="assets\img\ZZ5H.gif" style="width: 5%">
</p-blockUI>
<nb-card>
    <nb-card-header>
        <nav class="fixed">
            <ngx-header-titulo [objTitulo]="objetoTitulo"></ngx-header-titulo>
        </nav>
        <div class="row">
            <div class="col-sm-2">
                <h4 class="titulonuevo"></h4>
            </div>
            <div class="col-sm-10" style="background-color: transparent;">
                <div>

                </div>

            </div>
        </div>
    </nb-card-header>



    <nb-card-body>
        <p-fieldset legend="Información Consulta">
            <div class="row" style="padding: 10px;">
                <div class="col-sm-3">
                    <label for="inputLastName" class="label">Tipo Admision</label>
                    <p-dropdown [options]="lstTipoAdmision" [(ngModel)]="filtro.TipoAdmisionId"
                        [style]="{'width':'100%','text-transform': 'uppercase'}"></p-dropdown>
                </div>
                <div class="col-sm-3">
                    <label for="inputOrdAten" class="label">Codigo</label>
                    <input pInputText type="text" placeholder=""
                        style="width:100%; height: 30px; text-transform: uppercase;" [(ngModel)]="filtro.Codigo"
                        (keypress)="defaultBuscar($event)" />
                </div>

                <div class="col-sm-3">
                    <label for="inputOrdAten" class="label">Descripción</label>
                    <input pInputText type="text" placeholder=""
                        style="width:100%; height: 30px; text-transform: uppercase;" [(ngModel)]="filtro.Descripcion"
                        (keypress)="defaultBuscar($event)" />
                </div>
                <div class="col-sm-3">
                    <label for="inputLastName" class="label">Estado</label>
                    <p-dropdown [options]="lstEstado" [(ngModel)]="filtro.Estado"
                        [style]="{'width':'100%','text-transform': 'uppercase'}"></p-dropdown>
                </div>
            </div>
        </p-fieldset>
        <br>
        <p-fieldset legend="Detalle">
            <p-table id="contenido" #dt [rows]="25" [paginator]="true" [rowHover]="true" [responsive]="true "
                [style]="{ width: '100%'}" [sortOrder]="1" sortField="num" [value]="lst" selectionMode="single"
                currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
                [rowsPerPageOptions]="[25,50,100]" [showCurrentPageReport]="true" [scrollable]="true"
                scrollHeight="300px">
                <ng-template pTemplate="header">
                    <tr>
                        <th class="tablaHeaderAccion3 label" ALIGN="center">Acciones</th>
                        <th pSortableColumn="num" class="label" ALIGN="center" style="width: 4rem; text-align: center;">
                            Nro<p-sortIcon field="num"></p-sortIcon>
                        </th>
                        <th class="label" pSortableColumn="AdmDescripcion" ALIGN="center"
                            style="width: 8rem; text-align: center;">
                            Tipo admisión<p-sortIcon field="AdmDescripcion"></p-sortIcon>
                        </th>
                        <th class="label" pSortableColumn="UnidadNegocio" ALIGN="center"
                            style="width: 10rem; text-align: center;">
                            Código<p-sortIcon field="UnidadNegocio"></p-sortIcon>
                        </th>
                        <th class="label" pSortableColumn="Cliente" ALIGN="center"
                            style="width: 15rem; text-align: center;">
                            Descripción<p-sortIcon field="Cliente"></p-sortIcon>
                        </th>
                        <th pSortableColumn="Sede" class="label" ALIGN="center"
                            style="width: 8rem; text-align: center;">
                            Estado<p-sortIcon field="Sede"></p-sortIcon>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData>
                    <tr [pSelectableRow]="rowData">
                        <td class="tablaColumnaAccion3">
                            <span class="p-column-title">Acciones</span>
                            <table>
                                <tr>
                                    <th>
                                        <button pButton pRipple type="button" icon="fad fa-pencil-alt"
                                            class="p-button-rounded p-button-text" title="Editar"
                                            (click)="coreEditar(rowData)"></button>
                                    </th>
                                    <th>
                                        <button pButton pRipple type="button" icon="fad fa-search"
                                            (click)="coreVer(rowData)" class="p-button-rounded p-button-text"
                                            title="Ver"></button>
                                    </th>
                                    <th>
                                        <button pButton pRipple type="button" icon="fad fa-minus-circle"
                                            [disabled]="rowData.Estado != 1" (click)="coreinactivar(rowData)"
                                            class="p-button-rounded p-button-text" title="Inactivar"></button>
                                    </th>
                                </tr>
                            </table>
                        </td>
                        <td class="tablaColumnaCodigoChico text-center" ALIGN="center"
                            style="width: 4rem; text-align: center;">
                            <span class="p-column-title">Nro</span>
                            {{ rowData.num }}
                        </td>
                        <td class="tablaColumnaCodigoChico text-center" ALIGN="center"
                            style="width: 8rem; text-align: center;">
                            <span class="p-column-title">Tipo admisión</span>
                            {{rowData.AdmDescripcion | uppercase}}
                        </td>

                        <td class="tablaColumnaCodigoChico text-center" ALIGN="center" style="width: 10rem;">
                            <span class="p-column-title">Código</span>
                            <span>{{rowData.Codigo}}</span>
                        </td>

                        <td class="tablaColumnaCodigoChico text-center" ALIGN="center" style="width: 15rem;">
                            <span class="p-column-title">Descripción</span>
                            <span>{{rowData.Descripcion}}</span>
                        </td>

                        <td class="tablaColumnaCodigoChico text-center" ALIGN="center" style="width: 8rem;">
                            <span class="p-column-title">Estado</span>
                            <span>{{rowData.ESTADOdesc |uppercase}}</span>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </p-fieldset>
    </nb-card-body>

</nb-card>
<ngx-tipo-paciente-mantenimiento></ngx-tipo-paciente-mantenimiento>
<p-confirmDialog [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '30vw'}"></p-confirmDialog>