<p-dialog [(visible)]="dialog" [draggable]="false" [modal]="true" [resizable]="false" [breakpoints]="{'950px': '75vw'}"
  [style]="{width: '600px'}" header="Cambio de contraseña" [position]="position" [baseZIndex]="10000">
  <nb-card>

    <nb-card-body>

      <p class="sub-title">Establezca una nueva contraseña.</p>


      <form (ngSubmit)="resetPass()" [formGroup]="resetForm" aria-labelledby="title">

        <div class="form-control-group" style="margin-bottom: 1rem;">
          <label class="label" for="input-email">usuario:</label>
          <input formControlName="usuario" nbInput  placeholder="Ingrese su usuario" fullWidth
            fieldSize="medium">
          <div *ngIf="usuarioField.touched">
            <p class="caption status-danger" *ngIf="usuarioField.hasError('required')">
              Este campo es requerido.
            </p>
          </div>
        </div>

          <div class="form-control-group" style="margin-bottom: 1rem;">
            <label class="label" for="input-password">Contraseña:</label>

            <p-password placeholder='Ingrese su contraseña' formControlName="password" [feedback]="false"
              [toggleMask]="true"></p-password>
            <div *ngIf="passwordField.touched && passwordField.invalid">
              <p class="caption status-danger" *ngIf="passwordField.hasError('required')">
                Este campo es requerido.
              </p>
              <p class="caption status-danger" *ngIf="passwordField.value.length > 9">
                Cantidad máxima de 9 caracteres.
              </p>
            </div>
          </div>

          <div class="form-group" style="margin-bottom: 1rem;">
            <label class="label" for="input-re-password">Nueva Contraseña:</label>
            <p-password [feedback]="false" placeholder='Ingrese su nueva contraseña' formControlName="confirmPassword"
              [toggleMask]="true"></p-password>

            <div *ngIf="confirmPasswordField.touched ">
              <p class="caption status-danger" *ngIf="confirmPasswordField.hasError('required')">
                Este campo es requerido.
              </p>
              <p class="caption status-danger" *ngIf="confirmPasswordField.value.length > 9">
                Cantidad máxima de 9 caracteres.
              </p>
              <p class="caption status-danger" *ngIf="confirmPasswordField.value == passwordField.value">
                La nueva contraseña debe ser distinta a la contraseña actual.
              </p>
            </div>
          </div>

          <button nbButton status="primary" fullWidth size="medium" type="submit" style="background-color: #105a85;">
            Cambiar Contraseña
          </button>
      </form>
    </nb-card-body>

  </nb-card>
</p-dialog>