:host ::ng-deep {
    .p-input-icon-left, .p-input-icon-right {
        position: relative;
        display: block;
    }
    .p-input-icon-right > .p-inputtext {
        padding-right: 2rem;
        width: 100%;
        
    }
}