<p-blockUI [blocked]="bloquearPag" [baseZIndex]="10000">
  <img src="assets\img\ZZ5H.gif" style="width: 5%">
</p-blockUI>


<p-dialog [(visible)]="verConsultaDetalle" [draggable]="false" [modal]="true" [resizable]="false"
  [breakpoints]="{'950px': '75vw'}" [style]="{width: '90%'}" [header]="acciones" [position]="position"
  [maximizable]="true" [baseZIndex]="10000">

  <ng-template pTemplate="content">
    <nb-card-body style="background-color: transparent; margin-top: 0px;">
      <br>
      <p-fieldset legend="Información">
        <div class="row fondocard3" style="padding: 10px;">
          <div class="col-sm-3">
            <div class="row">
              <div class="col-sm-6">
                <label for="inputLastName" class="label">Nro Petición</label>
                <div class="p-inputgroup">
                  <input pInputText type="text" [disabled]="editarCampos" style="width:100%; height: 30px;"
                    [(ngModel)]="filtro.NroPeticion" />
                </div>
              </div>
              <div class="col-sm-6">
                <label for="inputLastName" class="label">Orden Atención</label>
                <div class="p-inputgroup">
                  <input pInputText type="text" [disabled]="editarCampos" style="width:100%; height: 30px;"
                    [(ngModel)]="filtro.OrdenAtencion" />
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <label for="inputLastName" class="label">Sede</label>
            <p-dropdown [options]="lstsedes" [disabled]="editarCampos" [(ngModel)]="dto.IdSede">
            </p-dropdown>
          </div>
          <div class="col-sm-3">
            <label for="inputLastName" class="label">Orden Externa</label>
            <div class="p-inputgroup">
              <input pInputText type="email" [disabled]="editarCampos" style="width:100%; height: 30px;"
                [(ngModel)]="filtro.OrdenSinapa" />
            </div>
          </div>

          <div class="col-sm-3">
            <label for="inputLastName" class="label">Cliente</label>
            <input pInputText type="text" [disabled]="editarCampos" style="width:100%; height: 30px;"
              [(ngModel)]="filtro.CLIENTE" />
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <label for="inputLastName" class="label">Persona</label>
              <div class="p-inputgroup">
                <input pInputText type="text" [disabled]="editarCampos" style="width:100%; height: 30px;"
                  [(ngModel)]="filtro.NombreCompleto" />
                <button (click)="verSelectorPaciente()" pButton icon="fa fa-search" class="botonbuscar" type="button"
                  title="Ver"></button>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="row">
              <div class="col-sm-6">
                <label for="inputLastName" class="label">Documento Identidad</label>
                <input pInputText type="text" [disabled]="editarCampos" style="width:100%; height: 30px;"
                  [(ngModel)]="filtro.Documento" />
              </div>
              <div class="col-sm-6">
                <label class="label">Fecha de Nacimiento</label>
                <div class="p-inputgroup">
                  <p-calendar [monthNavigator]="true" [yearNavigator]="true" [(ngModel)]="filtro.FechaNacimiento"
                    [style]="{'width':'100%'}" [disabled]="editarCampos" [inputStyle]="{'width':'100%'}" yearRange="1940:2200" [locale]="es"
                    dateFormat="dd/mm/yy" [showIcon]="true">
                  </p-calendar>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="row">
              <div class="col-sm-4">
                <label for="inputLastName" class="label">Edad</label>
                <input pInputText type="text" [disabled]="editarCampos" style="width:100%; height: 30px;"
                  [(ngModel)]="filtro.edad" />
              </div>
              <div class="col-sm-8">
                <div class="col" >
                  <label for="inputLastName" class="label">Sexo</label>
                  <p-dropdown [options]="lstSexo" [(ngModel)]="filtro.Sexo" [disabled]="true" [style]="{'width':'109%'}"
                    [filter]="true"></p-dropdown>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <label for="inputLastName" class="label">Historia Clínica</label>
            <input pInputText type="text" [disabled]="editarCampos" style="width:100%; height: 30px;"
              [(ngModel)]="filtro.HistoriaClinica" />
          </div>
          <div class="col-sm-3">
            <label for="inputLastName" class="label">Procedencia</label>
            <input pInputText type="text" [disabled]="editarCampos" style="width:100%; height: 30px;"
              [(ngModel)]="filtro.PROCEDENCIA" />
          </div>
          <div class="col-sm-3">
              <div class="row">
                  <div class="col-sm-6">
                    <label for="inputLastName" class="label">Tipo Paciente</label>
                    <input pInputText type="text" [disabled]="editarCampos" style="width:100%; height: 30px;"
                    [(ngModel)]="filtro.TipoPaciente" />
                  </div>
                  <div class="col-sm-6">
                      <label for="inputLastName" class="label">Contrato</label>
                      <input pInputText type="text" [disabled]="editarCampos" style="width:100%; height: 30px;"
                        [(ngModel)]="filtro.Contrato" />
                  </div>
              </div>
          </div>
          <div class="col-sm-3">
            <label for="inputLastName" class="label">Tipo Atención</label>
            <input pInputText type="text" [disabled]="editarCampos" style="width:100%; height: 30px;"
              [(ngModel)]="filtro.TipoAtencion" />

          </div>
          <div class="col-sm-3">
            <label for="inputLastName" class="label">Tipo Orden</label>
            <input pInputText type="text" [disabled]="editarCampos" style="width:100%; height: 30px;"
              [(ngModel)]="filtro.TipoOrden" />
          </div>

          <div class="col-sm-3">
            <label for="inputLastName" class="label">Medico</label>
            <input pInputText type="text" [disabled]="editarCampos" style="width:100%; height: 30px;"
              [(ngModel)]="filtro.MEDICO" />
          </div>


          <div class="col-sm-3">
            <label for="inputLastName" class="label">Aseguradora</label>
            <input pInputText type="text" [disabled]="editarCampos" style="width:100%; height: 30px;"
              [(ngModel)]="filtro.NombreEmpresa" />
          </div>
          <div class="col-sm-3">
            <label for="inputLastName" class="label">Empresa Paciente</label>
            <input pInputText type="text" [disabled]="editarCampos" style="width:100%; height: 30px;"
              [(ngModel)]="filtro.EMPRESA" />
          </div>
          <div class="col-sm-3">
            <label for="inputLastName" class="label"># Cama</label>
            <input pInputText type="text" [disabled]="editarCampos" style="width:100%; height: 30px;"
              [(ngModel)]="filtro.Cama" />
          </div>
          <div class="col-sm-12">
            <label for="inputLastName" class="label">Comentario Atención</label>
            <textarea pInputText type="text" [style]="{'width':'100%'}" [(ngModel)]="filtro.ObservacionAlta"
              [disabled]="editarCampos"
              class=" input-full-width size-large status-basic shape-round nb-transition "></textarea>
          </div>

        </div>
      </p-fieldset>
      <br>
      <p-fieldset legend="Referencia">
        <div class="row">
          <div class="col-sm-12">
            <div class="col">
              <p-table #dt [rows]="15" [paginator]="true" [rowHover]="true" [responsive]="true"
                [totalRecords]="cantidad" [sortOrder]="-1" selectionMode="single" [loading]="loading"
                [value]="lstListarDetalle" responsiveLayout="scroll"
                currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
                [showCurrentPageReport]="true" [(selection)]="registroSeleccionado" [scrollable]="true"
                scrollHeight="200px" [style]="{width:'100%'}" [rowsPerPageOptions]="[15,30,50]">

                <ng-template pTemplate="colgroup">
                  <colgroup>
                    <col style="width:75px">
                  </colgroup>
                </ng-template>
                <ng-template pTemplate="header">
                  <tr>
                    <th class="label" style="width: 2rem;" pSortableColumn="numeroXadmision" ALIGN="center">N°
                      <p-sortIcon field="numeroXadmision"></p-sortIcon>
                    </th>

                    <th class="label" style="width: 6rem;" pSortableColumn="CodigoComponente" ALIGN="center">Código
                      <p-sortIcon field="CodigoComponente"></p-sortIcon>
                    </th>
                    <th class="label" style="width: 6rem;" pSortableColumn="CodigoAnalisis" ALIGN="center">
                      Homologación
                      <p-sortIcon field="CodigoAnalisis"></p-sortIcon>
                    </th>

                    <th class="label" style="width: 15rem;" pSortableColumn="Descripcion" ALIGN="center">Prueba /
                      Examen<p-sortIcon field="Descripcion">
                      </p-sortIcon>
                    </th>
                    <th class="label" style="width: 5rem;" pSortableColumn="Cantidad" ALIGN="center">Cantidad
                      <p-sortIcon field="Cantidad"></p-sortIcon>
                    </th>
                    <th class="label" style="width: 5rem;" pSortableColumn="Monto" ALIGN="center">
                      Monto
                      <p-sortIcon field="Monto">
                      </p-sortIcon>
                    </th>
                    <th class="label" style="width: 5rem;" pSortableColumn="Precio IGV" ALIGN="center">
                      Precio IGV
                      <p-sortIcon field="Precio IGV">
                      </p-sortIcon>
                    </th>
                    <th class="label" style="width: 10rem;" pSortableColumn="DescripcionProveedor" ALIGN="center">
                      Proveedor
                      <p-sortIcon field="DescripcionProveedor">
                      </p-sortIcon>
                    </th>

                    <th class="label" style="width: 5rem;" pSortableColumn="DES" ALIGN="center">
                      Destino
                      <p-sortIcon field="DES">
                      </p-sortIcon>
                    </th>
                    <th class="label" style="width: 8rem;" pSortableColumn="Estado" ALIGN="center">
                      Estado
                      <p-sortIcon field="Estado">
                      </p-sortIcon>
                    </th>
                    <th class="label" style="width: 5rem;" pSortableColumn="Sexo" ALIGN="center">
                      Sexo
                      <p-sortIcon field="Sexo">
                      </p-sortIcon>
                    </th>

                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData>

                  <tr>
                    <td class="tablaColumnaCodigoChico" style="width: 2rem;" ALIGN="center">
                      {{rowData.numeroXadmision}}
                    </td>
                    <td class="tablaColumnaCodigoChico" style="width: 6rem;" ALIGN="center">
                      {{rowData.CodigoComponente}}
                    </td>
                    <td class="tablaColumnaCodigoChico" style="width: 6rem;" ALIGN="center">
                      {{rowData.CodigoAnalisis}}
                    </td>
                    <td class="tablaColumnaCodigoChico" style="width: 15rem;" ALIGN="center">
                      {{rowData.Descripcion}}
                    </td>
                    <td class="tablaColumnaCodigoChico" style="width: 5rem;" ALIGN="center">
                      {{rowData.Cantidad}}
                    </td>
                    <td class="tablaColumnaCodigoChico" style="width: 5rem;" ALIGN="center">
                      {{rowData.Precio | currency: 'S/'}}
                    </td>

                    <td class="tablaColumnaCodigoChico" style="width: 5rem;" ALIGN="center">
                      {{rowData.igvprecioexamenes | currency: 'S/'}}
                    </td>

                    <td class="tablaColumnaCodigoChico" style="width: 10rem;" ALIGN="center">
                      {{rowData.DescripcionProveedor}}
                    </td>
                    <td class="tablaColumnaCodigoChico" style="width: 5rem;" ALIGN="center">
                      {{rowData.DES}}
                    </td>
                    <td class="tablaColumnaCodigoChico" style="width: 8rem;" ALIGN="center">
                      {{rowData.DesEstado}}
                    </td>
                    <td class="tablaColumnaCodigoChico" style="width: 5rem;" ALIGN="center">
                      {{rowData.Sexo}}
                    </td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="footer">
                  <tr>
                    <td colspan="3" class="text-right">Total</td>
                    <td>{{lastYearTotal | currency: 'S/'}}</td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </div>
        <div class="row">
          <nb-card class="col-sm-12 fondocard2 bordercard">
            <ngx-auditoria [creacionUsuario]="usuario" [creacionFecha]="fechaCreacion"
              [modificacionFecha]="fechaModificacion"></ngx-auditoria>
          </nb-card>
        </div>
      </p-fieldset>

    </nb-card-body>
  </ng-template>
</p-dialog>
<p-toast></p-toast>
<ngx-persona-mantenimiento></ngx-persona-mantenimiento>
