<nb-card>
    <nb-card-header>
        <nav class="fixed">
            <ngx-header-titulo [objTitulo]="objetoTitulo"></ngx-header-titulo>
        </nav>
        <div class="row">
            <div class="col-sm-2">
                <h4 class="titulonuevo"></h4>
            </div>
            <div class="col-sm-10" style="background-color: transparent;">
                <div>

                    <!-- <nb-card class="col-sm-6 fondocard" style="padding: 2px; margin-bottom: -10px; margin-top: -10px;">
                    <div class="row col-sm-12">
                        <button style="color: #2B4E64; padding: 0px;" class="col-sm-2 button btn"><img src="assets/img/buscaroa.ico" width="40%" style="filter: drop-shadow(5px 5px 7px #444);"><br><label style="font-size: 12px;font-weight: bold">Buscar</label> </button> 
                        <button style="color: #2B4E64; padding: 0px;" class="col-sm-2 button btn"><img src="assets/img/NUEVO.png" width="40%" style="filter: drop-shadow(5px 5px 7px #444);"><br><label style="font-size: 12px;font-weight: bold">Nuevo</label></button> 
                   <button style="color: #2B4E64; padding: 0px;" class="col-sm-2 button btn"><img src="assets/img/ico_editar.ico" width="40%" style="filter: drop-shadow(5px 5px 7px #444);"><br><label style="font-size: 12px;font-weight: bold">Editar</label></button> 
                   <button style="color: #2B4E64; padding: 0px;" class="col-sm-2 button btn"><img src="assets/img/ico_imprimir.ico" width="40%" style="filter: drop-shadow(5px 5px 7px #444);"><br><label style="font-size: 12px;font-weight: bold">Ver</label></button> 
                   <button style="color: #2B4E64; padding: 0px;" class="col-sm-2 button btn"><img src="assets/img/ico5.ico" width="40%" style="filter: drop-shadow(5px 5px 7px #444);"><br><label style="font-size: 12px;font-weight: bold">Copiar</label></button>
                   <button style="color: #2B4E64; padding: 0px;" class="col-sm-2 button btn"><img src="assets/img/inactivar.png" width="40%" style="filter: drop-shadow(5px 5px 7px #444);"><br><label style="font-size: 12px;font-weight: bold">Inactivar</label></button>
    
    
                </div>
            </div>
        </div>
    </nb-card-header>
    <nb-card-body>
        <p-fieldset legend="Información Consulta">
            <div class="row" style="padding: 10px;">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="inputLastName" class="label">Nombre</label>
                        <input pInputText type="text" placeholder="" [(ngModel)]="filtro.Nombre" [style]="{'width':'100%'}" (keypress)="defaultBuscar($event)"  />
                    </div>

                </div>
                <div class="col-sm-4">
                    <label for="inputLastName" class="label">Estado</label>
                    <p-dropdown [options]="lstEstado" [(ngModel)]="filtro.Estado"
                      [style]="{'width':'100%','text-transform': 'uppercase'}"></p-dropdown>
                  </div>
            </div>
        </p-fieldset>
        <br>
        <p-fieldset legend="Detalle">
            <p-table #dt [rows]="15" [paginator]="true" [rowHover]="true" dataKey="num" [value]="lstMuestra"
            [responsive]="true" [sortOrder]="1" sortField="num"
            currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
            [rowsPerPageOptions]="[15,30,50]" [showCurrentPageReport]="true" [scrollable]="true" scrollHeight="300px">
            <ng-template pTemplate="header">
                <tr>
                <th class="tablaHeaderAccion3 label" ALIGN="center">Acciones</th>
                <th pSortableColumn="IdMuestra" style="text-align: center;">Nro<p-sortIcon field="IdMuestra"> </p-sortIcon>
                </th>

                <th pSortableColumn="Nombre" style="text-align: center;">Nombre<p-sortIcon field="Nombre"></p-sortIcon>
                </th>

                <th pSortableColumn="Observacion" style="text-align: center;">Tapa<p-sortIcon field="Observacion"></p-sortIcon>
                </th>
                <th pSortableColumn="Cantidad" style="text-align: center;">Cantidad<p-sortIcon field="Cantidad"></p-sortIcon>
                </th>
                <th pSortableColumn="Estado" style="text-align: center;">Estado<p-sortIcon field="Estado">
                    </p-sortIcon>
                </th>
                </tr>
            </ng-template>
            
            <ng-template pTemplate="body" let-rowData>
                
                <tr>
                <td class="tablaColumnaAccion3" style="text-align: center;">
                    <span class="p-column-title">Acción</span>
                    <table>
                      <tr>
                    <th>
                      <button pButton pRipple type="button" icon="fad fa-pencil-alt" title="Editar" 
                        class="p-button-rounded p-button-text" (click)="coreEditar(rowData)"></button>
                    </th>
                    <th>
                      <button pButton pRipple type="button" icon="fad fa-search" (click)="coreVer(rowData)"
                        class="p-button-rounded p-button-text" title="Ver"></button>
                    </th>
                    <th>
                      <button pButton pRipple type="button" icon="fal fa-trash-alt"title="Inactivar"
                        class="p-button-rounded p-button-text" (click)="coreinactivar(rowData)"></button>
                      </th>            
                    <th>
                      <button pButton pRipple type="button" icon="fad fa-external-link" title="Asignar"
                        class="p-button-rounded p-button-text" (click)="coreAsignar(rowData)"></button>
                    </th> 
                      </tr>
                    </table>
                  </td>
                  
                <td style="text-align: center;">{{rowData.IdMuestra}}</td>

                <td style="text-align: center;">{{rowData.Nombre}}</td>

                <td style="text-align: center;">{{rowData.Observacion}}</td>

                <td style="text-align: center;">{{rowData.Cantidad}}</td>

                <td style="text-align: center;">{{rowData.ESTADOdesc}}</td>

                </tr>
            </ng-template>
            </p-table>
        </p-fieldset>
    </nb-card-body>


</nb-card>
<ngx-muestra-mantenimiento></ngx-muestra-mantenimiento>
<p-confirmDialog [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '30vw'}"></p-confirmDialog>