<p-blockUI [blocked]="bloquearPag" [baseZIndex]="10000">
    <img src="assets\img\ZZ5H.gif" style="width: 5%">
</p-blockUI>
<p-dialog [(visible)]="dialog" [draggable]="false" [modal]="true" [resizable]="false" [breakpoints]="{'950px': '75vw'}"
    [style]="{width: '850px'}" [header]="titulo" [position]="position" [maximizable]="true" [baseZIndex]="10000">

    <ng-template pTemplate="content">
        <br>
        <p-fieldset legend="Información General">
            <div class="row" style="margin-top: 20px;">
                <!-- Columna izquierda -->
                <div class="col-sm-6">
                    <div class="form-group" style="margin-top: 15px;">
                        <label for="inputLastName" class="label">Compañia</label>
                        <span class="p-inputgroup">
                            <span class="p-inputgroup-addon"><i class="pi pi-align-justify"></i></span>
                            <p-dropdown [disabled]="puedeEditar" placeholder="Seleccione"
                                [style]="{'background-color':'rgb(247, 247, 208)', 'width':'100%'}" [disabled]="puedeEditar"
                                class="tablaCompletaIzquieda" [options]="lstCompania" [(ngModel)]="dto.CompaniaCodigo">
                            </p-dropdown>
                        </span>
                    </div>

                    <div class="form-group" style="margin-top: 15px;">
                        <label class="label">Banco</label>
                        <span class="p-inputgroup">
                            <span class="p-inputgroup-addon"><i class="pi pi-align-justify"></i></span>
                            <p-dropdown [disabled]="puedeEditar" placeholder="Seleccione"
                                [style]="{'background-color':'rgb(247, 247, 208)', 'width':'100%'}" [disabled]="puedeEditar"
                                class="tablaCompletaIzquieda" [options]="lstBanco" [(ngModel)]="dto.Banco">
                            </p-dropdown>
                        </span>
                    </div>
                    <div class="form-group" style="margin-top: 15px;">
                        <label class="label">Cuenta Bancaria</label>
                        <input pInputText type="text" [(ngModel)]="dto.CuentaBancaria" placeholder="" [style]="{'background-color':'rgb(247, 247, 208)', 'width':'100%'}" />
                    </div>
                </div>

                <!-- Columna derecha -->
                <div class="col-sm-6">

                    <div class="form-group" style="margin-top: 15px;">
                        <label class="label">Tipo Moneda</label>
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon"><i class="pi pi-align-justify"></i></span>
                            <p-dropdown [disabled]="puedeEditar" placeholder="Seleccione"
                                [style]="{'background-color':'rgb(247, 247, 208)', 'width':'100%'}" [disabled]="puedeEditar"
                                class="tablaCompletaIzquieda" [options]="lstMoneda" [(ngModel)]="dto.MonedaCodigo">
                            </p-dropdown>
                        </div>
                    </div>

                    <div class="form-group">
                    <label class="label">Estado</label>
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon"><i class="pi pi-align-justify"></i></span>
                        <p-dropdown [disabled]="puedeEditar" placeholder="Seleccione"
                            [style]="{'background-color':'rgb(247, 247, 208)', 'width':'100%'}"
                            class="tablaCompletaIzquieda" [options]="lstEstado" [(ngModel)]="dto.Estado">
                        </p-dropdown>
                    </div>
                </div>
                </div>
            </div>
        </p-fieldset>

        <br>

        <p-fieldset legend="Auditoria">
            <ngx-auditoria [creacionUsuario]="usuario" [creacionFecha]="fechaCreacion"
                [modificacionFecha]="fechaModificacion"></ngx-auditoria>
        </p-fieldset>
    </ng-template>

    <ng-template pTemplate="footer">
        <!-- <p-button label="Nuevo" icon="pi pi-plus" styleClass="p-button-primary" [disabled]="puedeEditar" type="submit"
            (click)="saveProduct($event)"></p-button> -->
        <p-button label="Guardar" icon="pi pi-save" styleClass="p-button-primary" [disabled]="puedeEditar" type="submit"
            (click)="coreGuardar()"></p-button>
    </ng-template>
</p-dialog>
<!-- compañia, banco, num cuenta, selecmoneda,selecestado-->
<p-toast [showTransformOptions]="'translateY(90%)'" [baseZIndex]="10000" key="notification"
    position="top-right"></p-toast>

