<p-blockUI [blocked]="bloquearPag" [baseZIndex]="10000">
    <img src="assets\img\ZZ5H.gif" style="width: 5%">
</p-blockUI>
<p-dialog [(visible)]="dialog" [draggable]="false" [modal]="true" [resizable]="false" [breakpoints]="{'950px': '75vw'}"
    [style]="{width: '850px'}" [header]="titulo" [position]="position" [maximizable]="true" [baseZIndex]="10000">

    <ng-template pTemplate="content">
        <br>
        <p-fieldset legend="Información General">
            <div class="row" style="margin-top: 20px;">
                <!-- Columna izquierda -->
                <div class="col-sm-6">
                    <div class="form-group" style="margin-top: 15px;">
                        <label for="inputLastName" class="label">Compañia</label>
                        <p-dropdown [(ngModel)]="dto.CompaniaCodigo" [options]="lstCompania" [disabled]="puedeEditar"
                        [style]="{'width':'100%','text-transform': 'uppercase'}"></p-dropdown>
                    </div>

                    <div class="form-group" style="margin-top: 15px;">
                        <label class="label">Banco</label>
                        <p-dropdown [options]="lstBanco" placeholder="Seleccione banco" style="width: 100%"></p-dropdown>
                    </div>
                    <div class="form-group" style="margin-top: 15px;">
                        <label class="label">Cuenta Bancaria</label>
                        <input pInputText type="text" [(ngModel)]="dto.CuentaBancaria" placeholder="" style="width: 100%" />
                    </div>
                </div>

                <!-- Columna derecha -->
                <div class="col-sm-6">

                    <div class="form-group" style="margin-top: 15px;">
                        <label class="label">Tipo Moneda</label>
                        <p-dropdown [options]="lstMoneda" placeholder="Seleccione moneda" style="width: 100%"></p-dropdown>
                    </div>

                    <div class="form-group" style="margin-top: 15px;">
                        <label class="label">Estado</label>
                        <p-dropdown [options]="lstEstado" placeholder="--Estado--" style="width: 100%"></p-dropdown>
                    </div>
                </div>
            </div>
        </p-fieldset>

        <br>

        <p-fieldset legend="Auditoria">
            <ngx-auditoria [creacionUsuario]="usuario" [creacionFecha]="fechaCreacion"
                [modificacionFecha]="fechaModificacion"></ngx-auditoria>
        </p-fieldset>
    </ng-template>

    <ng-template pTemplate="footer">
        <!-- <p-button label="Nuevo" icon="pi pi-plus" styleClass="p-button-primary" [disabled]="puedeEditar" type="submit"
            (click)="saveProduct($event)"></p-button> -->
        <p-button label="Guardar" icon="pi pi-save" styleClass="p-button-primary" [disabled]="puedeEditar" type="submit"
            (click)="coreGuardar()"></p-button>
    </ng-template>
</p-dialog>
<!-- compañia, banco, num cuenta, selecmoneda,selecestado-->
<p-toast [showTransformOptions]="'translateY(90%)'" [baseZIndex]="10000" key="notification"
    position="top-right"></p-toast>

