<p-blockUI [blocked]="bloquearPag">
  <img src="assets\img\ZZ5H.gif" style="width: 5%">
</p-blockUI>
<p-confirmDialog #c key="confirm">
  <p-footer>
    <button pButton type="button" icon="fa fa-check" label="Si" class="ui-button-rounded ui-button-danger"
      (click)="c.accept()"></button>
    <button pButton type="button" icon="fa fa-close" label="No" class="ui-button-rounded" (click)="c.reject()"></button>
  </p-footer>
</p-confirmDialog>
<p-card>
  <nb-card-header>
    <nav class="fixed">
      <ngx-header-titulo [objTitulo]="objetoTitulo"></ngx-header-titulo>
    </nav>
  </nb-card-header>

  <p-fieldset legend="Información Consulta">
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <label class="label">Perfil</label>
          <p-dropdown [options]="lstPerfil" [style]="{ 'height': '30px','text-transform': 'uppercase'}"
            [(ngModel)]="filtro.Perfil"> </p-dropdown>
        </div>
      </div>
      <div class="col-sm-4">
        <label class="label">Usuario</label>
        <input #myDocumento pInputText type="text" style="width:100%; height: 30px; text-transform: uppercase;"
          [(ngModel)]="filtro.Usuario" />
      </div>
      <div class="col-sm-4">
        <label class="label">Nombre</label>
        <input pInputText type="text" placeholder="" style="width:100%; height: 30px; text-transform: uppercase;"
          [(ngModel)]="filtro.NombreCompleto" />
      </div>

      <div class="col-sm-4">
        <label for="inputOrdAten" class="label">Estado</label>
        <p-dropdown [options]="lstEstados" [(ngModel)]="filtro.Estado"
          [style]="{'width':'100%','text-transform': 'uppercase'}"></p-dropdown>
      </div>
    </div>
  </p-fieldset>

  <br>

  <p-fieldset legend="Información Consulta" (keyup.enter)="coreBuscar()">
    <p-table id="contenido" #dt [rows]="25" [paginator]="true" [rowHover]="true" [responsive]="true "
      [style]="{ width: '100%'}" [sortOrder]="1" sortField="num" [value]="lstUsuarios" selectionMode="single"
      currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
      [rowsPerPageOptions]="[25,50,100]" [showCurrentPageReport]="true" [scrollable]="true" scrollHeight="300px">
      <ng-template pTemplate="header">
        <tr>
          <th class="tablaHeaderAccion3 label" ALIGN="center">Acciones</th>
          <th pSortableColumn="num" class="label" ALIGN="center" style="width: 4rem; text-align: center;">
            Nro<p-sortIcon field="num"></p-sortIcon>
          </th>
          <th class="label" pSortableColumn="AdmDescripcion" ALIGN="center" style="width: 8rem; text-align: center;">
            Fecha Creación<p-sortIcon field="AdmDescripcion"></p-sortIcon>
          </th>
          <th class="label" pSortableColumn="UnidadNegocio" ALIGN="center" style="width: 10rem; text-align: center;">
            Usuario<p-sortIcon field="UnidadNegocio"></p-sortIcon>
          </th>
          <th class="label" pSortableColumn="Cliente" ALIGN="center" style="width: 15rem; text-align: center;">
            Nombres y apellidos<p-sortIcon field="Cliente"></p-sortIcon>
          </th>
          <th pSortableColumn="Sede" class="label" ALIGN="center" style="width: 8rem; text-align: center;">
            Expira<p-sortIcon field="Sede"></p-sortIcon>
          </th>
          <th class="label" pSortableColumn="Descripcion" ALIGN="center" style="width: 10rem; text-align: center;">
            Perfil<p-sortIcon field="Descripcion"></p-sortIcon>
          </th>
          <th class="label" pSortableColumn="Examen" ALIGN="center" style="width: 8rem; text-align: center;">
            Estado<p-sortIcon field="Examen"></p-sortIcon>
          </th>

        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData>
        <tr [pSelectableRow]="rowData">
          <td class="tablaColumnaAccion3">
            <span class="p-column-title">Acciones</span>
            <table>
              <tr>
                <th>
                  <button pButton pRipple type="button" icon="fad fa-pencil-alt" class="p-button-rounded p-button-text"
                    title="Editar" (click)="coreEditar(rowData)"></button>
                </th>
                <th>
                  <button pButton pRipple type="button" icon="fad fa-search" (click)="coreVer(rowData)"
                    class="p-button-rounded p-button-text" title="Ver"></button>
                </th>
                <th>
                  <button pButton pRipple type="button" icon="fad fa-minus-circle" [disabled]="rowData.Estado != 'A'"
                    (click)="coreinactivar(rowData)" class="p-button-rounded p-button-text" title="Inactivar"></button>
                </th>
              </tr>
            </table>
          </td>
          <td class="tablaColumnaCodigoChico text-center" ALIGN="center" style="width: 4rem; text-align: center;">
            <span class="p-column-title">Nro</span>
            {{ rowData.num }}
          </td>
          <td class="tablaColumnaCodigoChico text-center" ALIGN="center" style="width: 8rem; text-align: center;">
            <span class="p-column-title">Fecha Creación</span>
            {{rowData.FechaCreacion | date: 'dd/MM/yyyy'}}
          </td>

          <td class="tablaColumnaCodigoChico text-center" ALIGN="center" style="width: 10rem;">
            <span class="p-column-title">Usuario</span>
            <span>{{rowData.Usuario|uppercase}}</span>
          </td>

          <td class="tablaColumnaCodigoChico text-center" ALIGN="center" style="width: 15rem;">
            <span class="p-column-title">Nombres y apellidos</span>
            <span>{{rowData.NombreCompleto|uppercase}}</span>
          </td>

          <td class="tablaColumnaCodigoChico text-center" ALIGN="center" style="width: 8rem;">
            <span class="p-column-title">Expira</span>
            <span>{{rowData.ExpirarPasswordFlag == 'S' ? 'Si': 'No'|uppercase}}</span>
          </td>
          <td class="tablaColumnaCodigoChico text-center" ALIGN="center" style="width: 10rem;">
            <span class="p-column-title">Perfil</span>
            <span>{{rowData.Perfil|uppercase}}</span>
          </td>
          <td class="tablaColumnaCodigoChico text-center" ALIGN="center" style="width: 8rem;">
            <span class="p-column-title">Estado</span>
            <span>{{rowData.EstadoDes|uppercase}}</span>
          </td> 
        </tr>
      </ng-template>
    </p-table>
  </p-fieldset>
</p-card>
<ngx-usuarios-mantenimiento></ngx-usuarios-mantenimiento>
<p-toast key="bc" [baseZIndex]="3000"></p-toast>
