
.botonbuscar {
    background-color: #094d74;
    border-color: #094d74;
}
.tablacabecera{
    background-color: #9cb9d1 !important;
}
.titulonuevo{
    font-weight: bold;
                line-height: 1.15;
                color: #004b76;
                text-shadow: rgba(0, 0, 0, 0.1) 0.01em 0.01em 0.1em;
}

.bordercard{
    border-top-color: #ece9e9 !important;
    border-top-style: solid;
    border-top-width: 0.25rem;
    
}

.fondocard{
    background-image:linear-gradient(to bottom, #FFFFFF, #e2e2e2);
    box-shadow: 2px 2px 6px #666;
    
}
.fondocard2{
    background-color: #f7f7f7;
    box-shadow: 1px 1px 1px 1px rgb(182, 182, 182);
    color:#404040;
    
}

.fondocard2 label{

    color:#444343;

    
}
