<p-blockUI [blocked]="bloquearPag">
    <img src="assets\img\ZZ5H.gif" style="width: 5%">
</p-blockUI>
<p-confirmDialog #c key="confirm2">
    <p-footer>
        <button pButton type="button" icon="fa fa-check" label="Si" class="ui-button-rounded ui-button-danger"
            (click)="c.accept()"></button>
        <button pButton type="button" icon="fa fa-close" label="No" class="ui-button-rounded"
            (click)="c.reject()"></button>
    </p-footer>
</p-confirmDialog>

<p-card>
    <nb-card-header>
        <nav class="fixed">
            <ngx-header-titulo [objTitulo]="objetoTitulo"></ngx-header-titulo>
        </nav>
    </nb-card-header>
    <p-fieldset legend="Información Consulta">
        <div class="row">
            <div class="col-sm-3">
                <label for="inputLastName" class="label">Compañia</label>
                <p-dropdown [(ngModel)]="filtro.CompaniaCodigo" [filter]="true" [options]="lstCompania"
                    [style]="{'width':'100%','text-transform': 'uppercase'}"></p-dropdown>
            </div>
            <div class="col-sm-3">
                <label for="inputLastName" class="label">Tipo Comprobante</label>
                <p-dropdown [(ngModel)]="filtro.TipoComprobante" [filter]="true" [options]="lstTipoComprobante"
                    [style]="{'width':'100%','text-transform': 'uppercase'}"></p-dropdown>
            </div>
            <div class="col-sm-3">
                <label for="inputLastName" class="label">Serie</label>
                <input pInputText type="text" placeholder="" [style]="{'width':'100%'}" mode="currency" currency="PEN"
                    locale="es-PE" [(ngModel)]="filtro.Serie" />
            </div>
            <div class="col-sm-3">
                <label for="inputLastName" class="label">Estado</label>
                <p-dropdown [(ngModel)]="filtro.Estado" [filter]="true" [options]="lstEstado"
                    [style]="{'width':'100%','text-transform': 'uppercase'}"></p-dropdown>
            </div>
        </div>
    </p-fieldset>
    <nb-card-body style="background-color: transparent;">
        <p-fieldset legend="Detalle">

            <p-table #dt [rows]="15" [paginator]="true" [rowHover]="true" [responsive]="true" [sortOrder]="1"
                [value]="lstGrilla" currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
                [showCurrentPageReport]="true" selectionMode="single" [scrollable]="true"
                [rowsPerPageOptions]="[15,30,50]">
                <ng-template pTemplate="header">
                    <tr>
                        <th class="tablaColumnaAccion3">Acción</th>
                        <th class="tablaColumnaCodigoPequenio">Nro
                        </th>
                        <th class="tablaColumnaCodigoChico">Compañia
                        </th>
                        <th class="tablaColumnaCodigoChico">Tipo
                        </th>
                        <th class="tablaColumnaCodigoChico">Serie
                        </th>
                        <th class="tablaColumnaCodigoChico">Corr. Número
                        </th>
                        <th class="tablaColumnaCodigoChico">Corr. Desde
                        </th>
                        <th class="tablaColumnaCodigoChico"> Corr. Hasta
                        </th>
                        <th class="tablaColumnaCodigoChico">Estado
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData>
                    <tr>
                        <td class="tablaColumnaAccion3">
                            <span class="p-column-title">Acción</span>
                            <table>
                                <tr>
                                    <th>
                                        <button pButton pRipple type="button" icon="fad fa-pencil-alt"
                                            class="p-button-rounded p-button-text" title="Editar"
                                            (click)="coreEditar(rowData)"></button>
                                    </th>
                                    <th>
                                        <button pButton pRipple type="button" icon="fad fa-search"
                                            (click)="coreVer(rowData)" class="p-button-rounded p-button-text"
                                            title="Ver"></button>
                                    </th>
                                    <th>
                                        <button pButton pRipple type="button" icon="fal fa-minus-circle"
                                            (click)="coreInactivar(rowData)" class="p-button-rounded p-button-text"
                                            title="Inactivar"></button>
                                    </th>
                                </tr>
                            </table>
                        </td>

                        <td class="tablaColumnaCodigoPequenio"> {{ rowData.num }} </td>
                        <td class="tablaColumnaCodigoChico">{{rowData.DescripcionCorta}}</td>
                        <td class="tablaColumnaCodigoChico">{{rowData.TipoComprobante}}</td>
                        <td class="tablaColumnaCodigoChico"> {{rowData.Serie}}
                        <td class="tablaColumnaCodigoChico">{{rowData.CorrelativoNumero}}</td>
                        <td class="tablaColumnaCodigoChico">{{rowData.CorrelativoDesde}}</td>
                        <td class="tablaColumnaCodigoChico"> {{rowData.CorrelativoHasta}} </td>
                        <td class="tablaColumnaCodigoChico">{{rowData.ESTADOdesc}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </p-fieldset>
    </nb-card-body>
</p-card>
<ngx-correlativos-mantenimiento></ngx-correlativos-mantenimiento>