    <p-blockUI [blocked]="bloquearPag">
        <img src="assets\img\ZZ5H.gif" style="width: 5%">
    </p-blockUI>   
    <nb-card >
        <nb-card-header>
            <nav class="fixed">
              <div class="header-container">
                <div class="logo-container">
                  <nb-actions size="small">
                    <nb-action class="control-item" icon="browser-outline" matRipple></nb-action>
                  </nb-actions>
                  Particular
                </div>
          
                <nb-actions size="small" class="menu-icons">
                  <nb-action
                    icon="plus-outline"
                    matRipple
                    (click)="btnNuevo()"
                    [matRippleUnbounded]="true"
                    [matRippleCentered]="true"
                    nbTooltip="Nuevo"
                    nbTooltipPlacement="top"
                    nbTooltipStatus="primary"
                  ></nb-action>
          
                  <nb-action
                    icon="edit-outline"
                    matRipple
                    (click)="btnEditar()"
                    [matRippleUnbounded]="true"
                    [matRippleCentered]="true"
                    nbTooltip="Editar"
                    nbTooltipPlacement="top"
                    nbTooltipStatus="success"
                  ></nb-action>
          
                  <nb-action
                    icon="save-outline"
                    matRipple
                    (click)="ValidarGuardar(admision)"
                    nbTooltip="Guardar"
                    nbTooltipPlacement="top"
                    nbTooltipStatus="info"
                    [matRippleUnbounded]="true"
                    [matRippleCentered]="true"
                  ></nb-action>
          
                  <nb-action
                    icon="email-outline"
                    matRipple
                    (click)="Correo(admision)"
                    nbTooltip="Enviar Correo"
                    nbTooltipPlacement="top"
                    nbTooltipStatus="primary"
                    [matRippleUnbounded]="true"
                    [matRippleCentered]="true"
                  ></nb-action>
          
                  <nb-action
                    icon="close-outline"
                    matRipple
                    (click)="AnularAdmision(admision)"
                    nbTooltip="Anular"
                    nbTooltipPlacement="top"
                    nbTooltipStatus="danger"
                    [matRippleUnbounded]="true"
                    [matRippleCentered]="true"
                  ></nb-action>
                  <nb-action
                    icon="person-add-outline"
                    matRipple
                    (click)="MultiPersona(bscPersona)"
                    nbTooltip="Paciente"
                    nbTooltipPlacement="top"
                    nbTooltipStatus="danger"
                    [matRippleUnbounded]="true"
                    [matRippleCentered]="true"
                  ></nb-action>
                  <nb-action
                    icon="checkmark-outline"
                    matRipple
                    (click)="corePago(admision)"
                    nbTooltip="Pago"
                    nbTooltipPlacement="top"
                    nbTooltipStatus="danger"
                    [matRippleUnbounded]="true"
                    [matRippleCentered]="true"
                  ></nb-action>


                  
                </nb-actions>
              </div>
            </nav>
          </nb-card-header>
  

        <div class="row">
            <div class="col-sm-4">
                <br>
                <h4 class="titulonuevo">Admisión Particular</h4>
            </div>
            <div [class]="colCard1" style="background-color: transparent;"></div>
             <div [class]="colCard2" style="right: 5%;    position: fixed;   z-index: 950;" aria-orientation="horizontal">
                 <nb-card class="col-sm-12 fondocard" style="padding: 2px; margin-bottom: -10px; margin-top: 5px;">
                 <div class="row" aria-orientation="horizontal">
                        <br>
                        <button (click)="btnNuevo()" style="color: #2B4E64; padding: 0px 9px;" class="col button btn"><img
                                src="assets/img/nuevo1.ico" width="30%"
                                style="filter: drop-shadow(5px 5px 7px #444);"><br><label
                                style="font-size: 10px;font-weight: bold">Nuevo</label> </button>
                        <br>
                        <button (click)="btnEditar()" style="color: #2B4E64; padding: 0px 9px;" class="col button btn"
                            *ngIf="verBtnAnular"><img src="assets/img/editar.ico" width="30%"
                                style="filter: drop-shadow(5px 5px 7px #444);"><br><label
                                style="font-size: 10px;font-weight: bold">Editar</label></button>
                        <br>
                        <button (click)="ValidarGuardar(admision)" style="color: #2B4E64; padding: 0px 9px;"
                            class="col button btn" [disabled]="!disableBtnGuardar"><img src="assets/img/guardar.ico"
                                width="30%" style="filter: drop-shadow(5px 5px 7px #444);"><br><label
                                style="font-size: 10px;font-weight: bold">Guardar</label></button>
                        <br>
                        <button (click)="AnularAdmision(admision)" style="color: #2B4E64; padding: 0px 9px;"
                            class="col button btn" *ngIf="verBtnAnular"><img src="assets/img/ico_anular.ico" style="filter: drop-shadow(5px 5px 7px #444); width: 20px;
                                flex: 0 0 30%; "><br><label
                                style="font-size: 10px;font-weight: bold">Anular</label></button>
                        <br>
                        <button (click)="imprimir()" style="color: #2B4E64; padding: 0px 9px;" class="col button btn"
                            *ngIf="verBtnAnular"><img src="assets/img/imprimir.ico" width="30%"
                                style="filter: drop-shadow(5px 5px 7px #444);"><br><label
                                style="font-size: 10px;font-weight: bold">Imprimir</label></button>
                        <br>
                        <button (click)="MultiPersona(bscPersona)" style="color: #2B4E64; padding: 0px 9px;"
                            class="col button btn"><img src="assets/img/paciente.ico" width="30%"
                                style="filter: drop-shadow(5px 5px 7px #444);"><br><label
                                style="font-size: 10px;font-weight: bold">Paciente</label></button>
                        <br>
                        <button (click)="Correo(admision)" style="color: #2B4E64; padding: 0px 9px;" class="col button btn"><img
                                src="assets/img/correo.ico" style="filter: drop-shadow(5px 5px 7px #444);width: 20px;
                                 flex: 0 0 30%;max-width: 20px;"><br><label
                                style="font-size: 10px;font-weight: bold">Correo</label></button>
                        <br>
                        <button (click)="corePago(admision)" style="color: #2B4E64; padding: 0px 9px;" class="col button btn"><img
                            src="assets/img/carr.png" style="filter: drop-shadow(5px 5px 7px #444);width: 20px;
                             flex: 0 0 30%;max-width: 20px;"><br><label
                            style="font-size: 10px;font-weight: bold">Pagar</label></button>
                    <br>
                    </div>
                </nb-card> 
            </div> 
        </div>
 
    <nb-card-body style="background-color: transparent; margin-top: 0px;">
        <div class="row">
            <nb-card class="col-sm-12 fondocard2 bordercard">
                <p-divider align="left">
                    <div class="p-d-inline-flex p-ai-center">
                        <i class="pi pi-bars p-mr-2"></i>
                        <b>&nbsp;Paciente</b>
                    </div>
                </p-divider>
                <div class=" row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="inputLastName" class="label">Paciente</label>
                            <div class="p-inputgroup">
                                <input pInputText type="text" (keydown)="validarTeclaEnterPaciente($event)"
                                    class="hoverDisabled  size-large  col-4 status-basic shape-rectangle nb-transition"
                                    style="width:70%; background-color: rgb(247, 247, 208); height: 30px;"
                                    [(ngModel)]="filtro.Documento" [disabled]="editarCampoDocumento" />
                                <input pInputText type="text" disabled
                                    class="hoverDisabled  size-medium col-8 status-basic shape-rectangle nb-transition"
                                    style="width:130%; background-color: rgb(247, 247, 208); height: 30px;"
                                    [(ngModel)]="filtro.NombreCompleto" [disabled]="true" />
                                <div class="input-group-append">
                                    <button class="botonbuscar" type="button" id="button-addon2" pButton icon="pi pi-times"
                                        style=" height:30px; margin-left:-32px" (click)="limpiarPersona()"></button>
                                </div>
                                <button (click)="verSelectorPaciente()" pButton icon="fa fa-search" type="button"
                                    title="Buscar Paciente" class="botonbuscar"></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label for="inputLastName" class="label">Sexo</label>
                            <div class="p-inputgroup">
                                <p-dropdown [options]="lstSexo" [(ngModel)]="filtro.Sexo" [disabled]="true"
                                    [style]="{'width':'85%'}"></p-dropdown>
                                <button pButton icon="fas fa-venus-mars" type="button" title="Género"
                                    style="background-color: #ffc72f; border-color:#ffc72f ;"
                                    [disabled]="true"></button>

                            </div>
                        </div>

                    </div>
                    <div class="col-sm-3">
                        <label for="inputLastName" class="label">Fecha Nacimiento / Edad</label>
                        <div class="p-inputgroup">
                            <p-calendar [disabled]="true" [(ngModel)]="filtro.FechaNacimiento"
                                [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}" dateFormat="dd/mm/yy">
                            </p-calendar>&nbsp;
                            <input pInputText type="text"
                                class="hoverDisabled  size-large  col-3 status-basic shape-rectangle nb-transition"
                                style="width:100%; height:30px;" [(ngModel)]="filtro.Edad" [disabled]="true" />
                            <button pButton icon="fas fa-calendar-alt" type="button" title="Datos"
                                style="background-color: #ffc72f; border-color:#ffc72f ;" [disabled]="true"></button>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="inputLastName" class="label">Correo</label>
                            <div class="p-inputgroup">
                                <input pInputText type="email" disabled
                                    class="hoverDisabled size-large status-basic shape-rectangle nb-transition"
                                    style="width:100%; height: 30px;" [(ngModel)]="filtro.CorreoElectronico"
                                    [disabled]="true" />
                                <button pButton icon="fas fa-at" type="button" title="Correo"
                                    style="background-color: #ffc72f; border-color:#ffc72f ;"
                                    [disabled]="true"></button>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <label for="inputLastName" class="label">Comentario Paciente</label>
                        <textarea pInputText type="text" placeholder="" [style]="{'width':'100%'}"
                            class=" input-full-width size-large status-basic shape-round nb-transition "
                            [(ngModel)]="filtro.Comentario" [disabled]="true"></textarea>
                        <br>
                    </div>
                </div>
            </nb-card>

            <nb-card class="col-sm-12 fondocard2 bordercard">
                <p-divider align="left">
                    <div class="p-d-inline-flex p-ai-center">
                        <i class="pi pi-bars p-mr-2"></i>
                        <b>&nbsp;Datos de la Atención</b>
                    </div>
                </p-divider>
                <div class=" row" style="padding: 10px;">
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label for="inputLastName" class="label">N° Petición</label>
                            <input pInputText type="text" disabled [(ngModel)]="filtro.NroPeticion"
                                class="hoverDisabled size-large status-basic shape-rectangle nb-transition"
                                style="width:100%; height: 30px;" [disabled]="editarCamposAutomaticos" />

                            <label for="inputLastName" class="label">Orden Externa</label>
                            <input pInputText type="text" disabled [(ngModel)]="filtro.OrdenSinapa"
                                class="hoverDisabled size-large status-basic shape-rectangle nb-transition"
                                style="width:100%; height: 30px;" [disabled]="editarCamposAutomaticos" />

                            <label for="inputLastName" class="label">N° Cama</label>
                            <input pInputText type="text" disabled [(ngModel)]="filtro.Cama"
                                class="hoverDisabled size-large status-basic shape-rectangle nb-transition"
                                style="width:100%; height: 30px;" [disabled]="editarCampoNroCama" />

                            <label for="inputLastName" class="label">Afecto</label>
                            <input pInputText type="text" disabled [(ngModel)]="filtro.Afecto"
                                    class="hoverDisabled size-large status-basic shape-rectangle nb-transition"
                                    style="width:100%; height: 30px;" [disabled]="editarCamposAutomaticos" />

                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">


                            <label for="inputLastName" class="label">Médico</label>

                            <div class="p-inputgroup">
                                <div class="p-inputgroup">
                                    <input pInputText type="text" (keydown)="validarEnterMedico($event)"
                                        class="hoverDisabled size-large status-basic shape-rectangle nb-transition"
                                        style="width:70%; background-color: rgb(247, 247, 208); height: 30px;"
                                        [(ngModel)]="filtro.CMP" [disabled]="editarCampoMedico" />
                                    &nbsp;
                                    <input pInputText type="text"
                                        class="hoverDisabled  size-medium col-9 status-basic shape-rectangle nb-transition"
                                        style="width:130%; background-color: rgb(247, 247, 208); height: 30px;"
                                        [disabled]="true" [(ngModel)]="filtro.Busqueda" />
                                    <div class="input-group-append">
                                        <button class="btn btn-outline" type="button" id="button-addon2"
                                            style=" height:30px; margin-left:-32px" (click)="limpiarMedico()"
                                            [disabled]="editarCampos">x</button>
                                    </div>
                                </div>

                                <button (click)="verSelectorMedico()" pButton icon="fa fa-search" class="botonbuscar"
                                    type="button" title="Buscar Cliente" [disabled]="editarCampos"></button>
                                <button pButton icon="fa fa-user-plus" class="botonbuscar" type="button"
                                    (click)="crearMedico()" title="Buscar Cliente" [disabled]="editarCampos"></button>
                            </div>

                            <label for="inputLastName" class="label">Aseguradoras</label>

                            <div class="p-inputgroup">
                                <div class="p-inputgroup">
                                    <input pInputText type="text" (keydown)="validarEnterAseguradora($event)"
                                        class="hoverDisabled size-large status-basic shape-rectangle nb-transition"
                                        style="width:70%; background-color: rgb(247, 247, 208); height: 30px;"
                                        [(ngModel)]="filtro.IdAseguradora" [disabled]="editarCampoAseguradora" />
                                    &nbsp;
                                    <input pInputText type="text"
                                        class="hoverDisabled  size-medium col-9 status-basic shape-rectangle nb-transition"
                                        style="width:130%; background-color: rgb(247, 247, 208); height: 30px;"
                                        [(ngModel)]="filtro.NombreEmpresa" [disabled]="true" />
                                    <div class="input-group-append">
                                        <button class="btn btn-outline" type="button" id="button-addon2"
                                            style=" height:30px; margin-left:-32px" (click)="limpiarAseguradora()"
                                            [disabled]="editarCampos">x</button>
                                    </div>
                                </div>

                                <button (click)="verSelectorAseguradora()" pButton icon="fa fa-search"
                                    class="botonbuscar" type="button" title="Buscar Aseguradora"
                                    [disabled]="editarCampos"></button>
                                <button pButton icon="fa fa-user-plus" (click)="crearAseguradora()" class="botonbuscar"
                                    type="button" title="Buscar Aseguradora" [disabled]="editarCampos"></button>
                            </div>

                            <label for="inputLastName" class="label">Empresa</label>
                            <div class="p-inputgroup">
                                <div class="p-inputgroup">
                                    <input pInputText type="text" (keydown)="validarEnterEmpresa($event)"
                                        class="hoverDisabled size-large status-basic shape-rectangle nb-transition"
                                        style="width:70%; height: 30px;" [(ngModel)]="filtro2.DocumentoFiscal"
                                        [disabled]="editarCampoEmpresa" />
                                    &nbsp;
                                    <input pInputText type="text"
                                        class="hoverDisabled  size-medium col-9 status-basic shape-rectangle nb-transition"
                                        style="width:130%; height: 30px;" [(ngModel)]="filtro2.NombreCompleto"
                                        [disabled]="true" />
                                    <div class="input-group-append">
                                        <button class="btn btn-outline" type="button" id="button-addon2"
                                            style=" height:30px; margin-left:-32px" (click)="limpiarEmpresa()"
                                            [disabled]="editarCampos">x</button>
                                    </div>
                                </div>

                                <button (click)="verSelectorEmpresa()" pButton icon="fa fa-search" class="botonbuscar"
                                    type="button" title="Buscar Empresa" [disabled]="editarCampos"></button>
                                <button pButton icon="fa fa-user-plus" class="botonbuscar" type="button"
                                    (click)="crearEmpresa()" title="Nueva Empresa" [disabled]="editarCampos"></button>
                            </div>
                            <label for="inputLastName" class="label">IGV</label>
                            <input pInputText type="text" disabled [(ngModel)]="filtro.Igv"
                                    class="hoverDisabled size-large status-basic shape-rectangle nb-transition"
                                    style="width:100%; height: 30px;" [disabled]="editarCamposAutomaticos" />
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">

                            <label for="inputLastName" class="label">Servicio</label>
                            <p-dropdown [options]="lstServicio" [disabled]="editarCampoSevicio"
                                [style]="{'background-color':'rgb(247, 247, 208)'}" [filter]="true"
                                (onChange)="selectedItemServicio($event)" [(ngModel)]="filtro.ClasificadorMovimiento">
                            </p-dropdown>

                            <label for="inputLastName" class="label">Procedencia</label>
                            <p-dropdown [options]="lstprocedencia" [(ngModel)]="filtro.IdEspecialidad" [filter]="true"
                                [disabled]="editarCampos" [style]="{'background-color':'rgb(247, 247, 208)'}">
                            </p-dropdown>

                            <label for="inputLastName" class="label">Sede Empresa</label>
                            <p-dropdown [(ngModel)]="filtro.IdSedeEmpresa" [options]="lstSedeEmpresa" [filter]="true"
                                [disabled]="editarCampos">
                            </p-dropdown>

                            <label for="inputLastName" class="label">Total</label>
                            <input pInputText type="text" disabled [(ngModel)]="filtro.Total"
                                    class="hoverDisabled size-large status-basic shape-rectangle nb-transition"
                                    style="width:100%; height: 30px;" [disabled]="editarCamposAutomaticos" />

                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">


                            <label for="inputLastName" class="label">Tipo Orden</label>
                            <p-dropdown placeholder="Seleccione " [style]="{'background-color':'rgb(247, 247, 208)'}"
                                [disabled]="editarCampos" [options]="lstTipoOrden" [(ngModel)]="filtro.TipoOrden"
                                [filter]="true">
                            </p-dropdown>

                            <label for="inputLastName" class="label">Tipo Atención</label>
                            <p-dropdown [options]="lstTipoAtencion" [(ngModel)]="filtro.TipoAtencion"
                                (onChange)="selectedItemTipoAtencion($event)" [disabled]="editarCampos" [filter]="true">
                            </p-dropdown>


                            <label for="inputLastName" class="label">Tipo Paciente</label>

                            <p-dropdown [disabled]="editarCampos" [options]="lstTipoOperacion" [filter]="true"
                                [style]="{'background-color':'rgb(247, 247, 208)'}" [(ngModel)]="filtro.TipoOperacionID"
                                (onChange)="selectedItemTipoPaciente($event)">
                            </p-dropdown>

                            <label for="inputLastName" class="label">Saldo</label>
                            <input pInputText type="text" disabled [(ngModel)]="filtro.Saldo"
                                    class="hoverDisabled size-large status-basic shape-rectangle nb-transition"
                                    style="width:100%; height: 30px;" [disabled]="editarCamposAutomaticos" />

                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="inputLastName" class="label">Comentario Atención</label>
                            <textarea pInputText type="text" placeholder="Ingrese comentario de la atención"
                                [style]="{'width':'100%'}"
                                class=" input-full-width size-large status-basic shape-round nb-transition "></textarea>

                        </div>
                    </div>


                </div>
            </nb-card>

            <nb-card class="col-sm-12 fondocard2 bordercard">
                <p-divider align="left">
                    <div class="p-d-inline-flex p-ai-center">
                        <i class="pi pi-bars p-mr-2"></i>
                        <b>&nbsp;Detalle de Pruebas</b>
                    </div>
                </p-divider>
                <div class=" row" style="padding: 10px;">
                    <div class="col-sm-2">
                        <div class="form-group">
                            <div class="p-inputgroup">
                                <span class="p-float-label">
                                    <input pInputText type="text" id="codigoComponente"
                                        class=" size-large status-basic shape-rectangle nb-transition"
                                        style="width:100%" [(ngModel)]="filtro.CodigoComponente"
                                        (keydown)="validarTeclaEnterExamen($event)" [disabled]="editarCampos" />
                                    <!-- (keypress)="esCodigoExamenValido($event)"  -->
                                    <label for="codigoComponente" class="label">Código Prueba</label>
                                </span>
                                <!-- <input pInputText type="text" (keydown)="validarTeclaEnterExamen($event)"
                                    class=" size-large status-basic shape-rectangle nb-transition" style="width:100%"
                                    placeholder="Código de la prueba" [(ngModel)]="filtro.CodigoComponente"
                                    [disabled]="editarCampos" /> -->
                                <button (click)="verSelectorExamen()" pButton icon="fa fa-search" type="button"
                                    title="Buscar Prueba" class="botonbuscar" [disabled]="editarCampos"> </button>

                            </div>

                        </div>
                    </div>
                    <div class="col-sm-6">

                        <button pButton icon="fa fa-minus-circle" type="button" title="Anular Prueba"
                            class="botonbuscar" (click)="AnularDetallePrueba()"
                            [disabled]="!registroSeleccionado || !registroSeleccionado.length"></button>


                        <button pButton icon="fa fa-trash-alt" type="button" title="Quitar Prueba"
                            (click)="ValidarQuitarDetallePrueba()"
                            [disabled]="!registroSeleccionado || !registroSeleccionado.length"
                            class="botonbuscar"></button>

                    </div>

                    <div class="col-sm-12">
                        <div class="col">
                            <p-table #dt [value]="lstListarXAdmision" [rows]="contarExamenes" [paginator]="true"
                                [rowHover]="true" [responsive]="true" [sortOrder]="1"
                    
                                currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
                                [showCurrentPageReport]="true" selectionMode="single"
                                [(selection)]="registroSeleccionado" [loading]="loading" [scrollable]="true"
                                scrollHeight="200px" [style]="{width:'100%'}" [rowsPerPageOptions]="[15,30,50]"
                                [totalRecords]="cantidad">
                                <ng-template pTemplate="colgroup">
                                    <colgroup>
                                        <col style="width:50px">
                                    </colgroup>
                                </ng-template>
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th style="width: 2.25em">
                                            <p-tableHeaderCheckbox [disabled]="editarCampos"></p-tableHeaderCheckbox>
                                        </th>
                                        <th style="width: 5rem;" class="label" pSortableColumn="numeroXadmision">N°
                                            <p-sortIcon field="numeroXadmision"></p-sortIcon>
                                        </th>

                                        <th style="width: 8rem;" class="label" pSortableColumn="CodigoComponente">Código
                                            <p-sortIcon field="CodigoComponente"></p-sortIcon>
                                        </th>
                                        <th style="width: 12rem;" class="label" pSortableColumn="Descripcion">Prueba /
                                            Examen<p-sortIcon field="Descripcion">
                                            </p-sortIcon>
                                        </th>
                                        <th style="width: 8rem;" class="label" pSortableColumn="Cantidad">Cantidad
                                            <p-sortIcon field="Cantidad"></p-sortIcon>
                                        </th>
                                        <th style="width: 8rem;" class="label" pSortableColumn="Valor">Valor 
                                            <p-sortIcon field="Valor">
                                            </p-sortIcon>
                                        </th>
                                        <th style="width: 8rem;" class="label" pSortableColumn="ValorEmpresa">Total
                                            <p-sortIcon field="ValorEmpresa">
                                            </p-sortIcon>
                                        </th>  
                                        <!-- <th style="width: 8rem;" class="label" pSortableColumn="ValorEmpresa">Total
                                            <p-sortIcon field="ValorEmpresa">
                                            </p-sortIcon>
                                        </th> -->
                                        <th style="width: 8rem;" class="label" pSortableColumn="Estado">Estado
                                            <p-sortIcon field="Estado">
                                            </p-sortIcon>
                                        </th>
                                        <th style="width: 5rem;" class="label" pSortableColumn="Sexo">Sexo
                                            <p-sortIcon field="Sexo">
                                            </p-sortIcon>
                                        </th>

                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-rowData>

                                    <tr>
                                        <td style="width:50px">
                                            <p-tableCheckbox [value]="rowData" [disabled]="editarCampos">
                                            </p-tableCheckbox>
                                        </td>
                                        <td class="tablaColumnaCodigoChico" style="width: 5rem;" ALIGN="center">
                                            {{rowData.numeroXadmision}}
                                        </td>
                                        <td class="tablaColumnaCodigoChico" style="width: 8rem;" ALIGN="center">
                                            {{rowData.CodigoComponente}}
                                        </td>
                                        <td class="tablaColumnaCodigoChico" style="width: 12rem;" ALIGN="center">
                                            {{rowData.Descripcion}}
                                        </td>
                                        <td pEditableColumn class="tablaColumnaCodigoChico" style="width: 8rem;"
                                            ALIGN="center">
                                            <p-cellEditor>
                                                <ng-template pTemplate="input">
                                                    <input pInputText type="number" [disabled]="editarCantidad"
                                                        (keypress)="esCantidad($event)" (blur)="OnBlurMethod()"
                                                        (keydown)="enterCantidad($event)" [(ngModel)]="rowData.Cantidad"
                                                        style="width:100%; height: 30px;" required>
                                                </ng-template>
                                                <ng-template pTemplate="output">
                                                    {{rowData.Cantidad}}
                                                </ng-template>
                                            </p-cellEditor>
                                        </td>
                                        <td class="tablaColumnaCodigoChico" style="width: 8rem;" ALIGN="center">
                                            {{rowData.Valor | currency: 'S/'}}
                                        </td>
                                        <td class="tablaColumnaCodigoChico" style="width: 8rem;" ALIGN="center">
                                            {{rowData.ValorEmpresa | currency: 'S/'}}
                                        </td>
                                        <td class="tablaColumnaCodigoChico" style="width: 8rem;" ALIGN="center">
                                            {{rowData.EstadoAdm}}
                                        </td>
                                        <td class="tablaColumnaCodigoChico" style="width: 5rem;" ALIGN="center">
                                            {{rowData.Sexo}}
                                        </td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="footer">
                                    <tr>
                                        <td colspan="4" class="text-right" rowspan="4">Total con redondeo:</td>
                                        <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{cantidad}}</td>
                                        <td>{{lastYearTotal | currency: 'S/'}}</td>
                                        <td>{{redondeoTotal | currency: 'S/'}}</td>
                                        <td>{{difRedondeo | currency: 'S/'}}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                            <br>
                        </div>
                    </div>

                </div>
            </nb-card>

        </div>
        <div class="row">
            <nb-card class="col-sm-12 fondocard2 bordercard">
                <ngx-auditoria [creacionUsuario]="usuario" [creacionFecha]="fechaCreacion"
                    [modificacionFecha]="fechaModificacion"></ngx-auditoria>
            </nb-card>
        </div>

    </nb-card-body>
</nb-card>
<p-dialog [(visible)]="verReporteModal" [draggable]="false" [baseZIndex]="10000" [resizable]="false" [modal]="true"
    showEffect="fade" hideEffect="size" [breakpoints]="{'950px': '75vw'}" header="Informe Principal"
    [style]="{'width':'900px', minWidth: '200px'}">

    <div style="width: 100%; height: 450px">
        <ng2-pdfjs-viewer #pdfViewerActividades></ng2-pdfjs-viewer>
    </div>

</p-dialog>

<ngx-persona-buscar></ngx-persona-buscar>
<ngx-persona-mantenimiento></ngx-persona-mantenimiento>
<ngx-medico-mantenimiento></ngx-medico-mantenimiento>
<ngx-medico-buscar></ngx-medico-buscar>
<ngx-aseguradora-mantenimiento></ngx-aseguradora-mantenimiento>
<ngx-aseguradora-buscar></ngx-aseguradora-buscar>
<ngx-empresa-buscar></ngx-empresa-buscar>
<ngx-examen-buscar></ngx-examen-buscar>
<ngx-cajapago></ngx-cajapago>