@import '../@theme/styles/themes';

.calendar_size{
  padding-right: 500px;
}
::ng-deep label {
  display: inline-block;
  margin-bottom: 0.3rem;
}
::ng-deep .form-group {
  margin-bottom: 0.4rem;
}

:host ::ng-deep .p-inputgroup input:first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  height: 30px;
}
:host ::ng-deep .p-inputnumber-input {
  flex: 1 1 auto;
  height: 30px;
  text-align: right;
}
:host ::ng-deep .p-calendar .p-inputtext {
  flex: 1 1 auto;
  width: 200px;
  height: 30px;
}

:host ::ng-deep .p-dropdown {
  height: 30px;
}

:host ::ng-deep .p-dropdown-label {
  padding-top: 4px;
}

::ng-deep.border-thread-left{
  border-top-left-radius: 1rem;
}

::ng-deep.border-thread-right{
  border-top-right-radius: 1rem;
}
:host ::ng-deep .nb-theme-default nb-sidebar {
  background-color: #aa2222;

}

::ng-deep.nb-theme-default nb-menu .menu-item > .menu-items > .menu-item {
  background: transparent;
  color: #24d80c;
  width: 230px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

::ng-deep.nb-theme-default h5, .nb-theme-default .h5 {
  font-family: Open Sans, sans-serif;
  font-weight: 700;
  line-height: 2rem;
}

::ng-deep.nb-theme-default [nbInput].status-basic:focus{

  border-color: #e5ebe5;
}


@include nb-install-component() {
  ::ng-deep router-outlet + * {
    display: block;
    animation: fade 1s;

    @keyframes fade {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }
  }
}

:host ::ng-deep .p-datatable .p-datatable-header{
  padding: 0rem 1rem;
  background: transparent;
  border: 0px solid transparent;
}

:host ::ng-deep .p-dialog .p-dialog-header {
  border-bottom: 0 none;
  background: #9cb9d1;
  color: #495057;
  padding: 0.7rem;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
:host ::ng-deep .p-button {

  padding: 0.9rem 1rem;
}

@media screen and (max-width: 960px){
  :host ::ng-deep {
      .p-dialog {
          width: 75vw !important;
}
}
}


:host ::ng-deep .p-fieldset .p-fieldset-content {
  padding: 0rem;
}

:host ::ng-deep .p-fieldset .p-fieldset-legend {
  align-items: center;
  display: flex;
  justify-content: inherit;
  font-size: 12px;
  padding: 0.5rem;
  border: 1px solid #dee2e6;
  color: #495057;
  background: #f8f9fa;
  font-weight: bold;
  border-radius: 3px;
}

:host ::ng-deep .p-confirm-dialog .p-dialog-content {
  align-items: center;
  display: flex;
  padding: 1rem;
}

:host ::ng-deep .p-datatable .p-datatable-thead > tr > th  {
  text-align: left;
  padding: 0.6rem 1rem;
  border: 1px solid #9cb9d1;
  border-width: 0 0 1px 0;
  font-weight: 600;
  color: black;
  background: #9cb9d1 !important;

  transition: box-shadow 0.2s;
}

:host ::ng-deep .p-datatable .p-datatable-thead tr:hover th  {
  background: #9cb9d1;
  color: black;
}



:host ::ng-deep {
.p-dropdown {
  -ms-user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
  display: inline-flex;
  position: relative;
  user-select: none;
  color: #1dd80c;
  width: 100%;
}
}

.tablaBotonActivo {
  color: white;
  background-color: #00a14b;
  border: 1px solid #00a14b;
  width: 60%;
}


.tablaBotonInactivo {
color: white;
background-color: #e91224;
border: 1px solid #e91224;
width: 60%;
}

.th-with{
  display: flex;
  align-items: center;
  width: 100%
}
:host ::ng-deep {
.p-paginator {
    .p-paginator-current {
        margin-left: auto;
    }
}

.p-progressbar {
    height: .5rem;
    background-color: #D8DADC;

    .p-progressbar-value {
        background-color: #607D8B;
    }
}

.table-header {
    display: flex;
    justify-content: space-between;
}

.p-calendar .p-datepicker {
    min-width: 25rem;

    td {
        font-weight: 400;
    }
}

.p-datatable.p-datatable-customers {
    .p-datatable-header {
        padding: 1rem;
        text-align: left;
        font-size: 1.5rem;
    }

    .p-paginator {
        padding: 1rem;
    }

    .p-datatable-thead > tr > th {
        text-align: left;
    }

    .p-datatable-tbody > tr > td {
        cursor: auto;
    }

    .p-dropdown-label:not(.p-placeholder) {
        text-transform: uppercase;
    }
}

/* Responsive */
.p-datatable-customers .p-datatable-tbody > tr > td .p-column-title {
    display: none;
}
}



@media screen and (max-width: 960px) {
:host ::ng-deep {
    .p-datatable {
        &.p-datatable-customers {
            .p-datatable-thead > tr > th,
            .p-datatable-tfoot > tr > td {
                display: none !important;
            }

            .p-datatable-tbody > tr {
                border-bottom: 1px solid var(--layer-2);

                > td {
                    text-align: left;
                    display: block;
                    border: 0 none !important;
                    width: 100% !important;
                    float: left;
                    clear: left;
                    border: 0 none;

                    .p-column-title {
                        padding: .4rem;
                        min-width: 30%;
                        display: inline-block;
                        margin: -.4rem 1rem -.4rem -.4rem;
                        font-weight: bold;
                    }

                    .p-progressbar {
                        margin-top: .5rem;
                    }
                }
            }
        }
    }
}

}



:host ::ng-deep .pi{
  font-size:0.8rem;
}

:host ::ng-deep .p-calendar-w-btn .p-datepicker-trigger {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  height: 30px;
}
:host ::ng-deep .pi-sort-alt:before {
  color: black;
}

:host ::ng-deep .p-button:enabled:hover {
  background: #0d89ec;
  color: #ffffff;
  border-color: #0d89ec;
}
:host ::ng-deep .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
  background: #9cb9d1;
  border-color: #9cb9d1;
  color: #495057;
}

:host ::ng-deep .p-link:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem #9cb9d1;
}

:host ::ng-deep .p-button.p-button-icon-only.p-button-rounded {
  border-radius: 50%;
  height: 1.757rem;
  width: 1.757rem;
}

:host ::ng-deep .p-datatable .p-sortable-column:focus {
  //box-shadow: inset 0 0 0 0.15rem #0f172a;
  box-shadow: inset 0 0 0 0.15rem #F8C31F;
  outline: 0 none;
}

:host ::ng-deep .p-datatable .p-datatable-tbody > tr > td {
  text-align: left;
  border: 1px solid #e9ecef;
  border-width: 0 0 1px 0;
  padding: 0.4rem 1rem;
}
:host ::ng-deep .p-button {
  margin-right: .5rem;
  height: 2px;
}

:host ::ng-deep .p-buttonset {
  .p-button {
      margin-right: 0;
  }
}

:host ::ng-deep .sizes {
  .button {
      margin-bottom: .5rem;
      display: block;

      &:last-child {
          margin-bottom: 0;
      }
  }
}

@media screen and (max-width: 960px) {
  .p-button {
      margin-bottom: .5rem;

      &:not(.p-button-icon-only) {
          display: flex;
          width: 100%;
      }
  }

  .p-buttonset {
      .p-button {
          margin-bottom: 0;
      }
  }
}


