<p-blockUI [blocked]="bloquearPag" [baseZIndex]="10000">
  <img src="assets\img\ZZ5H.gif" style="width: 5%">
</p-blockUI>
<p-confirmDialog #c key="refinanciar" [visible]="visible" [baseZIndex]="10000">
  <p-footer>
    <button pButton type="button" icon="fa fa-check" label="Si, Guardar" class="ui-button-rounded ui-button-danger"
      (click)="c.accept()"></button>
    <button pButton type="button" icon="fa fa-close" label="No, Cancelar" class="ui-button-rounded"
      (click)="c.reject()"></button>
  </p-footer>
</p-confirmDialog>

<p-dialog [(visible)]="dialog" [draggable]="false" [modal]="true" [resizable]="false" [breakpoints]="{'950px': '75vw'}"
  [style]="{width: '1000px'}" [header]="titulo" [position]="position" [maximizable]="true" [baseZIndex]="10000">

    <ng-template pTemplate="content">

        <p-fieldset legend="Información General">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="label">Código</label>
                        <input pInputText type="text"
                            [style]="{'width':'100%','background-color': 'rgb(247, 247, 208)'}" [disabled]="puedeEditar"
                             [(ngModel)]="dto.Codigo"
                            maxlength="4" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="label">Descripcion</label>
                        <input pInputText type="text"
                            [style]="{'width':'100%','background-color': 'rgb(247, 247, 208)'}" [disabled]="puedeEditar"
                            [(ngModel)]="dto.Descripcion" maxlength="60" />
                    </div>
                </div>
                
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="label">Fecha de Inicio</label>
                                <p-calendar [monthNavigator]="true" [(ngModel)]="dto.FechaValidezInicio"
                                    [yearNavigator]="true" [maxDate]="maxDate"
                                    [style]="{'width':'100%'}"
                                    [inputStyle]="{'background-color':'rgb(247, 247, 208)', 'width':'80%'}"
                                    yearRange="1901:2200" [locale]="es" [showIcon]="true" dateFormat="dd/mm/yy"  [disabled]="puedeEditar">
                                </p-calendar>
                    </div>
                </div>   
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="label">Fecha Fin</label>
                                <p-calendar [monthNavigator]="true" [(ngModel)]="dto.FechaValidezFin"
                                    [yearNavigator]="true" [maxDate]="maxDate"
                                    [style]="{'width':'100%'}"
                                    [inputStyle]="{'background-color':'rgb(247, 247, 208)', 'width':'80%'}"
                                    yearRange="1901:2200" [locale]="es" [showIcon]="true" dateFormat="dd/mm/yy"  [disabled]="puedeEditar">
                                </p-calendar>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <label for="inputLastName" class="label">Moneda</label>
                    <div class="form-group">                     
                        <p-dropdown placeholder="Seleccione" [options]="lstMoneda" [disabled]="puedeEditar" [(ngModel)]="dto.Moneda">
                        </p-dropdown>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="label">Estado</label>
                        <p-dropdown [options]="lstEstados" [(ngModel)]="dto.Estado" [disabled]="puedeEditar"
                           [style]="{'width':'100%','background-color': 'rgb(247, 247, 208)'}">
                        </p-dropdown>
                    </div>
                </div>
            </div>
        
        </p-fieldset>
        <br>
        <p-fieldset legend="Auditoria">
            <ngx-auditoria [creacionUsuario]="usuario" [creacionFecha]="fechaCreacion"
                [modificacionFecha]="fechaModificacion"></ngx-auditoria>
        </p-fieldset>
    </ng-template>
    <ng-template pTemplate="footer">
        <p-button label="Guardar" icon="pi pi-save" styleClass="p-button-primary" [disabled]="puedeEditar" type="submit"
            (click)="coreGuardar()"></p-button>
    </ng-template>
</p-dialog>
<p-toast></p-toast>
<p-toast [showTransformOptions]="'translateY(90%)'" [baseZIndex]="10000" key="notification"
  position="top-right"></p-toast>