
    <p-blockUI [blocked]="bloquearPag">
        <img src="assets\img\ZZ5H.gif" style="width: 5%">
    </p-blockUI>
    <nb-card style="background-color: transparent;" accent="warning" class="col-sm-12">
        <nb-card-header>
            <div class="row">
                <div class="col-sm-2">
                    <br>
                    <h4 class="titulonuevo">&nbsp; &nbsp;Aseguradora</h4>
                </div>
                <div class="col-sm-7" style="background-color: transparent;">
                </div>
                <div class="col-sm-3" style="background-color: transparent;" aria-orientation="horizontal">
                    <div>

                        <nb-card class="col-sm-12 fondocard" style="padding: 2px; margin-bottom: -10px; margin-top: 5px;">
                            <div class="row" aria-orientation="horizontal">
                                <br>
                                <button (click)="coreBuscar()" style="color: #2B4E64; padding: 0px;"
                                    class="col button btn"><img src="assets/img/Busc_mante.ico" style="filter: drop-shadow(5px 5px 7px #444); width: 30%;
                                flex: 0 0 30%;max-width: 30%;"><br><label
                                        style="font-size: 10px;font-weight: bold">Buscar</label></button>
                                <br>
                                <button (click)="coreNuevo()" style="color: #2B4E64; padding: 0px;"
                                    class="col button btn"><img src="assets/img/nuevo1.ico" style="filter: drop-shadow(5px 5px 7px #444); width: 30%;
                                flex: 0 0 30%;max-width: 30%;"><br><label
                                        style="font-size: 10px;font-weight: bold">Nuevo</label>
                                </button>
                                <br>
                                <button (click)="enDesarrollo()" style="color: #2B4E64; padding: 0px;"
                                    class="col button btn"><img src="assets/img/COPIAR.png" style="filter: drop-shadow(5px 5px 7px #444); width: 30%;
                                        flex: 0 0 30%;max-width: 30%;"><br><label
                                        style="font-size: 10px;font-weight: bold">Copiar</label></button>
                            </div>
                        </nb-card>
                    </div>

                </div>
            </div>
        </nb-card-header>
        <nb-card-body>
            <p-fieldset legend="Información Consulta" style="background-color: transparent;">
                <div class="row" style="padding: 10px;">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="inputLastName" class="label">Aseguradora</label>
                            <div class="p-inputgroup">
                                <input pInputText type="text" placeholder="" [(ngModel)]="filtro.NombreEmpresa"
                                    [style]="{'width':'100%'}" (keydown)="validarTeclaEnter($event)" />
                                <button pButton icon="fas fa-user-shield" type="button" title="Aseguradora"
                                    style="background-color: #ffc72f; border-color:#ffc72f ;" disabled="true"></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <label for="inputLastName" class="label">Estado</label>
                        <p-dropdown [options]="lstEstado" [(ngModel)]="filtro.Estado" [filter]="true"></p-dropdown>
                    </div>
                </div>
            </p-fieldset>
            <br>
            <p-fieldset legend="Detalle">
                <div class="col">      
                 <p-table #dt [rows]="15" [paginator]="true" [rowHover]="true" dataKey="num" [value]="lstPacienteClinica"
                        [responsive]="true" [sortOrder]="1" sortField="numeroaseguradora"
                        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
                        [rowsPerPageOptions]="[15,30,50]" [showCurrentPageReport]="true" [scrollable]="true" scrollHeight="300px">
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width: 10rem;" class="label">Acción</th>
                                <th style="width: 5rem;" class="label" pSortableColumn="numeroaseguradora">Nro<p-sortIcon
                                        field="numeroaseguradora">
                                    </p-sortIcon>
                                </th>
                                <th style="width: 20rem;" class="label" pSortableColumn="NombreEmpresa">Aseguradora
                                    <p-sortIcon field="NombreEmpresa"> </p-sortIcon>
                                </th>
                                <!-- <th style="width: 20rem;" pSortableColumn="Clasificacion_1">Observación<p-sortIcon
                                        field="Clasificacion_1"> </p-sortIcon>
                                </th> -->
                                <th style="width: 20rem;" class="label" pSortableColumn="DscTipo">Tipo Aseguradora
                                    <p-sortIcon field="DscTipo"> </p-sortIcon>
                                </th>
                                <th style="width: 10rem;" class="label" pSortableColumn="tipousuario">Estado<p-sortIcon
                                        field="tipousuario"> </p-sortIcon>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                            <tr>
                                <td style="width: 10rem" class="tablaColumnaAccion3">
                                    <span class="p-column-title">Acción</span>
                                    <table>
                                        <tr>
                                            <th>
                                                <button pButton pRipple type="button" icon="fad fa-pencil-alt"
                                                    class="p-button-rounded p-button-text" title="Editar"
                                                    (click)="editProduct(rowData)"></button>
                                            </th>
                                            <th>
                                                <button pButton pRipple type="button" icon="fad fa-search"
                                                    class="p-button-rounded p-button-text" title="Ver"
                                                    (click)="verProduct(rowData)"></button>
                                            </th>
                                            <th>
                                                <button pButton pRipple type="button" icon="fal fa-trash-alt"
                                                    class="p-button-rounded p-button-text" title="Inactivar"
                                                    (click)="invactivarProduct(rowData)"></button>
                                            </th>
                                        </tr>
                                    </table>
                                </td>
                                <td style="width: 5rem;" class="tablaColumnaCodigoChico" ALIGN="center">
                                    <span class="p-column-title">Nro</span>
                                    <!-- {{rowData.IdAseguradora}} -->
                                    {{rowData.numeroaseguradora}}
                                </td>

                                <td style="width: 20rem;" class="tablaColumnaCodigoChico" ALIGN="center">
                                    <span class="p-column-title">Aseguradora</span>
                                    {{rowData.NombreEmpresa}}
                                </td>

                                <!-- <td style="width: 20rem;" ALIGN="center">
                                    <span class="p-column-title">Observación</span>
                                    {{rowData.Clasificacion_1}}
                                </td> -->
                                <td style="width: 20rem;" class="tablaColumnaCodigoChico" ALIGN="center">
                                    <span class="p-column-title">Tipo Aseguradora</span>
                                    {{rowData.DscTipo}}
                                </td>
                                <td style="width: 10rem;" ALIGN="center">
                                    <span class="p-column-title">Estado</span>
                                    <label class="tablaEstadoActivo">{{rowData.ESTADOdesc}}</label>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </p-fieldset>
        </nb-card-body>
    </nb-card>
    <ngx-aseguradora-mantenimiento></ngx-aseguradora-mantenimiento>
    <p-toast key="bc" [baseZIndex]="3000"></p-toast>