<p-dialog [(visible)]="verReporteModal" [draggable]="false" [modal]="true" [resizable]="false"
    [breakpoints]="{'950px': '75vw'}" [style]="{width: '850px'}" [position]="position" [header]="acciones"
    [maximizable]="true" [baseZIndex]="10000">

    <ng-template pTemplate="content">
        <!-- <object data="" 
        type="application/pdf" 
        width="100%" 
        height="592px"></object> -->

        <!-- <object type="application/pdf" width="100%" height="592px" 
             [data]="viewReporte">
            </object> -->
        <!-- <iframe id="inlineFrameExample" title="Inline Frame Example" width="300" height="200" [src]="viewReporte">
        </iframe> -->

        <!-- <ng-pdf template-url="viewReporte"></ng-pdf> -->

        <!-- <p-tabView [activeIndex]="index" >
            <p-tabPanel header="" leftIcon="fas fa-file-contract" >
              
                
            </p-tabPanel>


        </p-tabView> -->

        <!-- <div style="width: 800px; height: 400px">
            <ng2-pdfjs-viewer #pdfViewerContrato></ng2-pdfjs-viewer>
        </div> -->

           

    </ng-template>

    <div style="width: 100%; height: 400px">
        <ng2-pdfjs-viewer #pdfViewerContrato [zoom]="90"></ng2-pdfjs-viewer>
    </div>    


</p-dialog>
<p-toast></p-toast>