<p-dialog [(visible)]="dialog" [draggable]="false" [modal]="true" [resizable]="false" [breakpoints]="{'950px': '75vw'}"
    [style]="{width: '850px'}" [header]="titulo" [position]="position" [maximizable]="true" [baseZIndex]="10000">

    <ng-template pTemplate="content">
        <br>
        <p-fieldset legend="Información General">
            <div class="row">
                <div class="col-sm-4">
                    <div class="p-grid ui-fluid" style="margin-top: 10px;">
                        <div class="p-field p-col-12">
                            <label for="inputLastName" class="label">Código Tabla</label>
                            <input pInputText type="text" placeholder="" [style]="{'width':'100%'}" [(ngModel)]="dto.CodigoTabla" [disabled]="puedeEditar" />
                            <label for="inputLastName" class="label">Nombre</label>
                            <input pInputText type="text" placeholder="" [style]="{'width':'100%'}" [(ngModel)]="dto.Nombre" [disabled]="puedeEditar" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="inputLastName" class="label">Descripción</label>
                        <input pInputText type="text" placeholder="" [style]="{'width':'100%'}" [(ngModel)]="dto.Descripcion" [disabled]="puedeEditar"  />
                        <label for="inputLastName" class="label">Versión</label>
                        <input pInputText type="text" placeholder="" [style]="{'width':'100%'}" [(ngModel)]="dto.Version" [disabled]="puedeEditar" />
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="p-grid ui-fluid" style="margin-top: 10px;">
                        <div class="p-field p-col-12">
                            <label for="inputLastName" class="label">Estado</label>
                            <p-dropdown placeholder="Seleccione" [options]="lstEstados" [disabled]="puedeEditar" [(ngModel)]="dto.Estado"></p-dropdown>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </p-fieldset>
        <br>
        <p-fieldset legend="Auditoria">
            <!-- <ngx-auditoria  ></ngx-auditoria> -->
            <ngx-auditoria [creacionUsuario]="usuario" [creacionFecha]="fechaCreacion"
            [modificacionFecha]="fechaModificacion"></ngx-auditoria>
        </p-fieldset>
    </ng-template>
    <ng-template pTemplate="footer">
        <p-button label="Guardar" icon="pi pi-save" styleClass="p-button-primary" [disabled]="puedeEditar" type="submit"
            (click)="coreGuardar()"></p-button>
    </ng-template>
</p-dialog>
<p-toast [showTransformOptions]="'translateY(90%)'" [baseZIndex]="10000" key="notification" position="top-right"></p-toast>
<p-blockUI [blocked]="bloquearPag" [baseZIndex]="10000">
    <img src="assets\img\ZZ5H.gif" style="width: 5%">
</p-blockUI>