
<p-dialog [(visible)]="dialog" [draggable]="false" [modal]="true" [resizable]="false" [breakpoints]="{'950px': '75vw'}"
[style]="{width: '600px'}" header="Recuperar contraseña" [position]="position"  [baseZIndex]="10000">
<nb-card>

    <nb-card-body>
        
        <p class="sub-title">Ingrese su dirección de correo electrónico y le enviaremos un vínculo para restablecer su contraseña.</p>


        <form aria-labelledby="title" [formGroup]="recuperarForm" (ngSubmit)="recuperarClave()">

            <div class="form-control-group" style="margin-bottom: 1rem;">
                <label class="label" for="input-email">Ingrese su dirección de correo electrónico:</label>
                <input formControlName="correo" nbInput pattern=".+@.+\..+" placeholder="Correo electrónico." fullWidth fieldSize="medium">
                <div *ngIf="correoField.touched">
                    <p class="caption status-danger"   *ngIf="correoField.hasError('required')">
                      Este campo es requerido.
                    </p>
                    <p class="caption status-danger"   *ngIf="correoField.hasError('email')">
                        Este campo debe ser un email valido.
                      </p>
            </div>
        </div>
            <button nbButton fullWidth status="primary" size="medium" type="submit" style="background-color:#105a85;">
                Solicitar contraseña
            </button>
        </form>

    </nb-card-body>

</nb-card>
</p-dialog>
