<p-dialog [(visible)]="dialog" [draggable]="false" [modal]="true" [resizable]="false" [breakpoints]="{'1050px': '75vw'}"
    [style]="{'width': '1050px'}" header="{{acciones | titlecase}}" [position]="position" [maximizable]="true">

    <ng-template pTemplate="content">
        <br>
        <p-tabView>
            <p-tabPanel header="Corte Masivo">
                <nb-card class="col-sm-12 fondocard2 bordercard p-3">
                    <p-divider align="left">
                        <div class="p-d-inline-flex p-ai-center">
                            <i class="pi pi-bars p-mr-2"></i>
                            <b>&nbsp;Datos</b>
                        </div>
                    </p-divider>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="inputLastName" class="label">Periodo</label>
                                <input pInputText type="text" id="documentoFiscal" name="documentoFiscal"
                                    class="size-large status-basic shape-rectangle nb-transition"
                                    [disabled]="editarCampos" [style]="{'width':'100%'}"
                                    [(ngModel)]="produccionForm.Periodo" />
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <label for="inputLastName" class="label">Fecha Inicial</label>
                            <p-calendar [monthNavigator]="true" [yearNavigator]="true" [style]="{'width':'100%'}"
                                appendTo="body" [disabled]="editarCampos" [inputStyle]="{ 'width':'80%'}"
                                yearRange="1901:2200" [locale]="es" [showIcon]="true" dateFormat="dd/mm/yy"
                                [yearNavigator]="true" (onClose)="selectedItemFechaNacimiento(dto.FechaNacimiento)"
                                [(ngModel)]="produccionForm.fechaInicial">
                            </p-calendar>

                        </div>

                        <div class="col-sm-4">
                            <label for="inputLastName" class="label">Fecha Final</label>
                            <p-calendar [monthNavigator]="true" [yearNavigator]="true" [style]="{'width':'100%'}"
                                appendTo="body" [disabled]="editarCampos" [inputStyle]="{ 'width':'80%'}"
                                yearRange="1901:2200" [locale]="es" [showIcon]="true" dateFormat="dd/mm/yy"
                                [yearNavigator]="true" (onClose)="selectedItemFechaNacimiento(dto.FechaNacimiento)"
                                [(ngModel)]="produccionForm.fechaFinal">
                            </p-calendar>

                        </div>
                    </div>
                </nb-card>


            </p-tabPanel>
            <p-tabPanel header="Corte por cliente">

                <nb-card class="col-sm-12 fondocard2 bordercard p-3">
                    <p-divider align="left">
                        <div class="p-d-inline-flex p-ai-center">
                            <i class="pi pi-bars p-mr-2"></i>
                            <b>&nbsp;Datos</b>
                        </div>
                    </p-divider>
                    <div class="row">

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="inputLastName" class="label">Tipo Admisión</label>
                                <p-dropdown placeholder="Seleccione" [options]="lstAdmision" appendTo="body"
                                    [disabled]="puedeEditar" [(ngModel)]="produccionForm.tipoAdmision">
                                </p-dropdown>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="inputLastName" class="label">Clasificador de Negocio</label>
                                <p-dropdown placeholder="Seleccione" [options]="lstClasificadorNegocio"
                                    [disabled]="puedeEditar" appendTo="body"
                                    [(ngModel)]="produccionForm.UnidadNegocio">
                                </p-dropdown>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <label for="documentoFiscal" class="label">Cliente</label>
                            <div class="p-inputgroup">
                                <div class="p-inputgroup">
                                    <input pInputText type="text" id="documentoFiscal" name="documentoFiscal"
                                        class="hoverDisabled size-large status-basic shape-rectangle nb-transition"
                                        [disabled]="true" style="width:70%; height: 30px;"
                                        [(ngModel)]="produccionForm.documentoCliente"
                                        (keydown)="keydownBuscar($event)" />
                                    &nbsp;
                                    <input pInputText type="text"
                                        class="hoverDisabled  size-medium col-9 status-basic shape-rectangle nb-transition"
                                        style="width:130%; height: 30px;" [disabled]="true"
                                        [(ngModel)]="produccionForm.nombreSCliente" />
                                    <div class="input-group-append">
                                        <button pButton icon="fa fa-times" type="button" title="Limpiar Cliente"
                                            class="p-button-secondary" style="margin-bottom: 5px;"
                                            (click)="coreLimpiar()"
                                            style=" height:30px; margin-left: 3px; margin-right: 2px;"></button>
                                        <button pButton icon="fa fa-search" class="botonbuscar" type="button"
                                            (click)="verSelectorEmpresa()" title="Buscar Cliente"></button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="inputLastName" class="label">Periodo</label>
                                <input pInputText type="text" placeholder="" [style]="{'width':'100%'}"
                                    [(ngModel)]="produccionForm.Periodo" />
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="inputLastName" class="label">Fecha Inicial</label>
                                <p-calendar [monthNavigator]="true" [yearNavigator]="true" [style]="{'width':'100%'}"
                                    appendTo="body" [disabled]="editarCampos" [inputStyle]="{ 'width':'80%'}"
                                    yearRange="1901:2200" [locale]="es" [showIcon]="true" dateFormat="dd/mm/yy"
                                    [yearNavigator]="true" (onClose)="selectedItemFechaNacimiento(dto.FechaNacimiento)"
                                    [(ngModel)]="produccionForm.fechaInicial">
                                </p-calendar>


                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="inputLastName" class="label">Fecha Final</label>
                                <p-calendar [monthNavigator]="true" [yearNavigator]="true" [style]="{'width':'100%'}"
                                    appendTo="body" [disabled]="editarCampos" [inputStyle]="{ 'width':'80%'}"
                                    yearRange="1901:2200" [locale]="es" [showIcon]="true" dateFormat="dd/mm/yy"
                                    [yearNavigator]="true" (onClose)="selectedItemFechaNacimiento(dto.FechaNacimiento)"
                                    [(ngModel)]="produccionForm.fechaFinal">
                                </p-calendar>
                            </div>
                        </div>




                    </div>
                </nb-card>

                <!-- <div class="row">
                    <nb-card class="col-sm-12 fondocard2 bordercard">
                        <ngx-auditoria [creacionUsuario]="usuario" [creacionFecha]="fechaCreacion"
                            [modificacionFecha]="fechaModificacion"></ngx-auditoria>
                    </nb-card>
                </div> -->

            </p-tabPanel>

            <p-tabPanel header="Corte al Detalle">
                <nb-card class="col-sm-12 fondocard2 bordercard p-3">
                    <p-divider align="left">
                        <div class="p-d-inline-flex p-ai-center">
                            <i class="pi pi-bars p-mr-2"></i>
                            <b>&nbsp;Datos</b>
                        </div>
                    </p-divider>
                    <div class="row">

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="inputLastName" class="label">Tipo Admisión</label>
                                <p-dropdown placeholder="Seleccione" [options]="lstAdmision" appendTo="body"
                                    [disabled]="puedeEditar" [(ngModel)]="produccionForm.TipoAdmisionId">
                                </p-dropdown>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <label for="documentoFiscal" class="label">Cliente</label>

                            <div class="p-inputgroup">
                                <input pInputText type="text" id="documentoFiscal" name="documentoFiscal"
                                    class="hoverDisabled size-large status-basic shape-rectangle nb-transition"
                                    [disabled]="true" style="width:70%; height: 30px;"
                                    [(ngModel)]="produccionForm.documentoCliente" (keydown)="keydownBuscar($event)" />
                                &nbsp;
                                <input pInputText type="text"
                                    class="hoverDisabled  size-medium col-9 status-basic shape-rectangle nb-transition"
                                    style="width:130%; height: 30px;" [disabled]="true"
                                    [(ngModel)]="produccionForm.nombreSCliente" />
                                <div class="input-group-append">
                                    <button pButton icon="fa fa-times" type="button" title="Limpiar Cliente"
                                        class="p-button-secondary" style="margin-bottom: 5px;" (click)="coreLimpiar()"
                                        style=" height:30px; margin-left: 3px; margin-right: 2px;"></button>
                                    <button pButton icon="fa fa-search" class="botonbuscar" type="button"
                                        (click)="verSelectorEmpresa()" title="Buscar Cliente"></button>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="inputLastName" class="label">Clasificador de Negocio</label>
                                <p-dropdown placeholder="Seleccione" [options]="lstClasificadorNegocio" appendTo="body"
                                    [disabled]="puedeEditar" [(ngModel)]="produccionForm.UnidadNegocio">
                                </p-dropdown>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="inputLastName" class="label">Tipo Paciente</label>
                                <p-dropdown placeholder="Seleccione" [options]="lstTipoPaciente" appendTo="body"
                                    [disabled]="puedeEditar" [(ngModel)]="produccionForm.tipoPaciente" [filter]="true">
                                </p-dropdown>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="inputLastName" class="label">Sede</label>
                                <p-dropdown placeholder="Seleccione" [options]="lstSede" appendTo="body"
                                    [disabled]="puedeEditar" [(ngModel)]="produccionForm.sede" [filter]="true">
                                </p-dropdown>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="inputLastName" class="label">Tipo de Atención</label>
                                <p-dropdown placeholder="Seleccione" [options]="lstTipoAtencion" appendTo="body"
                                    [disabled]="puedeEditar" [(ngModel)]="produccionForm.tipoAtencion">
                                </p-dropdown>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="inputLastName" class="label">Paciente</label>
                                <div class="p-inputgroup">
                                    <div class="p-inputgroup">
                                        <input pInputText type="text" id="documentoFiscal" name="documentoFiscal"
                                            class="hoverDisabled size-large status-basic shape-rectangle nb-transition"
                                            [disabled]="true" style="width:70%; height: 30px;"
                                            [(ngModel)]="produccionForm.documentoPaciente" />
                                        &nbsp;
                                        <input pInputText type="text"
                                            class="hoverDisabled  size-medium col-9 status-basic shape-rectangle nb-transition"
                                            style="width:130%; height: 30px;" [disabled]="true"
                                            [(ngModel)]="produccionForm.nombreSPaciente" />
                                        <div class="input-group-append">
                                            <button pButton icon="fa fa-times" type="button" title="Limpiar Cliente"
                                                class="p-button-secondary" style="margin-bottom: 5px;"
                                                (click)="coreLimpiarPaciente()"
                                                style=" height:30px; margin-left: 3px; margin-right: 2px;"></button>
                                            <button pButton icon="fa fa-search" class="botonbuscar" type="button"
                                                (click)="verSelectorPaciente()" title="Buscar Cliente"></button>
                                        </div>
                                    </div>
                                </div>

                                <!-- <input pInputText type="text" placeholder="" [style]="{'width':'100%'}"
                                    [(ngModel)]="produccionForm.paciente" /> -->
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="inputLastName" class="label">Aseguradoras</label>
                                <div class="p-inputgroup">
                                    <div class="p-inputgroup">
                                        <input pInputText type="text"
                                            class="hoverDisabled  size-medium col-9 status-basic shape-rectangle nb-transition"
                                            style="width:130%; height: 30px;" [disabled]="true"
                                            [(ngModel)]="produccionForm.nombreSAseguradora" />
                                        <div class="input-group-append">
                                            <button pButton icon="fa fa-times" type="button" title="Limpiar Cliente"
                                                class="p-button-secondary" style="margin-bottom: 5px;"
                                                (click)="coreLimpiarAseguradora()"
                                                style=" height:30px; margin-left: 3px; margin-right: 2px;"></button>
                                            <button pButton icon="fa fa-search" class="botonbuscar" type="button"
                                                (click)="verSelectorAseguradora()" title="Buscar Cliente"></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="col-sm-4">
                            <div class="form-group">
                                <label for="inputLastName" class="label">Empresa</label>
                                <div class="p-inputgroup">
                                    <div class="p-inputgroup">
                                        <input pInputText type="text" id="documentoFiscal" name="documentoFiscal"
                                            class="hoverDisabled size-large status-basic shape-rectangle nb-transition"
                                            [disabled]="true" style="width:70%; height: 30px;"
                                            [(ngModel)]="produccionForm.documentoCliente" />
                                        &nbsp;
                                        <input pInputText type="text"
                                            class="hoverDisabled  size-medium col-9 status-basic shape-rectangle nb-transition"
                                            style="width:130%; height: 30px;" [disabled]="true"
                                            [(ngModel)]="produccionForm.nombreSCliente" />
                                        <div class="input-group-append">
                                            <button pButton icon="fa fa-times" type="button" title="Limpiar Cliente"
                                                class="p-button-secondary" style="margin-bottom: 5px;"
                                                (click)="coreLimpiarEmpresa()"
                                                style=" height:30px; margin-left: 3px; margin-right: 2px;"></button>
                                            <button pButton icon="fa fa-search" class="botonbuscar" type="button"
                                                (click)="verSelectorEmpresa()" title="Buscar Cliente"></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="inputLastName" class="label">Clasificación</label>
                                <p-dropdown placeholder="Seleccione" [options]="lstEstados" appendTo="body"
                                    [(ngModel)]="produccionForm.clasificacion" [disabled]="puedeEditar">
                                </p-dropdown>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="inputLastName" class="label">Código de examen</label>
                                <input pInputText type="text" placeholder="" [style]="{'width':'100%'}"
                                    [(ngModel)]="produccionForm.codigoExamen" />
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="inputLastName" class="label">Examen</label>
                                <input pInputText type="text" placeholder="" [style]="{'width':'100%'}"
                                    [(ngModel)]="produccionForm.examen" />
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="inputLastName" class="label">Estado</label>
                                <p-dropdown placeholder="Seleccione" [options]="lstEstado" appendTo="body"
                                    [disabled]="puedeEditar" [(ngModel)]="produccionForm.estado" [filter]="true">
                                </p-dropdown>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="inputLastName" class="label">Fecha Inicial</label>
                                <p-calendar [monthNavigator]="true" [yearNavigator]="true" [style]="{'width':'100%'}"
                                    appendTo="body" [disabled]="editarCampos" [inputStyle]="{ 'width':'80%'}"
                                    yearRange="1901:2200" [locale]="es" [showIcon]="true" dateFormat="dd/mm/yy"
                                    [yearNavigator]="true" (onClose)="selectedItemFechaNacimiento(dto.FechaNacimiento)"
                                    [(ngModel)]="produccionForm.fechaInicial">
                                </p-calendar>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="inputLastName" class="label">Fecha Final</label>
                                <p-calendar [monthNavigator]="true" [yearNavigator]="true" [style]="{'width':'100%'}"
                                    appendTo="body" [disabled]="editarCampos" [inputStyle]="{ 'width':'80%'}"
                                    yearRange="1901:2200" [locale]="es" [showIcon]="true" dateFormat="dd/mm/yy"
                                    [yearNavigator]="true" (onClose)="selectedItemFechaNacimiento(dto.FechaNacimiento)"
                                    [(ngModel)]="produccionForm.fechaFinal">
                                </p-calendar>
                            </div>
                        </div>
                    </div>
                </nb-card>
            </p-tabPanel>
        </p-tabView>

        <!-- <div class="row">
            <nb-card class="col-sm-12 fondocard2 bordercard">
                <ngx-auditoria [creacionUsuario]="usuario" [creacionFecha]="fechaCreacion"
                    [modificacionFecha]="fechaModificacion"></ngx-auditoria>
            </nb-card>
        </div> -->
        <!-- <p-fieldset legend="">
            <p-table #dt [rows]="15" [paginator]="true" [rowHover]="true" dataKey="tipousuario" [responsive]="true"
                [sortOrder]="-1" sortField="tipousuario"
                currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
                [showCurrentPageReport]="true">

                <ng-template pTemplate="header">
                    <tr>
                        <th>Nro.</th>

                        <th pSortableColumn="">Descripción<p-sortIcon field="Documento"></p-sortIcon>
                        </th>

                        <th pSortableColumn="">Tipo Admisión<p-sortIcon field="IdOr"></p-sortIcon>
                        </th>
                        <th pSortableColumn="">Tipo Paciente<p-sortIcon field="Paterno"></p-sortIcon>
                        </th>
                        <th pSortableColumn="">Empresa<p-sortIcon field="Materno"></p-sortIcon>
                        </th>
                        <th pSortableColumn="">Sede<p-sortIcon field="Nombre"></p-sortIcon>
                        </th>
                        <th pSortableColumn="">Factor<p-sortIcon field="Nombre"></p-sortIcon>
                        </th>
                        <th pSortableColumn="">Estado<p-sortIcon field="Nombre"></p-sortIcon>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr>
                        <td class="">
                        </td>
                    </tr>

                </ng-template>
            </p-table>
        </p-fieldset> -->

    </ng-template>
    <ng-template pTemplate="footer">
        <p-button label="Guardar" icon="pi pi-save" styleClass="p-button-primary" [disabled]="puedeEditar" type="submit"
            (click)="saveProduct($event)"></p-button>
    </ng-template>



    <!-- <ng-template pTemplate="footer">
        <p-button label="Guardar" icon="pi pi-save" styleClass="p-button-primary" [disabled]="puedeEditar"
        type="submit"   (click)="saveProduct($event)" ></p-button>
    </ng-template> -->




</p-dialog>
<p-toast></p-toast>
<ngx-empresa-buscar></ngx-empresa-buscar>
<ngx-persona-buscar></ngx-persona-buscar>
<ngx-aseguradora-buscar></ngx-aseguradora-buscar>